:root {
  --btn-fg-color: var(--fg-color-3);
  --btn-fg-color-hover: var(--fg-color-1);
  --btn-fg-color-active: var(--fg-color);
  --btn-fg-color-selected: var(--bg-color);
  --btn-fg-color-focused: var(--primary-color);
  --btn-fg-color-primary: var(--bg-color);
  --btn-fg-color-primary-hover: var(--bg-color);
  --btn-fg-color-primary-active: var(--bg-color);
  --btn-fg-color-primary-selected: var(--bg-color);
  --btn-fg-color-reset: mistyrose;
  --btn-fg-color-reset-hover: mistyrose;
  --btn-fg-color-reset-active: mistyrose;
  --btn-fg-color-reset-selected: salmon;
  --btn-fg-color-submit: var(--bg-color);
  --btn-fg-color-submit-hover: var(--bg-color);
  --btn-fg-color-submit-active: var(--bg-color);
  --btn-fg-color-submit-selected: var(--bg-color);

  --btn-bg-color: none;
  --btn-bg-color-hover: var(--bg-color-1);
  --btn-bg-color-active: var(--bg-color-2);
  --btn-bg-color-selected: var(--fg-color-5);
  --btn-bg-color-focused: var(--primary-color-3);
  --btn-bg-color-primary: var(--primary-color);
  --btn-bg-color-primary-hover: var(--primary-color-1);
  --btn-bg-color-primary-active: var(--primary-color);
  --btn-bg-color-primary-selected: var(--primary-color);
  --btn-bg-color-reset: firebrick;
  --btn-bg-color-reset-hover: crimson;
  --btn-bg-color-reset-active: firebrick;
  --btn-bg-color-reset-selected: darkred;
  --btn-bg-color-submit: seagreen;
  --btn-bg-color-submit-hover: mediumseagreen;
  --btn-bg-color-submit-active: darkgreen;
  --btn-bg-color-submit-selected: darkgreen;

  --btn-border-color: var(--border-color);
  --btn-border-color-primary: var(--primary-color);
  --btn-border-color-reset: firebrick;
  --btn-border-color-submit: seagreen;
}

:is(button, .button, input[type=submit], input[type=reset]) {
  width: max-content;
  margin: 0;
  padding: 0.5rem 0.75rem;
  display: inline-block;
  color: var(--btn-fg-color);
  background: var(--btn-bg-color);
  box-shadow: var(--preset-shadow-widget);
  border: var(--border-width) solid var(--btn-border-color);
  border-radius: var(--border-radius);
  font-family: var(--font-family-widget);
  font-size: inherit;
  font-weight: 600;
  text-decoration: none;
  cursor: pointer;
}
:is(button, .button, input[type=submit], input[type=reset]):hover {
  color: var(--btn-fg-color-hover);
  background: var(--btn-bg-color-hover);
  text-decoration: none;
}
:is(button, .button, input[type=submit], input[type=reset]):active {
  color: var(--btn-fg-color-active);
  background: var(--btn-bg-color-active);
  box-shadow: var(--preset-shadow-widget-inset);
  transform: translateY(5%);
  transition: var(--transition);
}
:is(button, .button, input[type=submit], input[type=reset]).active {
  color: var(--btn-fg-color-selected);
  background: var(--btn-bg-color-selected);
}
:is(button, .button, input[type=submit], input[type=reset]):is(:disabled, .disabled) {
  outline: none;
  opacity: 0.5;
  filter: saturate(0);
  cursor: default;
  pointer-events: none;
}
:is(button, .button, input[type=submit], input[type=reset]):focus {
  border-color: var(--btn-fg-color-hover);
  outline: 1px dotted darkgray;
  outline-offset: 1px;
}

input[type=reset] {
  color: var(--btn-fg-color-reset);
  background: var(--btn-bg-color-reset);
  border-color: var(--btn-border-color-reset);
}
input[type=reset]:hover {
  color: var(--btn-fg-color-reset-hover);
  background: var(--btn-bg-color-reset-hover);
}
input[type=reset]:active {
  color: var(--btn-fg-color-reset-active);
  background: var(--btn-bg-color-reset-active);
}
input[type=reset].active {
  color: var(--btn-fg-color-reset-selected);
  background: var(--btn-bg-color-reset-selected);
}

input[type=submit] {
  color: var(--btn-fg-color-submit);
  background: var(--btn-bg-color-submit);
  border-color: var(--btn-border-color-submit);
}
input[type=submit]:hover {
  color: var(--btn-fg-color-submit-hover);
  background: var(--btn-bg-color-submit-hover);
}
input[type=submit]:active {
  color: var(--btn-fg-color-submit-active);
  background: var(--btn-bg-color-submit-active);
}
input[type=submit].active {
  color: var(--btn-fg-color-submit-selected);
  background: var(--btn-bg-color-submit-selected);
}

:is(button, .button, input[type=submit], input[type=reset]).primary {
  color: var(--btn-fg-color-primary);
  background: var(--btn-bg-color-primary);
  border-color: var(--btn-border-color-primary);
}
:is(button, .button, input[type=submit], input[type=reset]).primary:hover {
  color: var(--btn-fg-color-primary-hover);
  background: var(--btn-bg-color-primary-hover);
}
:is(button, .button, input[type=submit], input[type=reset]).primary:active {
  color: var(--btn-fg-color-primary-active);
  background: var(--btn-bg-color-primary-active);
}
:is(button, .button, input[type=submit], input[type=reset]).primary.active {
  color: var(--btn-fg-color-primary-selected);
  background: var(--btn-bg-color-primary-selected);
}

:is(button, .button, input[type=submit], input[type=reset]).iconOnly {
  margin: -0.25rem 0rem;
  padding: 0.325rem;
  width: max-content;
  height: max-content;
  display: inline-flex;
  flex-flow: row;
  align-items: center;
  justify-content: center;
}
:is(button, .button, input[type=submit], input[type=reset]).iconOnly svg {
  width: 1.25rem;
  height: 1.25rem;
  padding: 0;
  color: inherit;
}

small :is(button, .button, input[type=submit], input[type=reset]) {
  padding: 0.25rem 0.5rem;
  font-size: 0.8rem;
  font-weight: normal;
}
