:root {
  --btn-fg-color: gray;
  --btn-fg-color-hover: dimgray;
  --btn-fg-color-active: var(--fg-color);
  --btn-fg-color-selected: var(--primary-color-3);
  --btn-fg-color-focused: var(--primary-color);
  --btn-fg-color-primary: var(--primary-color);
  --btn-fg-color-primary-hover: var(--primary-color);
  --btn-fg-color-primary-active: var(--bg-color);
  --btn-fg-color-primary-selected: var(--bg-color);

  --btn-bg-color: none;
  --btn-bg-color-hover: lightgray;
  --btn-bg-color-active: gray;
  --btn-bg-color-selected: var(--primary-color);
  --btn-bg-color-focused: var(--primary-color-3);
  --btn-bg-color-primary: var(--primary-color-5);
  --btn-bg-color-primary-hover: var(--primary-color-4);
  --btn-bg-color-primary-active: var(--primary-color);
  --btn-bg-color-primary-selected: var(--primary-color);

  --btn-border-color: var(--bg-color-3);
}

.backToTopFloat {
  width: min-content;
  margin-inline: auto;
  padding: 1rem;

  display: inline-flex;
  flex-flow: row;
  align-items: center;
  justify-content: center;

  position: sticky;
  bottom: 0;
  z-index: 200;
}
.backToTopFloat :is(button, .button, input[type=submit], input[type=reset]) {
  background: var(--bg-color);
  font-size: 75%;
}

:is(button, .button, input[type=submit], input[type=reset]) {
  width: max-content;
  margin: 0;
  padding: 0.25rem 0.5rem;

  color: var(--btn-fg-color);
  background: var(--btn-bg-color);
  border: 1px solid var(--btn-border-color);
  border-radius: 5px;

  font-family: var(--font-family-widget);
  font-size: inherit;
  font-weight: 600;
  text-decoration: none;

  cursor: pointer;
}
:is(button, .button, input[type=submit], input[type=reset]):hover {
  color: var(--btn-fg-color-hover);
  background: var(--btn-bg-color-hover);

  text-decoration: none;
}
:is(button, .button, input[type=submit], input[type=reset]):active {
  color: var(--btn-fg-color-active);
  background: var(--btn-bg-color-active);
}
:is(button, .button, input[type=submit], input[type=reset]).active {
  color: var(--btn-fg-color-selected);
  background: var(--btn-bg-color-selected);
}
:is(button, .button, input[type=submit], input[type=reset]):is(:disabled, .disabled) {
  outline: none;

  opacity: 0.5;
  filter: saturate(0);

  cursor: default;
  pointer-events: none;
}
:is(button, .button, input[type=submit], input[type=reset]):focus {
  border-color: var(--btn-fg-color-hover);
  outline: 1px dotted darkgray;
  outline-offset: 1px;
}

:is(button, .button, input[type=submit], input[type=reset]).primary {
  color: var(--btn-fg-color-primary);
  background: var(--btn-bg-color-primary);
  border-color: var(--btn-fg-color-primary);
}
:is(button, .button, input[type=submit], input[type=reset]).primary:hover {
  color: var(--btn-fg-color-primary-hover);
  background: var(--btn-bg-color-primary-hover);
}
:is(button, .button, input[type=submit], input[type=reset]).primary:active {
  color: var(--btn-fg-color-primary-active);
  background: var(--btn-bg-color-primary-active);
}
:is(button, .button, input[type=submit], input[type=reset]).primary.active {
  color: var(--btn-fg-color-primary-selected);
  background: var(--btn-bg-color-primary-selected);
}
