header {
  width: 100%;
  margin: 0;
  top: 0;
  left: 0;
  padding: 0.5rem 1rem;
  z-index: 100;
  position: relative;
  display: inline-flex;
  flex-flow: row;
  align-items: center;
  justify-content: space-between;
  background: none;
}

header h1 {
  margin: 0;
  padding: 0;
}
header h1 :is(a, a:hover, a:active) {
  color: var(--fg-color);
  text-decoration: none;
}

nav {
  width: min-content;
  height: 100%;
  margin: 0;
  padding: 0;
  display: inline-flex;
  flex-flow: row;
  align-items: center;
  justify-content: flex-end;
}
nav ul {
  list-style: none;
  width: 100%;
  margin: 0;
  padding: 0;
  display: inline-flex;
  flex-flow: row;
  align-items: center;
  justify-content: flex-end;
  gap: 0.25rem;
}
nav li {
  margin: 0;
  padding: 0;
  display: inline-flex;
  flex-flow: row;
  align-items: center;
  justify-content: flex-start;
  white-space: nowrap;
  cursor: pointer;
}
nav li a {
  margin: 0;
  padding: 0.25rem 0.5rem;
  color: var(--fg-color-8);
  font-weight: bold;
  text-decoration: none;
  transition: var(--transition);
}
nav li a:hover {
  color: var(--fg-color-2);
  text-decoration: none;
  transition: var(--transition);
}
nav li a:active {
  color: var(--fg-color);
  transition: var(--transition);
}
nav li.active :is(a, a:hover) {
  color: var(--fg-color);
  transition: var(--transition);
}

nav.overlay-menu {
  width: 100%;
  display: inline-flex;
  flex-flow: column;
  align-items: flex-start;
  justify-content: flex-start;
}
nav.overlay-menu ul {
  width: 100%;
  margin: 0;
  padding: 0;
  display: inline-flex;
  flex-flow: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 0;
}
nav.overlay-menu li {
  width: 100%;
}
nav.overlay-menu li a {
  width: 100%;
  padding: 0.75rem 1.5rem;
  font-size: 2rem;
  text-align: right;
}

#overlay-menu-btn {
  height: min-content;
  display: none;
  flex-flow: row;
  align-items: center;
  justify-content: center;
}

@media (max-width: 1023px) {
  header h1 {
    font-size: 1.5rem;
  }
  nav.navbar-menu {
    display: none;
  }
  #overlay-menu-btn {
    display: inline-flex;
  }
}
