:root {
  --navbar-header-bg: var(--bg-color);
  --navbar-header-fg: var(--fg-color);

  --navbar-nav-bg: none;
  --navbar-nav-bg-hover: var(--bg-color);
  --navbar-nav-bg-active: var(--primary-color);
  --navbar-nav-fg: var(--fg-color-7);
  --navbar-nav-fg-hover: var(--fg-color);
  --navbar-nav-fg-active: var(--bg-color);
}

header {
  width: 100%;
  margin: 0 auto;
  top: 0;
  left: 0;
  padding: 0rem 1rem;
  z-index: 100;
  position: sticky;
  display: inline-flex;
  flex-flow: row;
  align-items: center;
  justify-content: space-between;
  color: var(--navbar-header-fg);
  background: var(--navbar-header-bg);
  box-shadow: none;
  border: 1px solid transparent;
  transition: var(--transition);
}

header.with-shadow {
  max-width: 1024px;
  width: 100%;
  margin: 1rem;
  top: 1rem;
  left: 1rem;
  right: 1rem;
  padding: 0rem 0.5rem;
  align-self: center;
  background: rgba(0, 0, 0, 0.5);
  border-color: var(--border-color);
  border-radius: 64px;
  backdrop-filter: blur(8px);
  transition: var(--transition);
}

@media (max-width: 1023px) {
  header.with-shadow {
    max-width: 720px;
    background: rgba(0, 0, 0, 0.5);
  }
}
@media (max-width: 767px) {
  header.with-shadow {
    max-width: 90%;
    background: rgba(0, 0, 0, 0.5);
  }
}

header .site-home-link {
  margin: 0;
  padding: 0.325rem 0rem;
  display: inline-flex;
  flex-flow: row;
  align-items: center;
  justify-content: flex-start;
  gap: 0.5rem
}
header .site-home-link h1 {
  margin: 0;
  padding: 0;
  font-size: 1.5rem;
  font-weight: 900;
  transition: var(--transition);
}
header .site-home-link h1:hover {
  text-shadow: var(--header-text-shadow-small);
  transition: var(--transition);
}
header .site-home-link :is(a, a:hover, a:active) {
  margin: 0;
  padding: 0;
  color: var(--navbar-header-fg);
  text-decoration: none;
}

nav {
  height: 100%;
  margin: 0;
  padding: 0;
  display: inline-flex;
  flex-flow: row;
  align-items: center;
  justify-content: flex-end;
}
nav ul {
  list-style: none;
  height: 100%;
  margin: 0;
  padding: 0.5rem 0rem;
  display: inline-flex;
  flex-flow: row;
  align-items: center;
  justify-content: flex-end;
  gap: 0.5rem;
  font-size: 90%;
}
nav li {
  height: 100%;
  margin: 0;
  padding: 0;
  display: inline-flex;
  flex-flow: row;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  cursor: pointer;
}
nav li a {
  height: 100%;
  margin: 0;
  padding: 0rem 0.75rem;
  display: inline-flex;
  flex-flow: row;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  color: var(--navbar-nav-fg);
  background: var(--navbar-nav-bg);
  border-radius: 64px;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
  transition: var(--transition);
}
nav li a:hover {
  color: var(--navbar-nav-fg-hover);
  background: var(--navbar-nav-bg-hover);
  text-decoration: none;
  transition: var(--transition);
}
nav li a:active {
  color: var(--navbar-nav-fg-active);
  background: var(--navbar-nav-bg-active);
  border-bottom-color: var(--navbar-nav-fg-active);
  transition: var(--transition);
}
nav li.active :is(a, a:hover) {
  color: var(--navbar-nav-fg-active);
  background: var(--navbar-nav-bg-active);
  border-bottom-color: var(--primary-color);
  transition: var(--transition);
}

nav.overlay-menu {
  width: 100%;
  display: inline-flex;
  flex-flow: column;
  align-items: flex-start;
  justify-content: flex-start;
}
nav.overlay-menu ul {
  width: 100%;
  margin: 0;
  padding: 0;
  display: inline-flex;
  flex-flow: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 0;
}
nav.overlay-menu li {
  width: 100%;
}
nav.overlay-menu li :is(a, a.active) {
  width: 100%;
  padding: 0.75rem 1.5rem;
  background: none;
  font-size: 2rem;
  text-align: right;
}

#overlay-menu-btn {
  display: none;
}

#mobile-search-btn {
  display: inline-flex;
}

@media (max-width: 1023px) {
  header h1 {
    display: none;
    font-size: 1.5rem;
  }
  nav.navbar-menu {
    display: none;
  }
  nav.overlay-menu {
    --navbar-menu-fg: var(--fg-color-8);
    --navbar-menu-fg-hover: var(--fg-color-2);
    --navbar-menu-fg-active: var(--fg-color);
  }
  nav.overlay-menu li a {
    color: var(--fg-color-8);
    justify-content: flex-end;
    border-width: 0;
  }
  nav.overlay-menu li a:hover {
    color: var(--fg-color-2);
  }
  nav.overlay-menu li a:active,
  nav.overlay-menu li.active :is(a, a:hover) {
    color: var(--fg-color);
  }
  #overlay-menu-btn {
    display: inline-flex;
  }
}
@media (max-width: 767px) {
  header {
    width: 100%;
    border-radius: 0;
  }
}
