.admin-projects-list-header {
  width: 100%;
  margin: 0;
  padding: 0.5rem;
  display: inline-flex;
  flex-flow: row;
  align-items: stretch;
  justify-content: flex-end;
  gap: 0.75rem;
  border-bottom: var(--border-width) solid var(--border-color);
  font-family: var(--font-family-widget);
}
.admin-projects-list-header > a {
  font-size: 0.8rem;
  white-space: nowrap;
}

.admin-projects-list {
  width: 100%;
  margin: 0;
  padding: 0.5rem;
  display: inline-flex;
  flex-flow: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 0;
}
.admin-projects-list > ul {
  list-style: none;
  width: 100%;
  margin: 0;
  padding: 0;
  display: inline-flex;
  flex-flow: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 0.25rem;
}
.admin-projects-list > ul > li {
  width: 100%;
  margin: 0;
  padding: 0;
  display: inline-flex;
  flex-flow: row;
  align-items: center;
  justify-content: flex-start;
}

.admin-projects-list > ul > li > span.admin-post-checkbox {
  margin: -0.25rem;
  padding: 0.5rem;
  display: inline-flex;
  flex-flow: row;
  align-items: center;
  justify-content: center;
  background: none;
  border-radius: 100%;
}
.admin-projects-list > ul > li > span.admin-post-checkbox:hover {
  background: var(--bg-color-2);
  transition: var(--transition);
}
.admin-projects-list > ul > li > span.admin-post-checkbox:active {
  background: var(--bg-color-3);
  transition: var(--transition);
}
.admin-projects-list > ul > li > span.admin-post-checkbox > input[type=checkbox] {
  width: 1rem;
  height: 1rem;
  padding: 2rem;
  display: inline-block;
  border: var(--border-width) solid var(--border-color);
  scale: 1;
  transition: var(--transition);
}
.admin-projects-list > ul > li > span.admin-post-checkbox > input[type=checkbox]:hover {
  scale: 1.25;
  transition: var(--transition);
}
.admin-projects-list > ul > li > span.admin-post-checkbox > input[type=checkbox]:active {
  scale: 1;
  transition: var(--transition);
}
.admin-projects-list > ul > li > span.admin-post-checkbox > input[type=checkbox]:checked {
  transition: var(--transition);
}

.admin-projects-list > ul > li > a {
  width: 100%;
  margin: 0;
  padding: 0.5rem 0.75rem;
  display: inline-flex;
  flex-flow: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 0.25rem;
  color: var(--fg-color);
  background: none;
  border-radius: var(--border-radius);
  font-family: var(--font-family-widget);
  text-decoration: none;
}
.admin-projects-list > ul > li > a:hover {
  background: var(--bg-color-1);
}
.admin-projects-list > ul > li > a:active {
  background: var(--bg-color-3);
}

.admin-projects-list > ul > li > a > h3 {
  width: 100%;
  margin: 0;
  padding: 0;
  font-size: 1.5rem;
  font-weight: bold;
  text-overflow: ellipsis;
  white-space: nowrap;
  line-clamp: 1;
  overflow: hidden
}
.admin-projects-list > ul > li > a > sub {
  color: var(--fg-color-5);
  font-size: 0.75rem;
  font-weight: normal;
}