:is(input[type=text], input[type=email], input[type=password], input[type=password], input[type=search], textarea) {
  margin: 0;
  padding: 0.5rem 0.75rem;
  color: var(--fg-color);
  background: var(--bg-color);
  box-shadow: var(--preset-shadow-textfield);
  border-width: 1px;
  border-style: solid;
  border-color: var(--border-color);
  border-radius: var(--border-radius);
  font-size: 1rem;
  font-family: var(--font-family-widget);
}
:is(input[type=text], input[type=email], input[type=password], input[type=password], input[type=search], textarea):hover {
  border-color: var(--fg-color-5);
}
:is(input[type=text], input[type=email], input[type=password], input[type=password], input[type=search], textarea):focus {
  border-color: var(--primary-color);
  outline: none;
}
:is(input[type=text], input[type=email], input[type=password], input[type=password], input[type=search], textarea)::placeholder {
  color: var(--fg-color-9);
  font-style: italic;
}