.nowWatchingShowCard {
  padding: 0;

  display: inline-flex;
  flex-flow: column;
  align-items: center;
  justify-content: flex-start;

  cursor: pointer;
}

.nowWatchingShowCard h3 {
  margin: 0rem 0rem 1rem 0rem;
}

.nowWatchingShowCard .poster {
  width: auto;
  height: min-content;

  display: inline-flex;
}
.nowWatchingShowCard .poster img {
  height: 256px;
  border-radius: 5px;
}
.nowWatchingShowCard:hover .poster img {
  box-shadow: 0px 4px 8px var(--shadow-2);
}
.nowWatchingShowCard:active .poster img {
  box-shadow: none;
}

.nowWatchingShowCard .metadata {
  padding: 0.5rem;

  display: inline-flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;

  text-align: center;
}
@media (max-width: 767px) {
  .nowWatchingShowCard .metadata {
    padding: 0;
  }
}

.nowWatchingShowCard .metadata h4 {
  margin: 0.5rem 0rem;
  padding: 0;
  font-weight: 800;
}
.nowWatchingShowCard .metadata sub {
  color: var(--fg-color-3);
  font-family: var(--font-family-widget);
}
