a.nowWatchingShowCard,
a.nowWatchingShowCard:hover {
  text-decoration: none;
}
.nowWatchingShowCard {
  width: 100%;
  height: 100%;
  padding: 1rem 0.5rem;

  display: inline-flex;
  flex-flow: column;
  align-items: center;
  justify-content: flex-start;

  color: var(--fg-color);
  border-radius: 9px;

  cursor: pointer;
}
.nowWatchingShowCard:is(:hover, :focus) {
  background: var(--bg-color-1);
}
.nowWatchingShowCard:active {
  background: var(--bg-color-2);
}

.nowWatchingShowCard h3 {
  margin: 0rem 0rem 1rem 0rem;
}

.nowWatchingShowCard .poster {
  width: auto;
  height: min-content;

  display: inline-flex;
}
.nowWatchingShowCard .poster img {
  height: 256px;
  border-radius: 5px;

  -webkit-user-drag: none;
}
.nowWatchingShowCard:is(:hover, :focus) .poster img {
  box-shadow: 0px 4px 8px var(--shadow-2);
}
.nowWatchingShowCard:hover .poster img {
  transform: scale(1.02);
  transition: 0.2s;
}
.nowWatchingShowCard:active .poster img {
  transform: scale(1);
}

.nowWatchingShowCard .metadata {
  padding: 0.5rem;

  display: inline-flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;

  text-align: center;
}
@media (max-width: 767px) {
  .nowWatchingShowCard .metadata {
    padding: 0;
  }
}

.nowWatchingShowCard .metadata h4 {
  margin: 0.5rem 0rem;
  padding: 0;
  font-weight: 800;
}

.nowWatchingShowCard .metadata sub {
  color: var(--fg-color-3);
  font-family: var(--font-family-widget);
}

.nowWatchingShowCard .metadata .mustWatchBadge {
  margin: 0.5rem 0rem 0rem 0rem;
}
