.now-entry-footer {
  width: 100%;
  display: inline-flex;
  flex-flow: row;
  align-items: center;
  justify-content: space-between;
  color: var(--fg-color-5);
  font-size: 0.8rem;
  text-transform: uppercase;
}
