article.topLevelPage.pageNowWatching {
  max-width: 1280px;
}

.pageNowWatching .pageNowWatchingSection .cardList {
  display: grid;
  grid-template-columns: repeat(auto-fit, 256px);
  justify-content: center;
}

.pageNowWatching .pageNowWatchingSection h3 {
  margin-bottom: 2rem;
}
