.container {
  width: 100%;
  margin: 0;
  padding: 0;
  display: inline-flex;
  flex-flow: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 2rem;
}

.group {
  width: 100%;
  display: inline-flex;
  flex-flow: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 0.5rem;
}

.group h3 {
  width: 100%;
  margin-bottom: 0.5rem;
  display: inline-flex;
  flex-flow: row;
  align-items: center;
  justify-content: space-between;
  border-bottom-width: 3px;
  border-bottom-style: solid;
  border-bottom-color: var(--border-color);
  font-size: 1.5rem;
  user-select: none;
  cursor: pointer;
}
.group h3:hover {
  color: var(--primary-color);
}

.group ul {
  width: 100%;
  list-style: none;
  display: inline-flex;
  flex-flow: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 1rem;
}

.group ul li {
  width: 100%;
  padding: 1.5rem;
  display: inline-flex;
  flex-flow: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 0.5rem;
  background: var(--bg-color-1);
  border-radius: var(--border-radius);
}
.group ul li p {
  padding-block: 0.5rem;
}

.projectHeader {
  width: 100%;
  display: inline-flex;
  flex-flow: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: 0.5rem;
}
.projectHeader h4 {
  font-size: 1.25rem;
}
.projectHeader sub {
  color: var(--fg-color-5);
  font-size: 1rem;
}

@media (max-width: 1023px) {
  .projectHeader {
    flex-flow: column;
    justify-content: flex-start;
  }
}
