.animation-delay-1s { animation-delay: 1s !important }
.animation-delay-2s { animation-delay: 2s !important }
.animation-delay-3s { animation-delay: 3s !important }

@keyframes enter-pop-transition {
  from {
      opacity: 0;
      transform: scale(0.98);
  }
  to {
      opacity: 1;
      transform: scale(1);
  }
}

@keyframes enter-left-transition {
  from {
      opacity: 0;
      transform: translateX(-5%);
  }
  to {
      opacity: 1;
      transform: translateX(0%);
  }
}

@keyframes enter-right-transition {
  from {
      opacity: 0;
      transform: translateX(5%);
  }
  to {
      opacity: 1;
      transform: translateX(0%);
  }
}

@keyframes enter-up-transition {
  from {
      opacity: 0;
      transform: translateY(10%);
  }
  to {
      opacity: 1;
      transform: translateY(0%);
  }
}

@keyframes enter-down-transition {
  from {
      opacity: 0;
      transform: translateY(-10%);
  }
  to {
      opacity: 1;
      transform: translateY(0%);
  }
}

.transition-enter-pop {
  animation: enter-pop-transition ease 0.25s;
}
.transition-enter-left {
  animation: enter-left-transition ease 0.25s;
}
.transition-enter-right {
  animation: enter-right-transition ease 0.25s;
}
.transition-enter-up {
  animation: enter-up-transition ease 0.25s;
}
.transition-enter-down {
  animation: enter-down-transition ease 0.25s;
}

@keyframes bounce {
  0% {
    transform: translateX(200%) scale(2) rotate(0deg);
    filter: blur(0px) hue-rotate(0deg);
  }
  25% {
    transform: translateX(0%) scale(0) rotate(-90deg);
    filter: blur(5px) hue-rotate(180deg);
  }
  50% {
    transform: translateX(-200%) scale(3) rotate(180deg);
    filter: blur(0px) hue-rotate(270deg);
  }
  25% {
    transform: translateX(0%) scale(0) rotate(-270deg);
    filter: blur(5px) hue-rotate(180deg);
  }
  100% {
    transform: translateX(200%) scale(2) rotate(360deg);
    filter: blur(0px) hue-rotate(0deg);
  }
}

@media (prefers-reduced-motion: reduce) {
  .transition-enter-pop {
    animation: none !important;
  }
  .transition-enter-left {
    animation: none !important;
  }
  .transition-enter-right {
    animation: none !important;
  }
  .transition-enter-up {
    animation: none !important;
  }
  .transition-enter-down {
    animation: none !important;
  }

  @keyframes enter-pop-transition {
    100% {
        opacity: 1;
        transform: scale(1);
    }
  }
  
  @keyframes enter-left-transition {
    100% {
        opacity: 1;
        transform: translateX(0%);
    }
  }
  
  @keyframes enter-right-transition {
    100% {
        opacity: 1;
        transform: translateX(0%);
    }
  }
  
  @keyframes enter-up-transition {
    100% {
        opacity: 1;
        transform: translateY(0%);
    }
  }
  
  @keyframes enter-down-transition {
    100% {
        opacity: 1;
        transform: translateY(0%);
    }
  }
}