.button, button, .tabbar, .tabbar-item, .tabbar-vertical-item, .list-freestyle li {
  font-family: var(--FONT-FAMILY-BODY);
  /* font-weight: bold; */
}

.button, button, .tabbar, .tabbar-item {
  display: inline-flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
}
.tabbar {
  flex-flow: row;
}

.button, button {
  color: var(--BUTTON-FG-COLOR);
  background: var(--BUTTON-BG-COLOR);
  border-color: var(--BUTTON-BORDER-COLOR);
  border-width: var(--BUTTON-BORDER-WIDTH);
  border-style: solid;
  border-radius: var(--BUTTON-BORDER-RADIUS);
  box-shadow: var(--BUTTON-BOX-SHADOW);
  font-size: inherit;
  margin: 0;
  padding: 0.75rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  transition: var(--TRANSITION);
  
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
  supported by Chrome, Edge, Opera and Firefox */
}
.button:hover, button:hover,
.button:focus, button:focus {
  color: var(--BUTTON-FG-COLOR-HOVER);
  background: var(--BUTTON-BG-COLOR-HOVER);
  border-color: var(--BUTTON-BORDER-COLOR-HOVER);
  box-shadow: var(--BUTTON-BOX-SHADOW-HOVER);
  text-decoration: none !important;
  transition: var(--TRANSITION);
}
.button:active, button:active {
  color: var(--BUTTON-FG-COLOR-ACTIVE);
  background: var(--BUTTON-BG-COLOR-ACTIVE);
  border-color: var(--BUTTON-BORDER-COLOR-ACTIVE);
  box-shadow: var(--BUTTON-BOX-SHADOW-ACTIVE);
  transition: var(--TRANSITION);
}
.button:focus, button:focus {
  outline: none !important;
  color: var(--BUTTON-FG-COLOR-ACTIVE);
  background: var(--BUTTON-BG-COLOR-ACTIVE);
  border-color: var(--BUTTON-BORDER-COLOR-FOCUS) !important;
}
.button-selected, .button-selected:hover {
  color: var(--BUTTON-FG-COLOR-SELECTED);
  background: var(--BUTTON-BG-COLOR-SELECTED);
  border-color: var(--BUTTON-BORDER-COLOR-SELECTED);
  box-shadow: var(--BUTTON-BOX-SHADOW-ACTIVE);
  transition: var(--TRANSITION);
}

.button-borderless {
  padding: 0.75rem !important;
  padding-top: 0.5rem !important;
  padding-bottom: 0.5rem !important;
  color: var(--FG-COLOR) !important;
  background: none !important;
  border-width: 0 !important;
  box-shadow: none !important;
}
.button-borderless:hover img {
  filter: none;
}

.button-hv-reveal {
  color: var(--FG-COLOR) !important;
  background: none !important;
  border-width: 0 !important;
  box-shadow: none !important;
  font-size: inherit;
  transition: var(--TRANSITION);
}
.button-hv-reveal:hover {
  color: var(--BG-COLOR) !important;
  background: var(--ACCENT-PRIMARY-COLOR) !important;
  transition: var(--TRANSITION);
}
.button-hv-reveal:active {
  color: var(--BG-COLOR) !important;
  background: var(--FG-COLOR) !important;
  transition: var(--TRANSITION);
}
.button-hv-reveal:hover .icon {
  filter: invert(1);
}
.button-hv-reveal:disabled:hover {
  color: var(--BUTTON-FG-COLOR-DISABLED) !important;
  background: var(--BUTTON-BG-COLOR-DISABLED) !important;
  cursor: default !important;
}
.button-hv-reveal-selected {
  color: var(--BUTTON-FG-COLOR-SELECTED) !important;
  background: var(--BUTTON-BG-COLOR-SELECTED) !important;
}

.button-accent {
  background: var(--ACCENT-PRIMARY-COLOR);
  color: var(--BG-COLOR);
  border-color: var(--ACCENT-PRIMARY-COLOR);
}
.button-accent:hover,
.button-accent:focus {
  background: var(--ACCENT-SECONDARY-COLOR);
  color: var(--BG-COLOR);
  border-color: var(--ACCENT-PRIMARY-COLOR);
}
.button-accent:active {
  background: var(--FG-COLOR);
  color: var(--BG-COLOR);
  border-color: var(--ACCENT-PRIMARY-COLOR);
}

.button-fg,
.button-fg:focus {
  background: var(--FG-COLOR);
  color: var(--BG-COLOR);
  border-color: var(--FG-COLOR);
}
.button-fg:hover {
  background: var(--BG-COLOR);
  color: var(--FG-COLOR);
  border-color: var(--BG-COLOR);
}
.button-fg:active {
  background: var(--FG-COLOR);
  color: var(--BG-COLOR);
  border-color: var(--FG-COLOR);
}

.button-red {
  background: firebrick;
  color: white;
  border-color: darkred;
}
.button-red:hover,
.button-red:focus {
  background: #a11b1b;
  color: white;
  border-color: darkred;
}
.button-red:active {
  background: darkred;
  color: white;
  border-color: darkred;
}

.button-green {
  background: green;
  color: white;
  border-color: darkgreen;
}
.button-green:hover,
.button-green:focus {
  background: #007500;
  color: white;
  border-color: darkgreen;
}
.button-green:active {
  background: darkgreen;
  color: white;
  border-color: darkgreen;
}

.button-borderless {
  background: none !important;
  border-width: 0 !important;
  box-shadow: none !important;
}
.button-borderless:hover img {
  filter: none;
}

.button-disabled, button:disabled,
.button-disabled:hover, button:disabled:hover,
.button-disabled:active, button:disabled:active {
  color: var(--BUTTON-FG-COLOR-DISABLED);
  background: var(--BUTTON-BG-COLOR-DISABLED);
  border-color: var(--BUTTON-BORDER-COLOR-DISABLED);
  box-shadow: none;
}

.button-circle {
  border-radius: 100% !important;
  line-height: 1 !important;
}
.button-circle-s {
  width: 1.5rem !important;
  height: 1.5rem !important;
}
.button-circle-m {
  width: 1.75rem !important;
  height: 1.75rem !important;
}
.button-circle-l {
  width: 2.25rem !important;
  height: 2.25rem !important;
}
.button-circle-xl {
  width: 3rem !important;
  height: 3rem !important;
}
.button-circle-xxl {
  width: 3.5rem !important;
  height: 3.5rem !important;
}

.button-toolbar {
  color: var(--FG-COLOR);
  background: none;
  border-width: 0;
  border-radius: 0;
  box-shadow: none;
  height: 100%;
}
.button-toolbar:hover,
.button-toolbar:active {
  color: var(--BUTTON-FG-COLOR-HOVER);
  background: var(--BUTTON-BG-COLOR-HOVER);
  border-radius: 0;
  box-shadow: none;
}
.button-toolbar:active {
  background: var(--BUTTON-BG-COLOR-ACTIVE);
}

.row .button, .row button {
  margin-right: 1rem !important;
}
.row .button:last-child, .row button:last-child {
  margin-right: 0;
}

.tabbar {
  font-family: var(--FONT-FAMILY-HEADER);
  display: inline-flex;
  justify-content: flex-start;
  align-items: stretch;
  border-width: var(--CARD-BORDER-WIDTH);
  border-style: solid;
  border-color: var(--TABBAR-BORDER-COLOR);
  border-radius: var(--BUTTON-BORDER-RADIUS);
  box-shadow: var(--BUTTON-BOX-SHADOW);
  transition: var(--TRANSITION);
}
.tabbar:hover {
  border-color: var(--TABBAR-BORDER-COLOR-HOVER);
  box-shadow: var(--BUTTON-BOX-SHADOW-HOVER);
  transition: var(--TRANSITION);
}
.tabbar-item {
  color: var(--TABBAR-ITEM-FG-COLOR);
  background: var(--TABBAR-ITEM-BG-COLOR);
  border: none;
  border-radius: 0;
  box-shadow: none;
  font-size: inherit;
  margin: 0;
  padding: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  transition: var(--TRANSITION);
  
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
  supported by Chrome, Edge, Opera and Firefox */
}
.tabbar-item:first-child {
  padding-left: 1.125rem !important;
  border-left-width: var(--BUTTON-BORDER-WIDTH);
  border-top-left-radius: var(--BUTTON-BORDER-RADIUS);
  border-bottom-left-radius: var(--BUTTON-BORDER-RADIUS);
}
.tabbar-item:last-child {
  padding-right: 1.125rem !important;
  border-right-width: var(--BUTTON-BORDER-WIDTH);
  border-top-right-radius: var(--BUTTON-BORDER-RADIUS);
  border-bottom-right-radius: var(--BUTTON-BORDER-RADIUS);
}
.tabbar-item:hover,
.tabbar-item:focus {
  color: var(--TABBAR-ITEM-FG-COLOR-HOVER);
  background: var(--TABBAR-ITEM-BG-COLOR-HOVER);
  box-shadow: none;
  text-decoration: none !important;
  transition: var(--TRANSITION);
}
.tabbar-item:active {
  color: var(--TABBAR-ITEM-FG-COLOR-ACTIVE);
  background: var(--TABBAR-ITEM-BG-COLOR-ACTIVE);
  box-shadow: none;
  transition: var(--TRANSITION);
}
.tabbar-item:focus {
  outline: none !important;
  transition: var(--TRANSITION);
}
.tabbar-item.router-link-active,
.tabbar-item-current,
.tabbar-item.router-link-active:focus,
.tabbar-item-current:focus {
  color: var(--TABBAR-ITEM-FG-COLOR-SELECTED);
  background: var(--TABBAR-ITEM-BG-COLOR-SELECTED);
  box-shadow: none;
}

.tabbar-vertical-item {
  color: var(--TABBAR-VERTICAL-ITEM-FG-COLOR);
  background: var(--TABBAR-VERTICAL-ITEM-BG-COLOR);
  border-color: var(--TABBAR-VERTICAL-ITEM-BORDER-COLOR);
  border-width: var(--TABBAR-VERTICAL-ITEM-BORDER-WIDTH);
  border-style: solid;
  border-radius: var(--BUTTON-BORDER-RADIUS);
  box-shadow: none !important;
  font-size: inherit;
  font-weight: 400;
  margin: 0;
  margin-bottom: 0.25rem;
  padding: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  transition: var(--TRANSITION);
  
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
  supported by Chrome, Edge, Opera and Firefox */
}
.tabbar-vertical-item:last-child {
  margin-bottom: 0;
}
.tabbar-vertical-item:hover,
.tabbar-vertical-item:focus {
  color: var(--TABBAR-VERTICAL-ITEM-FG-COLOR-HOVER);
  background: var(--TABBAR-VERTICAL-ITEM-BG-COLOR-HOVER);
  border-color: var(--TABBAR-VERTICAL-ITEM-BORDER-COLOR-HOVER);
  box-shadow: var(--BUTTON-BOX-SHADOW-HOVER) !important;
  text-decoration: none !important;
  transition: var(--TRANSITION);
}
.tabbar-vertical-item:active {
  color: var(--TABBAR-VERTICAL-ITEM-FG-COLOR-ACTIVE);
  background: var(--TABBAR-VERTICAL-ITEM-BG-COLOR-ACTIVE);
  border-color: var(--TABBAR-VERTICAL-ITEM-BORDER-COLOR-ACTIVE);
  box-shadow: var(--BUTTON-BOX-SHADOW-ACTIVE) !important;
  transition: var(--TRANSITION);
}
.tabbar-vertical-item:focus {
  outline: none !important;
}
.tabbar-vertical-item-selected,
.tabbar-vertical-item.router-link-active {
  color: var(--TABBAR-VERTICAL-ITEM-FG-COLOR-SELECTED);
  background: var(--TABBAR-VERTICAL-ITEM-BG-COLOR-SELECTED);
  border-color: var(--TABBAR-VERTICAL-ITEM-BORDER-COLOR-SELECTED);
  box-shadow: var(--BUTTON-BOX-SHADOW-ACTIVE) !important;
  /* font-weight: 700; */
  transition: var(--TRANSITION);
}

.list-freestyle ul {
  list-style: none;
  display: inline-flex;
  flex-flow: row wrap;
  align-items: flex-start;
  justify-content: flex-start;
  margin: 0 !important;
  margin-top: 0.5rem !important;
  margin-bottom: 0.5rem !important;
  padding: 0 !important;
}
.list-freestyle li {
  display: inline-flex;
  flex-flow: row;
  align-items: center;
  justify-content: center;
  width: min-content;
  margin: 0 !important;
  margin-right: 0.5rem !important;
  margin-bottom: 0.5rem !important;
  padding: 1rem;
  padding-top: 0.325rem;
  padding-bottom: 0.325rem;
  color: var(--LIST-FREESTYLE-ITEM-FG-COLOR);
  background: var(--LIST-FREESTYLE-ITEM-BG-COLOR);
  border-width: var(--LIST-FREESTYLE-ITEM-BORDER-WIDTH);
  border-style: solid;
  border-color: var(--LIST-FREESTYLE-ITEM-BORDER-COLOR);
  border-radius: var(--LIST-FREESTYLE-ITEM-BORDER-RADIUS);
  box-shadow: var(--BUTTON-BOX-SHADOW);
  white-space: nowrap;
  font-size: 90%;
  transition: var(--TRANSITION);
}
.list-freestyle li:last-child {
  margin-right: 0;
}
.list-freestyle li:hover {
  color: var(--LIST-FREESTYLE-ITEM-FG-COLOR-HOVER);
  background: var(--LIST-FREESTYLE-ITEM-BG-COLOR-HOVER);
  border-color: var(--LIST-FREESTYLE-ITEM-BORDER-COLOR-HOVER);
  box-shadow: var(--BUTTON-BOX-SHADOW-HOVER);
  transition: var(--TRANSITION);
}

.toggle-switch,
.toggle-switch:hover,
.toggle-switch:active,
.toggle-switch:focus {
  z-index: 18;
  display: inline-flex;
  flex-flow: row;
  align-items: center;
  justify-content: flex-start;
  background: var(--TOGGLE-SWITCH-BG-COLOR);
  outline: none;
  border-width: var(--BUTTON-BORDER-WIDTH);
  border-style: solid;
  border-color: var(--TOGGLE-SWITCH-BORDER-COLOR);
  border-radius: var(--TOGGLE-SWITCH-BORDER-RADIUS);
  box-shadow: var(--TOGGLE-SWITCH-BOX-SHADOW);
  cursor: pointer;
  width: 3rem;
  height: auto;
  padding: 0.125rem;
  transition: var(--TRANSITION);
}
.toggle-switch:hover {
  background: var(--TOGGLE-SWITCH-BG-COLOR-HOVER);
  border-color: var(--TOGGLE-SWITCH-BORDER-COLOR-HOVER);
  box-shadow: var(--TOGGLE-SWITCH-BOX-SHADOW-HOVER);
}
.toggle-switch:focus {
  outline: 2px solid var(--TOGGLE-SWITCH-BG-COLOR-ACTIVE);
}
.toggle-switch-active,
.toggle-switch-active:hover,
.toggle-switch-active:active,
.toggle-switch-active:focus {
  background: var(--TOGGLE-SWITCH-BG-COLOR-ACTIVE);
  justify-content: flex-end;
  transition: var(--TRANSITION);
}
.toggle-switch-knob {
  z-index: 20;
  display: inline-flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  color: var(--TOGGLE-SWITCH-KNOB-FG-COLOR);
  background: var(--TOGGLE-SWITCH-KNOB-BG-COLOR);
  border-width: var(--BUTTON-BORDER-WIDTH);
  border-style: solid;
  border-color: var(--TOGGLE-SWITCH-BORDER-COLOR);
  border-radius: var(--TOGGLE-SWITCH-KNOB-BORDER-RADIUS);
  box-shadow: var(--TOGGLE-SWITCH-KNOB-BOX-SHADOW);
  width: 1.25rem;
  height: 1.75rem;
  transition: var(--TRANSITION);
}
.toggle-switch:hover .toggle-switch-knob {
  background: var(--TOGGLE-SWITCH-KNOB-BG-COLOR-HOVER);
  border-color: var(--TOGGLE-SWITCH-BORDER-COLOR-HOVER);
  box-shadow: var(--TOGGLE-SWITCH-KNOB-BOX-SHADOW-HOVER);
}
.toggle-switch-active .toggle-switch-knob {
  background: var(--TOGGLE-SWITCH-KNOB-BG-COLOR);
}