:root {
    --BUTTON-FG-COLOR: var(--ACCENT-PRIMARY-COLOR);
    --BUTTON-FG-COLOR-HOVER: var(--BG-COLOR);
    --BUTTON-FG-COLOR-ACTIVE: var(--BG-COLOR);
    --BUTTON-FG-COLOR-DISABLED: darkgray;
    --BUTTON-BG-COLOR: none;
    --BUTTON-BG-COLOR-HOVER: var(--ACCENT-PRIMARY-COLOR);
    --BUTTON-BG-COLOR-ACTIVE: var(--ACCENT-SECONDARY-COLOR);
    --BUTTON-BG-COLOR-DISABLED: #555555;
    --BUTTON-BORDER-COLOR: var(--ACCENT-PRIMARY-COLOR);
    --BUTTON-BORDER-COLOR-HOVER: var(--ACCENT-PRIMARY-COLOR);
    --BUTTON-BORDER-COLOR-ACTIVE: var(--ACCENT-SECONDARY-COLOR);
    --BUTTON-BORDER-COLOR-FOCUS: var(--ACCENT-SECONDARY-COLOR);
    --BUTTON-BORDER-COLOR-DISABLED:  #555555;
    --BUTTON-BORDER-WIDTH: 2px;
    --BUTTON-BORDER-RADIUS: 5px;
    --BUTTON-BOX-SHADOW: none;
    --BUTTON-BOX-SHADOW-HOVER: 0px 1px 4px rgba(0,0,0,0.5);
    --BUTTON-BOX-SHADOW-ACTIVE: 0px 1px 1px rgba(0,0,0,0.5);
}

.button, button, .tabbar, .tabbar-item {
    display: inline-flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
}
.tabbar {
    flex-flow: row;
}

.button, button {
    color: var(--BUTTON-FG-COLOR);
    background: var(--BUTTON-BG-COLOR);
    border-color: var(--BUTTON-BORDER-COLOR);
    border-width: var(--BUTTON-BORDER-WIDTH);
    border-style: solid;
    border-radius: var(--BUTTON-BORDER-RADIUS);
    box-shadow: var(--BUTTON-BOX-SHADOW);
    font-family: inherit;
    font-size: inherit;
    font-weight: 700;
    margin: 0;
    padding: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    transition: var(--TRANSITION);

    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
}
.button:hover, button:hover {
    color: var(--BUTTON-FG-COLOR-HOVER);
    background: var(--BUTTON-BG-COLOR-HOVER);
    border-color: var(--BUTTON-BORDER-COLOR-HOVER);
    box-shadow: var(--BUTTON-BOX-SHADOW-HOVER);
    text-decoration: none !important;
    transition: var(--TRANSITION);
}
.button:active, button:active {
    color: var(--BUTTON-FG-COLOR-ACTIVE);
    background: var(--BUTTON-BG-COLOR-ACTIVE);
    border-color: var(--BUTTON-BORDER-COLOR-ACTIVE);
    box-shadow: var(--BUTTON-BOX-SHADOW-ACTIVE);
    transition: var(--TRANSITION);
}
.button:focus, button:focus {
    outline: none;
    border-color: var(--BUTTON-BORDER-COLOR-FOCUS);
}

.button-borderless {
    border-width: 0 !important;
}

.button-disabled, button:disabled,
.button-disabled:hover, button:disabled:hover,
.button-disabled:active, button:disabled:active {
    color: var(--BUTTON-FG-COLOR-DISABLED);
    background: var(--BUTTON-BG-COLOR-DISABLED);
    border-color: var(--BUTTON-BORDER-COLOR-DISABLED);
    box-shadow: none;
}

.row .button, .row button {
    margin-right: 1rem !important;
}
.row .button:last-child, .row button:last-child {
    margin-right: 0;
}

.tabbar-item {
    color: var(--BUTTON-FG-COLOR);
    background: var(--BUTTON-BG-COLOR);
    border-color: var(--BUTTON-BORDER-COLOR);
    border-width: var(--BUTTON-BORDER-WIDTH) 0 var(--BUTTON-BORDER-WIDTH) 0;
    border-style: solid;
    border-radius: 0;
    box-shadow: none;
    font-family: inherit;
    font-size: inherit;
    font-weight: 700;
    margin: 0;
    padding: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    transition: var(--TRANSITION);

    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
}
.tabbar-item:first-child {
    border-width: var(--BUTTON-BORDER-WIDTH) 0 var(--BUTTON-BORDER-WIDTH) var(--BUTTON-BORDER-WIDTH);
    border-top-left-radius: var(--BUTTON-BORDER-RADIUS);
    border-bottom-left-radius: var(--BUTTON-BORDER-RADIUS);
}
.tabbar-item:last-child {
    border-width: var(--BUTTON-BORDER-WIDTH) var(--BUTTON-BORDER-WIDTH) var(--BUTTON-BORDER-WIDTH) 0;
    border-top-right-radius: var(--BUTTON-BORDER-RADIUS);
    border-bottom-right-radius: var(--BUTTON-BORDER-RADIUS);
}
.tabbar-item:hover,
.tabbar-item-current {
    color: var(--BUTTON-FG-COLOR-HOVER);
    background: var(--BUTTON-BG-COLOR-HOVER);
    border-color: var(--BUTTON-BORDER-COLOR-HOVER);
    box-shadow: none;
    text-decoration: none !important;
    transition: var(--TRANSITION);
}
.tabbar-item:active {
    color: var(--BUTTON-FG-COLOR-ACTIVE);
    background: var(--BUTTON-BG-COLOR-ACTIVE);
    border-color: var(--BUTTON-BORDER-COLOR-ACTIVE);
    transition: var(--TRANSITION);
}
.tabbar-item.router-link-active {
    color: var(--BUTTON-FG-COLOR-HOVER);
    background: var(--BUTTON-BG-COLOR-HOVER);
    border-color: var(--BUTTON-BORDER-COLOR-HOVER);
}

.tabbar-vertical-item {
    color: var(--FG-SECONDARY-COLOR);
    background: none;
    border-radius: var(--BUTTON-BORDER-RADIUS);
    font-family: inherit;
    font-size: inherit;
    font-weight: 700;
    margin: 0;
    margin-bottom: 0.5rem;
    padding: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    transition: var(--TRANSITION);

    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
}
.tabbar-vertical-item:last-child {
    margin-bottom: 0;
}
.tabbar-vertical-item:hover {
    color: var(--BG-COLOR);
    background: var(--FG-COLOR);
    text-decoration: none !important;
}
.tabbar-vertical-item:active {
    color: var(--BG-COLOR);
    background: var(--BUTTON-BG-COLOR-ACTIVE);
}
.tabbar-vertical-item.router-link-active {
    color: var(--BG-COLOR);
    background: var(--ACCENT-PRIMARY-COLOR);
}