.card {
    color: var(--FG-COLOR);
    background: var(--BG-COLOR);
    border-color: var(--CARD-BORDER-COLOR);
    border-width: var(--CARD-BORDER-WIDTH);
    border-style: solid;
    border-radius: var(--CARD-BORDER-RADIUS);
    box-shadow: var(--CARD-BOX-SHADOW);
}

.card-inset {
    box-shadow: var(--CARD-BOX-SHADOW) inset;
}

.card-transparent {
    background: none !important;
    box-shadow: none !important;
}
.card-transparent:hover {
    background: var(--BG-COLOR) !important;
    box-shadow: var(--CARD-BOX-SHADOW) !important;
}

.card h1,
.card h2,
.card h3,
.card h4,
.card h5 {
    text-align: inherit;
    margin: 0;
    margin-top: 0.5rem;
    margin-bottom: 0.25rem;
    padding: 0;
}

.card h4 {
    color: var(--FG-SECONDARY-COLOR);
    text-transform: uppercase;
    font-size: 85%;
}

.card-img {
    border-color: var(--CARD-IMG-BORDER-COLOR);
    border-width: var(--CARD-IMG-BORDER-WIDTH);
}

.card-list {
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
}
.card-list ul {
    list-style: none;
    display: inline-flex;
    flex-flow: column;
    align-items: flex-start;
    justify-content: stretch;
    width: 100%;
    margin: 0;
    padding: 0;
}
.card-list li {
    display: inline-flex;
    flex-flow: column;
    align-items: flex-start;
    justify-content: stretch;
    width: 100%;
    margin: 0;
    padding: 0;
    color: var(--CARD-LIST-ITEM-FG-COLOR);
    background: var(--CARD-LIST-ITEM-BG-COLOR);
    transition: var(--TRANSITION);
}
.card-list li:hover {
    color: var(--CARD-LIST-ITEM-FG-COLOR-HOVER);
    background: var(--CARD-LIST-ITEM-BG-COLOR-HOVER);
    transition: var(--TRANSITION);
}
.card-list-static li:hover {
    color: var(--CARD-LIST-ITEM-FG-COLOR) !important;
    background: var(--CARD-LIST-ITEM-BG-COLOR) !important;
}

.border-radius-card { border-radius: var(--CARD-BORDER-RADIUS); }

.card-enter {
    animation: card-enter-pop-transition ease 0.25s !important;
}
.card-enter-up {
    animation: card-enter-up-transition ease 0.325s !important;
}
.card-enter-down {
    animation: card-enter-down-transition ease 0.325s !important;
}
.card-enter-right {
    animation: card-enter-right-transition ease 0.325s !important;
}

@keyframes card-enter-pop-transition {
    from {
        opacity: 0;
        transform: scale(0.98);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes card-enter-right-transition {
    from {
        opacity: 0;
        transform: translateX(5%);
    }
    to {
        opacity: 1;
        transform: translateX(0%);
    }
}

@keyframes card-enter-up-transition {
    from {
        opacity: 0;
        transform: translateY(10%);
    }
    to {
        opacity: 1;
        transform: translateY(0%);
    }
}

@keyframes card-enter-down-transition {
    from {
        opacity: 0;
        transform: translateY(-10%);
    }
    to {
        opacity: 1;
        transform: translateY(0%);
    }
}

.card-marked {
  border-left: 0.25rem solid var(--ACCENT-PRIMARY-COLOR);
  box-shadow: none;
  transition: var(--TRANSITION);
}
.card-marked:hover {
  box-shadow: var(--CARD-BOX-SHADOW);
  transform: scale(1.0125);
  transition: var(--TRANSITION);
}

.card-shadow {
    box-shadow: var(--CARD-BOX-SHADOW);
}
