:root {
    --FONT-SIZE: 1.0325rem;
    --FONT-FAMILY-SYSTEM: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    --FONT-FAMILY-HEADER: 'Public Sans', var(--FONT-FAMILY-SYSTEM);
    --FONT-FAMILY-BODY: 'Bitter', var(--FONT-FAMILY-SYSTEM);
    --LINE-HEIGHT: 1.625;
    --TRANSITION: 0.25s;

    --COVER-ART-BORDER-WIDTH: 1px;
    --COVER-ART-BORDER-RADIUS: 3px;

    --BUTTON-BORDER-WIDTH: 1px;
    --BUTTON-BORDER-RADIUS: 3px;
    --TOGGLE-SWITCH-BORDER-RADIUS: 16px;
    --TOGGLE-SWITCH-KNOB-BORDER-RADIUS: 100%;

    --TABBAR-VERTICAL-ITEM-BORDER-WIDTH: var(--BUTTON-BORDER-WIDTH);

    --LIST-FREESTYLE-ITEM-BORDER-WIDTH: var(--BUTTON-BORDER-WIDTH);
    --LIST-FREESTYLE-ITEM-BORDER-RADIUS: 3px;

    --TEXT-FIELD-BORDER-WIDTH: var(--BUTTON-BORDER-WIDTH);
    --TEXT-FIELD-BORDER-RADIUS: 3px;

    --CARD-BORDER-WIDTH: 1px;
    --CARD-BORDER-RADIUS: 3px;
    --CARD-IMG-BORDER-WIDTH: 1px;
}
@media only screen and (max-width: 720px) {
    :root {
        --FONT-SIZE: 0.96rem;
    }
}

* {
    box-sizing: border-box !important;
}

html, body, #app, #appDelegate {
    color: var(--FG-COLOR);
    background: var(--BG-SECONDARY-COLOR);
    font-family: var(--FONT-FAMILY-BODY);
    font-size: var(--FONT-SIZE);
    font-weight: 400;
    line-height: var(--LINE-HEIGHT);
}

html, body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    display: inline-flex;
    flex-flow: column;
    align-items: stretch;
    justify-content: stretch;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

#app {
    display: inline-flex;
    flex-flow: column;
    align-items: stretch;
    justify-content: stretch;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

h1, h2, h3, h4, h5 {
    font-family: var(--FONT-FAMILY-HEADER);
    line-height: 1;
    letter-spacing: -0.0325rem;
}

p {
    margin: 0;
    margin-top: 0.5rem;
    margin-bottom: 0.75rem;
    padding: 0;
}

a, .link {
    color: var(--ACCENT-PRIMARY-COLOR);
    text-decoration: none;
}
a:hover, .link:hover {
    text-decoration: underline;
}
.ambigious-link {
    color: var(--FG-COLOR);
    text-decoration: none;
}
.ambigious-link-secondary {
    color: var(--FG-SECONDARY-COLOR);
}
.ambigious-link:hover,
.ambigious-link-secondary:hover {
    color: var(--FG-COLOR);
    text-decoration: none;
}

hr {
    width: 100%;
    outline: none;
    border-width: 0 0 1px 0;
    border-style: solid;
    border-color: var(--HR-BORDER-COLOR);
    margin: 0;
    margin-top: 1.5rem;
    margin-bottom: 2rem;
    padding: 0;
}

/* ::-webkit-scrollbar {
    width: var(--SCROLLBAR-WIDTH);
    height: 100%;
    background: none;
    border: 3px solid transparent;
}
::-webkit-scrollbar-track {
    background: none;
    border-top-left-radius: var(--CARD-BORDER-RADIUS);
    border-bottom-left-radius: var(--CARD-BORDER-RADIUS);
}
::-webkit-scrollbar-thumb {
    border: 3px solid transparent;
    border-radius: var(--BUTTON-BORDER-RADIUS);
    box-shadow: inset 0 0 1rem 1rem var(--SCROLLBAR-THUMB-COLOR);
}
::-webkit-scrollbar-thumb:hover {
    box-shadow: inset 0 0 1rem 1rem var(--SCROLLBAR-THUMB-COLOR-HOVER);
}
::-webkit-scrollbar-thumb:active {
    box-shadow: inset 0 0 1rem 1rem var(--SCROLLBAR-THUMB-COLOR-ACTIVE);
} */

.footer {
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: auto;
    margin-bottom: 0;
    top: auto !important;
    bottom: 0;
    text-align: center;
}

.container {
    display: inline-flex;
    flex-flow: column;
    align-items: center;
    justify-content: flex-start;
    margin: auto;
    margin-top: 0;
    margin-bottom: 0;
    width: 100%;
    top: 0;
    bottom: 0;
}

.section {
    margin: 0;
    margin-bottom: 4rem !important;
}
.section:last-child {
    margin-bottom: 0 !important;
}

.section-header {
    width: 100%;
    margin: none;
    margin-bottom: 2rem;
    text-align: center;
}
.section-header:first-child {
    margin-top: 2rem;
}
.section-header h1, .navbar-wordmark h1 {
    font-size: 3.5rem;
    font-weight: 800;
}
.section-header h1 {
    color: var(--FG-COLOR);
}
.section-header h2 {
    color: var(--ACCENT-PRIMARY-COLOR);
    font-size: 3rem;
    font-weight: 700;
}
.section-header h3 {
    color: var(--FG-SECONDARY-COLOR);
    font-size: 2rem;
    font-weight: 600;
}
.section-header h4 {
    color: var(--FG-SECONDARY-COLOR);
    font-size: 1.5rem;
    font-weight: 500;
}
.section-header h1,
.section-header h2,
.section-header h3,
.section-header h4 {
    letter-spacing: -0.0825rem;
    text-align: center !important;
    align-self: center !important;
    justify-self: center !important;
    width: 100%;
    margin: 0;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    padding: 0;
}

.nav {
    z-index: 10;
    color: var(--NAVBAR-FG-COLOR);
    background: var(--NAVBAR-BG-COLOR);
    box-shadow: var(--NAVBAR-SHADOW);
}
.nav-shadow {
    box-shadow: var(--NAVBAR-SHADOW) !important;
}
.nav-gradient {
    background: var(--NAVBAR-BG-COLOR-GRADIENT);
}
.nav-translucent {
    background: var(--NAVBAR-BG-COLOR-TRANSLUCENT);
    backdrop-filter: blur(12px);
}
.nav-transparent {
    background: none !important;
    box-shadow: none !important;
}
.nav-border-bottom {
    border-bottom: 1px solid var(--HR-BORDER-COLOR);
}
.navmenu {
    z-index: 50;
    position: fixed;
    width: 100%;
    height: 100%;
}
.navbar {
    z-index: 50;
    position: sticky;
    top: 0;
    height: auto;
}
.navbar-wordmark {
    display: inline-flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
}
.navbar-wordmark h1 {
    font-size: 2.25rem;
    margin: 0;
    padding: 0;
    line-height: 1;
}
.navbar-wordmark a,
.navbar-wordmark a:hover {
    color: var(--FG-COLOR) !important;
    text-decoration: none !important;
}

.sidebar {
    z-index: 40;
    position: sticky;
    max-width: 15rem;
    width: 100%;
    height: 100%;
    top: 0;
}

.profile-img {
    transform: scale(1);
    transition: var(--TRANSITION);
}
.profile-img:hover {
    box-shadow: var(--PROFILE-IMAGE-SHADOW);
    transform: scale(1.0325);
    transition: var(--TRANSITION);
}
.profile-img:active {
    transform: scale(1);
    transition: var(--TRANSITION);
}
.profile-img-s {
    width: 3rem;
    height: 3rem;
}
.profile-img-m {
    width: 6rem;
    height: 6rem;
}
.profile-img-l {
    width: 8rem;
    height: 8rem;
}

.hello h1 {
    font-size: 7vmax !important;
    letter-spacing: -0.25rem !important;
}

.cover-art {
    width: 100%;
    height: 100%;
    background: var(--COVER-ART-BG-COLOR);
    border-width: var(--COVER-ART-BORDER-WIDTH);
    border-style: solid;
    border-color: var(--COVER-ART-BORDER-COLOR);
    border-radius: var(--COVER-ART-BORDER-RADIUS);
    box-shadow: var(--COVER-ART-SHADOW);
}
.cover-art-xxs {
    max-width: 2em !important;
    max-height: 2rem !important;
}
.cover-art-xs {
    max-width: 2.5em !important;
    max-height: 2.5rem !important;
}
.cover-art-s {
    max-width: 4rem !important;
    max-height: 4rem !important;
}
.cover-art-m {
    max-width: 6rem !important;
    max-height: 6rem !important;
}
.cover-art-l {
    max-width: 8rem !important;
    max-height: 8rem !important;
}

.fade-enter-active,
.fade-leave-active {
    transition: all 0.125s ease-in-out;
}
.fade-enter-from,
.fade-leave-to {
    opacity: 0;
}
.fade-enter-to {
    opacity: 1;
}

.show-link {
    margin: 0;
    padding: 0;
    font-weight: bold;
}

.timestamp,
.caption {
    font-family: var(--FONT-FAMILY-BODY);
}

.navbar-item-label {
  font-size: 0rem !important;
  margin-top: 0rem !important;
  transition: var(--TRANSITION);
}
.navbar-label-reveal:hover .navbar-item-label {
  font-size: 0.8rem !important;
  margin-top: 0.5rem !important;
  transition: var(--TRANSITION);
}

.hug-bottom {
    border-bottom: none !important;
    border-bottom-left-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}
.hug-top {
    border-top: none !important;
    border-top-left-radius: 0 !important;
    border-top-right-radius: 0 !important;
}
.hug-left {
    border-left: none !important;
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
}
.hug-right {
    border-right: none !important;
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}
