:root {
    --FONT-SIZE: 1rem;
    --FONT-FAMILY: 'Epilogue', 'Public Sans', Helvetica, Arial, sans-serif;
    --LINE-HEIGHT: 1.625;

    --TRANSITION: 0.125s;

    --FG-COLOR: whitesmoke;
    --BG-COLOR: #2e2e2e;
    --FG-SECONDARY-COLOR: darkgray;
    --BG-SECONDARY-COLOR: #222222;
    --ACCENT-PRIMARY-COLOR: gold;
    --ACCENT-SECONDARY-COLOR: goldenrod;
    --NAVBAR-SHADOW: 0px 0px 8px rgba(0,0,0,0.5);

    --HR-BORDER-COLOR: #333333;

    --LIST-FREESTYLE-ITEM-FG-COLOR: var(--BG-COLOR);
    --LIST-FREESTYLE-ITEM-FG-COLOR-HOVER: var(--BG-COLOR);
    --LIST-FREESTYLE-ITEM-BG-COLOR: var(--FG-SECONDARY-COLOR);
    --LIST-FREESTYLE-ITEM-BG-COLOR-HOVER: var(--FG-COLOR);
    --LIST-FREESTYLE-ITEM-BORDER-COLOR: var(--FG-SECONDARY-COLOR);
    --LIST-FREESTYLE-ITEM-BORDER-COLOR-HOVER: var(--FG-COLOR);
    --LIST-FREESTYLE-ITEM-BORDER-WIDTH: 2px;
    --LIST-FREESTYLE-ITEM-BORDER-RADIUS: 32px;
}

* {
    box-sizing: border-box !important;
}

html, body {
    font-size: var(--FONT-SIZE);
    font-family: var(--FONT-FAMILY);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    line-height: var(--LINE-HEIGHT);
    color: var(--FG-COLOR);
    background: var(--BG-SECONDARY-COLOR);
    display: inline-flex;
    flex-flow: column;
    align-items: stretch;
    justify-content: stretch;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

#app {
    display: inline-flex;
    flex-flow: column;
    align-items: stretch;
    justify-content: stretch;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

h1, h2, h3, h4, h5 {
    line-height: 1;
}

p {
    margin: 0;
    margin-top: 0.5rem;
    margin-bottom: 0.75rem;
    padding: 0;
}

a {
    color: var(--ACCENT-PRIMARY-COLOR);
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

hr {
    outline: none;
    border-width: 1px;
    border-style: inset;
    border-color: var(--HR-BORDER-COLOR);
    margin: 0;
    margin-top: 1.5rem;
    margin-bottom: 2rem;
    padding: 0;
}

.footer {
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: auto !important;
    margin-bottom: 0 !important;
    top: auto !important;
    bottom: 0;
    text-align: center;
}

.container {
    display: inline-flex;
    flex-flow: column;
    align-items: center;
    justify-content: flex-start;
    margin: auto;
    margin-top: 0;
    margin-bottom: 0;
    width: 100%;
    top: 0;
    bottom: 0;
}

.section {
    margin: 0;
    margin-bottom: 4rem !important;
}
.section-header h1, .navbar-wordmark h1 {
    font-size: 3.5rem;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: -0.125rem;
}
.section-header h2 {
    color: var(--ACCENT-PRIMARY-COLOR);
    font-size: 2.75rem;
    font-weight: 800;
    letter-spacing: -0.0625rem;
}
.section-header h3 {
    color: var(--ACCENT-PRIMARY-COLOR);
    font-size: 2rem;
    font-weight: 400;
    letter-spacing: -0.0625rem;
}
.section-header h4 {
    color: var(--ACCENT-PRIMARY-COLOR);
    font-size: 1.5rem;
    font-weight: 400;
    letter-spacing: -0.0625rem;
}
.section-header h1,
.section-header h2,
.section-header h3,
.section-header h4 {
    text-align: center !important;
    align-self: center !important;
    justify-self: center !important;
    width: 100%;
}

.nav {
    z-index: 10;
    background: var(--BG-COLOR);
    box-shadow: var(--NAVBAR-SHADOW);
}
.navsidebar {
    position: sticky;
    max-width: 300px;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
.navmenu {
    position: fixed;
    width: 100%;
    height: 100%;
}
.navbar {
    visibility: hidden;
    display: none;
    position: sticky;
    top: 0;
    height: auto;
}
.navbar-wordmark {
    display: inline-flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
}
.navbar-wordmark h1 {
    font-size: 2.25rem;
    margin: 0;
    padding: 0;
    line-height: 1;
}
.navbar-wordmark a, .navbar-wordmark a:hover {
    color: var(--FG-COLOR);
    text-decoration: none;
}
.profile-img {
    box-shadow: 0px 0px 8px rgba(0,0,0,0.125);
}
.profile-img-s {
    width: 3rem;
    height: 3rem;
}
.profile-img-m {
    width: 6rem;
    height: 6rem;
}
.profile-img-l {
    width: 8rem;
    height: 8rem;
}

.hello h1 {
    font-size: 8.5vh !important;
}

.list-freestyle ul {
    list-style: none;
    display: inline-flex;
    flex-flow: row wrap;
    align-items: flex-start;
    justify-content: flex-start;
    margin: 0 !important;
    margin-top: 0.5rem !important;
    margin-bottom: 0.5rem !important;
    padding: 0 !important;
}
.list-freestyle li {
    display: inline-flex;
    flex-flow: row;
    align-items: center;
    justify-content: center;
    width: min-content;
    margin: 0 !important;
    margin-right: 0.5rem !important;
    margin-bottom: 0.5rem !important;
    padding: 0.25rem;
    padding-left: 1rem;
    padding-right: 1rem;
    color: var(--LIST-FREESTYLE-ITEM-FG-COLOR);
    background: var(--LIST-FREESTYLE-ITEM-BG-COLOR);
    border-width: var(--LIST-FREESTYLE-ITEM-BORDER-WIDTH);
    border-style: solid;
    border-color: var(--LIST-FREESTYLE-ITEM-BORDER-COLOR);
    border-radius: var(--LIST-FREESTYLE-ITEM-BORDER-RADIUS);
    white-space: nowrap;
    font-size: 90%;
    font-weight: bold;
    transition: var(--BUTTON-TRANSITION);
}
.list-freestyle li:last-child {
    margin-right: 0;
}
.list-freestyle li:hover {
    color: var(--LIST-FREESTYLE-ITEM-FG-COLOR-HOVER);
    background: var(--LIST-FREESTYLE-ITEM-BG-COLOR-HOVER);
    border-color: var(--LIST-FREESTYLE-ITEM-BORDER-COLOR-HOVER);
    transition: var(--TRANSITION);
}


@media only screen and (max-width: 1024px) {
    .navsidebar {
        visibility: hidden;
        display: none;
    }
    .navbar {
        visibility: visible;
        display: inline-flex;
    }
}