.project-list-page .paper.link-list > ul > li > a {
  display: grid;
  grid-template-columns: 3fr 0fr 0fr;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.project-decade-group-container {
  width: 100%;
  margin: 0;
  padding: 0;
  display: inline-flex;
  flex-flow: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 2rem;
}

.project-decade-group {
  width: 100%;
  margin: 0;
  padding: 0.5rem 0rem;
  display: inline-flex;
  flex-flow: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 0.5rem;
}
.project-decade-group > h3 {
  width: 100%;
  margin: 0;
  border-bottom-width: 3px;
  border-bottom-style: solid;
  border-bottom-color: var(--border-color);
}

.project-list {
  width: 100%;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(96px, 360px));
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.project-list .project-list-item {
  width: 100%;
  margin: 0;
  padding: 0.5rem 0rem;
  display: inline-flex;
  flex-flow: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 0.5rem;
}

.project-list .project-list-item > head {
  margin: 0;
  padding: 0.25rem 0rem;
  display: inline-flex;
  flex-flow: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.project-list .project-list-item > .head > p {
  margin: 0;
  padding: 0;
  color: var(--fg-color-3);
  font-size: 0.75rem;
  font-weight: normal;
}

.project-list .project-list-item > .status {
  display: inline-block;
}

@media (max-width: 767px) {
  .project-list-page .paper.link-list > ul > li > a {
    padding-block: 0.5rem 0.75rem;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 0fr;
    grid-area:
      "a a a"
      "b b b";
    gap: 0.25rem;
  }
  .project-list-page .paper.link-list > ul > li > a > h3 {
    grid-column: span 3 / -1;
  }
  .project-list-page .paper.link-list > ul > li > a > span.timestamp {
    grid-column: -2 / 1;
    justify-content: flex-start;
  }
  .project-list-page .paper.link-list > ul > li > a > span.status {
    justify-content: flex-end;
  }
}

.project-detail-page img {
  width: 100%;
  margin: 0;
  padding: 0;
  display: block;
  border: var(--border-width) solid var(--border-color);
  border-radius: var(--border-radius);
  box-shadow: var(--preset-shadow-component);
}

.project-detail-page .content {
  width: 100%;
  margin-block: 0rem 2rem;
  margin-inline: 0rem;
  display: inline-flex;
  flex-flow: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 2rem;
}

.project-detail-page .content .button-group {
  width: 100%;
  margin-bottom: 1rem;
}

.project-detail-page .content .button-group > :is(input, a) {
  width: 100%;
  display: inline-flex;
  flex-flow: row;
  align-items: center;
  justify-content: center;
}
