/* ROBOTO MONO */
@font-face {
	font-family: 'Roboto Mono';
	src: url('./roboto-mono/RobotoMono-VariableFont_wght.ttf');
	font-weight: 100 1000;
  font-style: normal;
	font-stretch: 25% 151%;
}
@font-face {
	font-family: 'Roboto Mono';
	src: url('./roboto-mono/RobotoMono-Italic-VariableFont_wght.ttf');
	font-weight: 100 1000;
  font-style: italic;
	font-stretch: 25% 151%;
}