@media (prefers-color-scheme: dark) {
  :root {
    --PRIMARY-COLOR: #7aceff;
    --SECONDARY-COLOR: #5aaedf;
    --TERTIARY-COLOR: #15435e;
  
    --FG-COLOR: #f3f3f3;
    --FG-COLOR-SECONDARY: #e5e5e5;
    --FG-COLOR-TERTIARY: #d5d5d5;
    --BG-COLOR: #1e1e1e;
    --BG-COLOR-SECONDARY: #000000;
  
    --BORDER-COLOR: #4e4e4e;
    --BORDER-COLOR-HOVER: #555555;
  
    --BUTTON-FG-COLOR: #f3f3f3;
    --BUTTON-FG-COLOR-DISABLED: #9e9e9e;
    --BUTTON-BG-COLOR: #2e2e2e;
    --BUTTON-BG-COLOR-HOVER: #3e3e3e;
    --BUTTON-BG-COLOR-ACTIVE: #1e1e1e;
    --BUTTON-BG-COLOR-DISABLED: #1e1e1e;
  
    --INPUT-FG-COLOR: #f5f5f5;
    --INPUT-BG-COLOR: #3e3e3e;
    --INPUT-BG-COLOR-HOVER: #555555;
    --INPUT-BG-COLOR-ACTIVE: #1e1e1e;
    --INPUT-BG-COLOR-DISABLED: #2e2e2e;
  
    --NAV-MENU-FG-COLOR: #f5f5f5;
    --NAV-MENU-BG-COLOR: none;
    --NAV-MENU-BG-COLOR-HOVER: #3e3e3e;
    --NAV-MENU-BG-COLOR-ACTIVE: #1e1e1e;
  
    --HEADER-FG-COLOR: var(--FG-COLOR);
    --HEADER-BG-COLOR: var(--BG-COLOR);
    --FOOTER-FG-COLOR: var(--FG-COLOR-SECONDARY);
    --FOOTER-BG-COLOR: none;
  }
}