:root {
  --PRIMARY-COLOR: #4682c4;
  --SECONDARY-COLOR: #5692d4;

  --FG-COLOR: #333333;
  --FG-COLOR-SECONDARY: #6e6e6e;
  --FG-COLOR-TERTIARY: #aeaeae;
  --BG-COLOR: white;
  --BG-COLOR-SECONDARY: #f5f5f8;

  --BORDER-COLOR: #dedede;
  --BORDER-COLOR-HOVER: #cccccc;

  --BUTTON-FG-COLOR: #333333;
  --BUTTON-FG-COLOR-DISABLED: #9e9e9e;
  --BUTTON-BG-COLOR: #eeeeee;
  --BUTTON-BG-COLOR-HOVER: #cecece;
  --BUTTON-BG-COLOR-ACTIVE: #aeaeae;
  --BUTTON-BG-COLOR-DISABLED: #f5f5f5;

  --INPUT-FG-COLOR: #333333;
  --INPUT-BG-COLOR: #f1f1f1;
  --INPUT-BG-COLOR-HOVER: #f5f5f5;
  --INPUT-BG-COLOR-ACTIVE: white;
  --INPUT-BG-COLOR-DISABLED: #eeeeee;

  --NAV-MENU-FG-COLOR: #333333;
  --NAV-MENU-BG-COLOR: none;
  --NAV-MENU-BG-COLOR-HOVER: #f5f5f5;
  --NAV-MENU-BG-COLOR-ACTIVE: #eeeeee;

  --HEADER-FG-COLOR: var(--FG-COLOR);
  --HEADER-BG-COLOR: var(--BG-COLOR);
  --FOOTER-FG-COLOR: var(--FG-COLOR-SECONDARY);
  --FOOTER-BG-COLOR: none;
}