.modalOverlay {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;

  display: inline-flex;
  flex-flow: column;
  align-items: flex-end;
  justify-content: center;

  position: fixed;
  top: 0;
  left: 0;
  z-index: 200;

  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(8px);

  animation-name: modalOverlayTransitionIn;
  animation-duration: 0.5s;
}

@keyframes modalOverlayTransitionIn {
  0% {
    background: rgba(0, 0, 0, 0);
    backdrop-filter: blur(8px);
    pointer-events: none;
  }
  100% {
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(8px);
    pointer-events: all;
  }
}

.modalWindow {
  max-width: 920px;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  display: inline-flex;
  flex-flow: column;
  align-items: flex-start;
  justify-content: flex-start;
  color: var(--fg-color);
  background: var(--bg-color);
  animation-name: modalWindowTransitionIn;
  animation-duration: 0.25s;
}
::-webkit-scrollbar,
::-webkit-scrollbar-track {
  border-radius: 0px 0px var(--border-radius) 0px;
}

@keyframes modalWindowTransitionIn {
  0% {
    opacity: 0;
    translate: 100vw 0;
    pointer-events: none;
    cursor: not-allowed;
  }
  100% {
    opacity: 1;
    translate: 0;
    pointer-events: all;
    cursor: auto;
  }
}

@media (max-width: 1023px) {
  .modalOverlay {
    background: unset;
    backdrop-filter: unset;
  }

  .modalWindow {
    max-width: unset;
    max-height: unset;
    box-shadow: unset;
    border-radius: 0px;
    animation: none;
  }
}

.modalWindow .modalWindowHeader {
  width: 100%;
  margin: 0;
  padding: 0.5rem 0.25rem;

  display: inline-flex;
  flex-flow: row;
  align-items: center;
  justify-content: space-between;

  border-width: 0px 0px 1px 0px;
  border-style: solid;
  border-color: var(--border-color);
}
.modalWindow .modalWindowHeader h2 {
  margin: 0;
  padding: 0;
  font-size: 1.25rem;

  white-space: nowrap;
  overflow: clip;
}

.modalWindow .modalWindowBody {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0.25rem;

  overflow: auto;
}

.modalWindow .modalWindowBody .topLevelPage {
  padding: 1rem 0rem;
}
