---
import { getCollection } from "astro:content";
import BaseLayout from "../../layouts/BaseLayout.astro";
import PostList from "../../components/PostList.astro";
import { SITE } from "../../lib/site";

const posts = (await getCollection("posts"))
  .filter((post) => !post.data.private)
  .sort((a, b) => b.data.publishedAt.getTime() - a.data.publishedAt.getTime());
---

<BaseLayout
  title={`Blog | ${SITE.name}`}
  description={`Blog posts by ${SITE.name}`}
  pathname="/posts"
>
  <h2>Writing</h2>
  <PostList posts={posts} />
</BaseLayout>
