.buttonGroup {
  width: 100%;
  display: inline-flex;
  gap: 0.5rem;
}

.buttonGroup.horizontal {
  flex-flow: row;
  align-items: center;
  justify-content: flex-start;
}

.buttonGroup.vertical {
  flex-flow: column;
  align-items: flex-start;
  justify-content: flex-start;
}
