:root {
  --badge-fg-color: var(--fg-color);
  --badge-fg-color-warning: chocolate;
  --badge-fg-color-error: firebrick;
  --badge-fg-color-success: green;

  --badge-bg-color: var(--bg-color-3);
  --badge-bg-color-warning: beige;
  --badge-bg-color-error: mistyrose;
  --badge-bg-color-success: mintcream;

  --badge-border-color: var(--border-color);
  --badge-border-color-warning: chocolate;
  --badge-border-color-error: firebrick;
  --badge-border-color-success: green;
}

.badge {
  width: min-content;
  margin: 0;
  padding: 0.0625rem 0.325rem;
  color: var(--badge-fg-color);
  background: var(--badge-bg-color);
  border: 1px solid var(--badge-border-color);
  border-radius: var(--border-radius);
  font-size: 10px;
  font-weight: 800;
  font-family: var(--font-family-widget);
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
  white-space: nowrap;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
}

.badge :is(a, a:hover, a:active) {
  color: var(--badge-fg-color);
  text-decoration: none;
}

.badge.plain {
  color: var(--badge-fg-color);
  background: var(--badge-bg-color);
  border-color: var(--badge-border-color);
}
.badge.success {
  color: var(--badge-fg-color-success);
  background: var(--badge-bg-color-success);
  border-color: var(--badge-border-color-success);
}
.badge.warning {
  color: var(--badge-fg-color-warning);
  background: var(--badge-bg-color-warning);
  border-color: var(--badge-border-color-warning);
}
.badge.error {
  color: var(--badge-fg-color-error);
  background: var(--badge-bg-color-error);
  border-color: var(--badge-border-color-error);
}
