:root {
  --badge-fg-color: var(--fg-color);
  --badge-fg-color-warning: lightyellow;
  --badge-fg-color-error: mistyrose;
  --badge-fg-color-success: mintcream;

  --badge-bg-color: var(--bg-color-3);
  --badge-bg-color-warning: darkgoldenrod;
  --badge-bg-color-error: firebrick;
  --badge-bg-color-success: darkgreen;

  --badge-border-color: var(--border-color);
  --badge-border-color-warning: gold;
  --badge-border-color-error: crimson;
  --badge-border-color-success: mediumseagreen;
}

.badge {
  width: min-content;
  margin: 0;
  padding: 0.125rem 0.325rem;
  color: var(--badge-fg-color);
  background: var(--badge-bg-color);
  border: 1px solid var(--badge-border-color);
  border-radius: var(--border-radius);
  font-size: 80%;
  font-weight: 500;
  font-family: var(--font-family-widget);
  letter-spacing: 0;
  text-decoration: none;
  white-space: nowrap;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
}

.badge :is(a, a:hover, a:active) {
  color: var(--badge-fg-color);
  text-decoration: none;
}

.badge.plain {
  color: var(--badge-fg-color);
  background: var(--badge-bg-color);
  border-color: var(--badge-border-color);
}
.badge.success {
  color: var(--badge-fg-color-success);
  background: var(--badge-bg-color-success);
  border-color: var(--badge-border-color-success);
}
.badge.warning {
  color: var(--badge-fg-color-warning);
  background: var(--badge-bg-color-warning);
  border-color: var(--badge-border-color-warning);
}
.badge.error {
  color: var(--badge-fg-color-error);
  background: var(--badge-bg-color-error);
  border-color: var(--badge-border-color-error);
}
