article.post {
  .post-header {
    width: 100%;
    margin: 0;
    padding-block: 1rem;
    display: inline-flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    border-bottom: 1px solid var(--border-color);

    h2 {
      padding: 0rem;
      color: var(--fg);
      font-size: 5rem;
      font-style: italic;
      font-weight: 900;
      text-align: center;
      letter-spacing: -0.06125rem;
      line-height: 1;
      text-transform: none;
    }
  
    p.subtitle {
      padding: 0;
      color: var(--fg-secondary);
      font-size: 2rem;
      font-style: italic;
      font-weight: 100;
      text-align: center;
      line-height: 1.2;
    }

    sub.timestamp {
      color: var(--fg-secondary);
    }

    @media (max-width: 640px) {
      h2 {
        font-size: 3rem;
      }

      p.subtitle {
        font-size: 1rem;
        font-weight: 300;
        line-height: 1.5;
      }
    }
  }

  .post-body {
    padding-block: 1.5rem;

    h1 {
      margin-block: 1.5rem 0.5rem;
      font-size: 2rem;
    }

    h2 {
      font-size: 1.5rem;
    }

    img {
      max-width: 100%;
    }
  }
}