.footer {
  width: 100%;
  margin: auto 0 0 0;
  top: auto;
  bottom: 0;
  padding: 1rem 1rem 3rem 1rem;
  display: inline-flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  color: var(--fg-color-5);
  background: none;
}
