.admin-applet-list {
  width: 100%;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(128px, 1fr));
  gap: 1rem;
}

.admin-applet-list a {
  width: 100%;
  margin: 0;
  padding: 1.5rem 0.5rem;
  display: inline-flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  color: var(--fg-color);
  background: var(--bg-color-2);
  border-radius: var(--border-radius);
  font-family: var(--font-family-widget);
  text-decoration: none;
}
.admin-applet-list a:hover {
  color: var(--fg-color-1);
  background: var(--bg-color-3);
  text-decoration: none;
}
.admin-applet-list a:active {
  color: var(--fg-color-1);
  background: var(--bg-color-5);
  text-decoration: none;
}

.admin-applet-list a > svg {
  width: 64px;
  height: 64px;
}

.admin-content-metadata {
  width: 100%;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, 196px);
  gap: 0.75rem;
  font-family: var(--font-family-widget);
  font-size: 0.8rem;
}
.admin-content-metadata > .admin-content-metadata-group {
  margin: 0;
  padding: 0;
  display: inline-flex;
  flex-flow: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 0.25rem;
}
.admin-content-metadata > .admin-content-metadata-group > label {
  margin: 0;
  padding: 0;
  color: var(--fg-color-5);
  font-size: 0.6rem;
  font-weight: bold;
  text-transform: uppercase;
}

.admin-post-editor > .question > textarea {
  width: 100%;
  margin: 0;
  padding: 1rem;
  display: inline-block;
  color: var(--fg-color);
  background: var(--bg-color);
  border: var(--border-width) solid var(--border-color);
  border-radius: var(--border-radius);
  box-shadow: var(--preset-shadow-textfield);
  font-family: var(--font-family-monospace);
  font-size: 0.8rem;
  font-weight: normal;
  text-align: left;
  white-space: pre-wrap;
}
.admin-post-editor > .input-group > pre:hover {
  border-color: var(--bg-color-5);
}
.admin-post-editor > .input-group > pre:focus {
  border-color: var(--primary-color);
  outline: none;
}

.admin-post-editor > .question > textarea {
  height: 480px;
  resize: vertical;
  overflow: auto;
}

