.personal-links {
  max-width: 320px;
  width: 100%;
  margin: 0 auto;

  ul {
    list-style: none;
    width: 100%;
    margin: 0;
    padding: 0;
    display: inline-flex;
    flex-flow: row;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;

    li {
      margin: 0;
      padding: 0;
      display: inline-block;
    }
  }
}