:root {
    --FG-COLOR: whitesmoke;
    --FG-SECONDARY-COLOR: darkgray;
    --BG-COLOR: #2f2f2f;
    --BG-SECONDARY-COLOR: #222222;
    --BG-TERTIARY-COLOR: #1e1e1e;
    --ACCENT-PRIMARY-COLOR: #77aaaa;
    --ACCENT-SECONDARY-COLOR: #99cccc;
    --NAVBAR-FG-COLOR: var(--FG-COLOR);
    --NAVBAR-BG-COLOR: var(--BG-COLOR);
    --NAVBAR-BG-COLOR-GRADIENT: linear-gradient(to bottom, var(--NAVBAR-BG-COLOR), var(--BG-SECONDARY-COLOR));
    --NAVBAR-BG-COLOR-TRANSLUCENT: linear-gradient(to bottom, rgba(47,47,47,1.0), rgba(47,47,47,0.8));
    --NAVBAR-SHADOW: 0px 0px 4px rgba(0,0,0,0.75);

    --HR-BORDER-COLOR: #555555;

    --SCROLLBAR-WIDTH: 1.0625rem;
    --SCROLLBAR-THUMB-COLOR: rgba(245,245,245,0.25);
    --SCROLLBAR-THUMB-COLOR-HOVER: rgba(245,245,245,0.5);
    --SCROLLBAR-THUMB-COLOR-ACTIVE: var(--ACCENT-PRIMARY-COLOR);

    --COVER-ART-BG-COLOR: #555555;
    --COVER-ART-BORDER-COLOR: var(--HR-BORDER-COLOR);
    --COVER-ART-SHADOW: none;

    /* Button styling */
    --BUTTON-FG-COLOR: var(--FG-COLOR);
    --BUTTON-FG-COLOR-HOVER: var(--FG-COLOR);
    --BUTTON-FG-COLOR-ACTIVE: var(--FG-COLOR);
    --BUTTON-FG-COLOR-SELECTED: var(--FG-COLOR);
    --BUTTON-FG-COLOR-DISABLED: darkgray;
    --BUTTON-BG-COLOR: #3e3e3e;
    --BUTTON-BG-COLOR-HOVER: #4e4e4e;
    --BUTTON-BG-COLOR-ACTIVE: var(--BG-TERTIARY-COLOR);
    --BUTTON-BG-COLOR-SELECTED: var(--ACCENT-SECONDARY-COLOR);
    --BUTTON-BG-COLOR-DISABLED: #555555;
    --BUTTON-BORDER-COLOR: var(--HR-BORDER-COLOR);
    --BUTTON-BORDER-COLOR-HOVER: var(--HR-BORDER-COLOR);
    --BUTTON-BORDER-COLOR-ACTIVE: var(--ACCENT-PRIMARY-COLOR);
    --BUTTON-BORDER-COLOR-FOCUS: var(--ACCENT-PRIMARY-COLOR);
    --BUTTON-BORDER-COLOR-SELECTED: var(--ACCENT-PRIMARY-COLOR);
    --BUTTON-BORDER-COLOR-DISABLED:  #555555;
    --BUTTON-BOX-SHADOW: none;
    --BUTTON-BOX-SHADOW-HOVER: none;
    --BUTTON-BOX-SHADOW-ACTIVE: none;

    --TABBAR-ITEM-FG-COLOR: var(--FG-COLOR);
    --TABBAR-ITEM-FG-COLOR-HOVER: var(--BG-COLOR);
    --TABBAR-ITEM-FG-COLOR-ACTIVE: var(--BG-COLOR);
    --TABBAR-ITEM-FG-COLOR-SELECTED: var(--BG-COLOR);
    --TABBAR-ITEM-FG-COLOR-DISABLED: var(--BUTTON-FG-COLOR-DISABLED);
    --TABBAR-ITEM-BG-COLOR: var(--BG-COLOR);
    --TABBAR-ITEM-BG-COLOR-HOVER: var(--ACCENT-SECONDARY-COLOR);
    --TABBAR-ITEM-BG-COLOR-ACTIVE: var(--ACCENT-PRIMARY-COLOR);
    --TABBAR-ITEM-BG-COLOR-SELECTED: var(--ACCENT-PRIMARY-COLOR);
    --TABBAR-ITEM-BG-COLOR-DISABLED: var(--BUTTON-BG-COLOR-DISABLED);
    --TABBAR-ITEM-BORDER-COLOR: var(--ACCENT-PRIMARY-COLOR);
    --TABBAR-ITEM-BORDER-COLOR-HOVER: var(--ACCENT-PRIMARY-COLOR);
    --TABBAR-ITEM-BORDER-COLOR-ACTIVE: var(--ACCENT-PRIMARY-COLOR);
    --TABBAR-ITEM-BORDER-COLOR-FOCUS: var(--ACCENT-PRIMARY-COLOR);
    --TABBAR-ITEM-BORDER-COLOR-SELECTED: var(--ACCENT-PRIMARY-COLOR);
    --TABBAR-ITEM-BORDER-COLOR-DISABLED:  var(--ACCENT-PRIMARY-COLOR);

    --TABBAR-VERTICAL-ITEM-FG-COLOR: var(--FG-SECONDARY-COLOR);
    --TABBAR-VERTICAL-ITEM-FG-COLOR-HOVER: var(--BG-COLOR);
    --TABBAR-VERTICAL-ITEM-FG-COLOR-ACTIVE: var(--BG-COLOR);
    --TABBAR-VERTICAL-ITEM-FG-COLOR-SELECTED: var(--BG-COLOR);
    --TABBAR-VERTICAL-ITEM-BG-COLOR: none;
    --TABBAR-VERTICAL-ITEM-BG-COLOR-HOVER: var(--ACCENT-SECONDARY-COLOR);
    --TABBAR-VERTICAL-ITEM-BG-COLOR-ACTIVE: var(--ACCENT-PRIMARY-COLOR);
    --TABBAR-VERTICAL-ITEM-BG-COLOR-SELECTED: var(--ACCENT-PRIMARY-COLOR);

    --LIST-FREESTYLE-ITEM-FG-COLOR: var(--BG-COLOR);
    --LIST-FREESTYLE-ITEM-FG-COLOR-HOVER: var(--BG-COLOR);
    --LIST-FREESTYLE-ITEM-BG-COLOR: var(--FG-SECONDARY-COLOR);
    --LIST-FREESTYLE-ITEM-BG-COLOR-HOVER: var(--FG-COLOR);
    --LIST-FREESTYLE-ITEM-BORDER-COLOR: var(--FG-SECONDARY-COLOR);
    --LIST-FREESTYLE-ITEM-BORDER-COLOR-HOVER: var(--FG-COLOR);

    /* Form styling */
    --TEXT-FIELD-FG-COLOR: var(--FG-COLOR);
    --TEXT-FIELD-FG-COLOR-HOVER: var(--FG-COLOR);
    --TEXT-FIELD-FG-COLOR-ACTIVE: var(--FG-COLOR);
    --TEXT-FIELD-BG-COLOR: var(--BG-SECONDARY-COLOR);
    --TEXT-FIELD-BG-COLOR-HOVER: #3e3e3e;
    --TEXT-FIELD-BG-COLOR-ACTIVE: #3e3e3e;
    --TEXT-FIELD-BORDER-COLOR: var(--HR-BORDER-COLOR);
    --TEXT-FIELD-BORDER-COLOR-HOVER: var(--FG-SECONDARY-COLOR);
    --TEXT-FIELD-BORDER-COLOR-ACTIVE: var(--FG-COLOR);
    --TEXT-FIELD-BORDER-COLOR-FOCUS: var(--ACCENT-PRIMARY-COLOR);

    /* Card styling */
    --CARD-BORDER-COLOR: var(--HR-BORDER-COLOR);
    --CARD-BOX-SHADOW: 0px 2px 4px rgba(0,0,0,0.75);
    --CARD-IMG-BORDER-COLOR: var(--HR-BORDER-COLOR);

    --CARD-LIST-ITEM-FG-COLOR: var(--FG-COLOR);
    --CARD-LIST-ITEM-FG-COLOR-HOVER: var(--FG-COLOR);
    --CARD-LIST-ITEM-BG-COLOR: none;
    --CARD-LIST-ITEM-BG-COLOR-HOVER: rgba(0,0,0,0.25);
}