:root {
    --FG-COLOR: #333333;
    --FG-SECONDARY-COLOR: #776666;
    --BG-COLOR: white;
    --BG-SECONDARY-COLOR: #eeeeee;
    --BG-TERTIARY-COLOR: #dfdfdf;
    --ACCENT-PRIMARY-COLOR: seagreen;
    --ACCENT-SECONDARY-COLOR: #3d9b65;
    --ACCENT-TERTIARY-COLOR: #1e7544;
    --NAVBAR-FG-COLOR: var(--FG-COLOR);
    --NAVBAR-BG-COLOR: var(--BG-COLOR);
    --NAVBAR-BG-COLOR-GRADIENT: linear-gradient(to bottom, var(--BG-COLOR), var(--BG-SECONDARY-COLOR));
    --NAVBAR-BG-COLOR-TRANSLUCENT:  rgba(255,255,255,0.8);
    --NAVBAR-SHADOW: 0px 8px 16px rgba(0,0,0,0.125);

    --HR-BORDER-COLOR: #cccccc;

    --SCROLLBAR-WIDTH: 1.0625rem;
    --SCROLLBAR-THUMB-COLOR: rgba(51,51,51,0.25);
    --SCROLLBAR-THUMB-COLOR-HOVER: rgba(51,51,51,0.5);
    --SCROLLBAR-THUMB-COLOR-ACTIVE: var(--ACCENT-PRIMARY-COLOR);

    --COVER-ART-BG-COLOR: #555555;
    --COVER-ART-BORDER-COLOR: var(--HR-BORDER-COLOR);
    --COVER-ART-SHADOW: none;
    --PROFILE-IMAGE-SHADOW: 0px 2px 4px rgba(0,0,0,0.25);

    /* Button styling */
    --BUTTON-FG-COLOR: var(--BG-COLOR);
    --BUTTON-FG-COLOR-HOVER: var(--BG-COLOR);
    --BUTTON-FG-COLOR-ACTIVE: var(--BG-COLOR);
    --BUTTON-FG-COLOR-SELECTED: var(--BG-COLOR);
    --BUTTON-FG-COLOR-DISABLED: var(--FG-SECONDARY-COLOR);
    --BUTTON-BG-COLOR: var(--ACCENT-PRIMARY-COLOR);
    --BUTTON-BG-COLOR-HOVER: var(--ACCENT-SECONDARY-COLOR);
    --BUTTON-BG-COLOR-ACTIVE: var(--ACCENT-TERTIARY-COLOR);
    --BUTTON-BG-COLOR-SELECTED: var(--ACCENT-TERTIARY-COLOR);
    --BUTTON-BG-COLOR-DISABLED: var(--BG-TERTIARY-COLOR);
    --BUTTON-BORDER-COLOR: var(--BUTTON-BG-COLOR);
    --BUTTON-BORDER-COLOR-HOVER: var(--BUTTON-BG-COLOR);
    --BUTTON-BORDER-COLOR-ACTIVE: var(--BUTTON-BG-COLOR);
    --BUTTON-BORDER-COLOR-FOCUS: var(--BUTTON-BG-COLOR);
    --BUTTON-BORDER-COLOR-SELECTED: var(--ACCENT-PRIMARY-COLOR);
    --BUTTON-BORDER-COLOR-DISABLED: var(--BG-TERTIARY-COLOR);
    --BUTTON-BOX-SHADOW: 0px 2px 4px rgba(0,0,0,0.25);
    --BUTTON-BOX-SHADOW-HOVER: 0px 4px 8px rgba(0,0,0,0.25);
    --BUTTON-BOX-SHADOW-ACTIVE: 0px 2px 4px rgba(0,0,0,0.25) inset;

    --TOGGLE-SWITCH-BG-COLOR: var(--BG-TERTIARY-COLOR);
    --TOGGLE-SWITCH-BG-COLOR-HOVER: var(--BG-TERTIARY-COLOR);
    --TOGGLE-SWITCH-BG-COLOR-ACTIVE: var(--ACCENT-PRIMARY-COLOR);
    --TOGGLE-SWITCH-KNOB-FG-COLOR: var(--FG-COLOR);
    --TOGGLE-SWITCH-KNOB-BG-COLOR: var(--BG-COLOR);
    --TOGGLE-SWITCH-KNOB-BG-COLOR-HOVER: var(--ACCENT-SECONDARY-COLOR);
    --TOGGLE-SWITCH-BORDER-COLOR: var(--HR-BORDER-COLOR);
    --TOGGLE-SWITCH-BORDER-COLOR-HOVER: var(--HR-BORDER-COLOR);
    --TOGGLE-SWITCH-BOX-SHADOW: none;
    --TOGGLE-SWITCH-BOX-SHADOW-HOVER: none;
    --TOGGLE-SWITCH-KNOB-BOX-SHADOW: none;
    --TOGGLE-SWITCH-KNOB-BOX-SHADOW-HOVER: none;

    --TABBAR-ITEM-FG-COLOR: var(--FG-COLOR);
    --TABBAR-ITEM-FG-COLOR-HOVER: var(--BUTTON-FG-COLOR-HOVER);
    --TABBAR-ITEM-FG-COLOR-ACTIVE: var(--BUTTON-FG-COLOR-ACTIVE);
    --TABBAR-ITEM-FG-COLOR-SELECTED: var(--BG-COLOR);
    --TABBAR-ITEM-FG-COLOR-DISABLED: var(--BUTTON-FG-COLOR-DISABLED);
    --TABBAR-ITEM-BG-COLOR: var(--BG-TERTIARY-COLOR);
    --TABBAR-ITEM-BG-COLOR-HOVER: var(--BUTTON-BG-COLOR-HOVER);
    --TABBAR-ITEM-BG-COLOR-ACTIVE: var(--BUTTON-BG-COLOR-ACTIVE);
    --TABBAR-ITEM-BG-COLOR-SELECTED: var(--ACCENT-PRIMARY-COLOR);
    --TABBAR-ITEM-BG-COLOR-DISABLED: var(--BUTTON-BG-COLOR-DISABLED);
    --TABBAR-BORDER-COLOR: var(--CARD-BORDER-COLOR);
    --TABBAR-BORDER-COLOR-HOVER: var(--CARD-BORDER-COLOR);

    --TABBAR-VERTICAL-ITEM-FG-COLOR: var(--FG-COLOR);
    --TABBAR-VERTICAL-ITEM-FG-COLOR-HOVER: var(--ACCENT-SECONDARY-COLOR);
    --TABBAR-VERTICAL-ITEM-FG-COLOR-ACTIVE: var(--ACCENT-PRIMARY-COLOR);
    --TABBAR-VERTICAL-ITEM-FG-COLOR-SELECTED: var(--ACCENT-PRIMARY-COLOR);
    --TABBAR-VERTICAL-ITEM-BG-COLOR: none;
    --TABBAR-VERTICAL-ITEM-BG-COLOR-HOVER: none;
    --TABBAR-VERTICAL-ITEM-BG-COLOR-ACTIVE: none;
    --TABBAR-VERTICAL-ITEM-BG-COLOR-SELECTED: none;
    --TABBAR-VERTICAL-ITEM-BORDER-COLOR: transparent;
    --TABBAR-VERTICAL-ITEM-BORDER-COLOR-HOVER: transparent;
    --TABBAR-VERTICAL-ITEM-BORDER-COLOR-ACTIVE: transparent;
    --TABBAR-VERTICAL-ITEM-BORDER-COLOR-FOCUS: transparent;
    --TABBAR-VERTICAL-ITEM-BORDER-COLOR-SELECTED: transparent;
    --TABBAR-VERTICAL-ITEM-BORDER-COLOR-DISABLED:  transparent;

    --LIST-FREESTYLE-ITEM-FG-COLOR: var(--BG-COLOR);
    --LIST-FREESTYLE-ITEM-FG-COLOR-HOVER: var(--BG-COLOR);
    --LIST-FREESTYLE-ITEM-BG-COLOR: var(--FG-SECONDARY-COLOR);
    --LIST-FREESTYLE-ITEM-BG-COLOR-HOVER: var(--ACCENT-PRIMARY-COLOR);
    --LIST-FREESTYLE-ITEM-BORDER-COLOR: var(--FG-SECONDARY-COLOR);
    --LIST-FREESTYLE-ITEM-BORDER-COLOR-HOVER: var(--ACCENT-PRIMARY-COLOR);

    /* Form styling */
    --TEXT-FIELD-FG-COLOR: var(--FG-COLOR);
    --TEXT-FIELD-FG-COLOR-HOVER: var(--FG-COLOR);
    --TEXT-FIELD-FG-COLOR-ACTIVE: var(--FG-COLOR);
    --TEXT-FIELD-BG-COLOR: var(--BG-SECONDARY-COLOR);
    --TEXT-FIELD-BG-COLOR-HOVER: var(--BG-SECONDARY-COLOR);
    --TEXT-FIELD-BG-COLOR-ACTIVE: var(--BG-COLOR);
    --TEXT-FIELD-BORDER-COLOR: var(--HR-BORDER-COLOR);
    --TEXT-FIELD-BORDER-COLOR-HOVER: var(--HR-BORDER-COLOR);
    --TEXT-FIELD-BORDER-COLOR-ACTIVE: var(--ACCENT-PRIMARY-COLOR);
    --TEXT-FIELD-BORDER-COLOR-FOCUS: var(--ACCENT-PRIMARY-COLOR);
    --TEXT-FIELD-BOX-SHADOW: none;
    --TEXT-FIELD-BOX-SHADOW-HOVER: none;
    --TEXT-FIELD-BOX-SHADOW-ACTIVE: none;

    /* Card styling */
    --CARD-BORDER-COLOR: var(--HR-BORDER-COLOR);
    --CARD-BOX-SHADOW: 0px 4px 16px rgba(0,0,0,0.125);
    --CARD-IMG-BORDER-COLOR: var(--HR-BORDER-COLOR);

    --CARD-LIST-ITEM-FG-COLOR: var(--FG-COLOR);
    --CARD-LIST-ITEM-FG-COLOR-HOVER: var(--FG-COLOR);
    --CARD-LIST-ITEM-BG-COLOR: none;
    --CARD-LIST-ITEM-BG-COLOR-HOVER: rgba(0,0,0,0.0625);
}