:root {
    --FG-COLOR: #333333;
    --FG-SECONDARY-COLOR: gray;
    --BG-COLOR: white;
    --BG-SECONDARY-COLOR: whitesmoke;
    --BG-TERTIARY-COLOR: lightgray;
    --ACCENT-PRIMARY-COLOR: #336666;
    --ACCENT-SECONDARY-COLOR: #558888;
    --NAVBAR-FG-COLOR: var(--FG-COLOR);
    --NAVBAR-BG-COLOR: var(--BG-COLOR);
    --NAVBAR-BG-COLOR-GRADIENT: linear-gradient(to bottom, var(--BG-COLOR), var(--BG-SECONDARY-COLOR));
    --NAVBAR-BG-COLOR-TRANSLUCENT: linear-gradient(to bottom, rgba(255,255,255,1.0), rgba(255,255,255,0.8));
    --NAVBAR-SHADOW: 0px 0px 4px rgba(0,0,0,0.125);

    --HR-BORDER-COLOR: lightgray;

    --SCROLLBAR-WIDTH: 1.0625rem;
    --SCROLLBAR-THUMB-COLOR: rgba(51,51,51,0.25);
    --SCROLLBAR-THUMB-COLOR-HOVER: rgba(51,51,51,0.5);
    --SCROLLBAR-THUMB-COLOR-ACTIVE: var(--ACCENT-PRIMARY-COLOR);

    --COVER-ART-BG-COLOR: #555555;
    --COVER-ART-BORDER-COLOR: var(--HR-BORDER-COLOR);
    --COVER-ART-SHADOW: none;

    /* Button styling */
    --BUTTON-FG-COLOR: var(--FG-COLOR);
    --BUTTON-FG-COLOR-HOVER: var(--BG-COLOR);
    --BUTTON-FG-COLOR-ACTIVE: var(--BG-COLOR);
    --BUTTON-FG-COLOR-SELECTED: var(--BG-COLOR);
    --BUTTON-FG-COLOR-DISABLED: gray;
    --BUTTON-BG-COLOR: white;
    --BUTTON-BG-COLOR-HOVER: var(--ACCENT-SECONDARY-COLOR);
    --BUTTON-BG-COLOR-ACTIVE: var(--ACCENT-PRIMARY-COLOR);
    --BUTTON-BG-COLOR-SELECTED: var(--ACCENT-PRIMARY-COLOR);
    --BUTTON-BG-COLOR-DISABLED: darkgray;
    --BUTTON-BORDER-COLOR: lightgray;
    --BUTTON-BORDER-COLOR-HOVER: var(--ACCENT-PRIMARY-COLOR);
    --BUTTON-BORDER-COLOR-ACTIVE: var(--ACCENT-PRIMARY-COLOR);
    --BUTTON-BORDER-COLOR-FOCUS: var(--ACCENT-PRIMARY-COLOR);
    --BUTTON-BORDER-COLOR-SELECTED: var(--ACCENT-PRIMARY-COLOR);
    --BUTTON-BORDER-COLOR-DISABLED:  darkgray;
    --BUTTON-BOX-SHADOW: none;
    --BUTTON-BOX-SHADOW-HOVER: none;
    --BUTTON-BOX-SHADOW-ACTIVE: none;

    --TABBAR-ITEM-FG-COLOR: var(--FG-COLOR);
    --TABBAR-ITEM-FG-COLOR-HOVER: var(--BG-COLOR);
    --TABBAR-ITEM-FG-COLOR-ACTIVE: var(--BG-COLOR);
    --TABBAR-ITEM-FG-COLOR-SELECTED: var(--BG-COLOR);
    --TABBAR-ITEM-FG-COLOR-DISABLED: var(--BUTTON-FG-COLOR-DISABLED);
    --TABBAR-ITEM-BG-COLOR: var(--BG-COLOR);
    --TABBAR-ITEM-BG-COLOR-HOVER: var(--ACCENT-SECONDARY-COLOR);
    --TABBAR-ITEM-BG-COLOR-ACTIVE: var(--ACCENT-PRIMARY-COLOR);
    --TABBAR-ITEM-BG-COLOR-SELECTED: var(--ACCENT-PRIMARY-COLOR);
    --TABBAR-ITEM-BG-COLOR-DISABLED: var(--BUTTON-BG-COLOR-DISABLED);
    --TABBAR-ITEM-BORDER-COLOR: var(--BUTTON-BORDER-COLOR);
    --TABBAR-ITEM-BORDER-COLOR-HOVER: var(--BUTTON-BORDER-COLOR);
    --TABBAR-ITEM-BORDER-COLOR-ACTIVE: var(--BUTTON-BORDER-COLOR);
    --TABBAR-ITEM-BORDER-COLOR-FOCUS: var(--BUTTON-BORDER-COLOR);
    --TABBAR-ITEM-BORDER-COLOR-SELECTED: var(--BUTTON-BORDER-COLOR);
    --TABBAR-ITEM-BORDER-COLOR-DISABLED:  var(--BUTTON-BORDER-COLOR);

    --TABBAR-VERTICAL-ITEM-FG-COLOR: var(--FG-COLOR);
    --TABBAR-VERTICAL-ITEM-FG-COLOR-HOVER: var(--BG-COLOR);
    --TABBAR-VERTICAL-ITEM-FG-COLOR-ACTIVE: var(--BG-COLOR);
    --TABBAR-VERTICAL-ITEM-FG-COLOR-SELECTED: var(--BG-COLOR);
    --TABBAR-VERTICAL-ITEM-BG-COLOR: none;
    --TABBAR-VERTICAL-ITEM-BG-COLOR-HOVER: var(--ACCENT-SECONDARY-COLOR);
    --TABBAR-VERTICAL-ITEM-BG-COLOR-ACTIVE: var(--ACCENT-PRIMARY-COLOR);
    --TABBAR-VERTICAL-ITEM-BG-COLOR-SELECTED: var(--ACCENT-PRIMARY-COLOR);

    --LIST-FREESTYLE-ITEM-FG-COLOR: var(--BG-COLOR);
    --LIST-FREESTYLE-ITEM-FG-COLOR-HOVER: var(--BG-COLOR);
    --LIST-FREESTYLE-ITEM-BG-COLOR: var(--ACCENT-SECONDARY-COLOR);
    --LIST-FREESTYLE-ITEM-BG-COLOR-HOVER: var(--ACCENT-PRIMARY-COLOR);
    --LIST-FREESTYLE-ITEM-BORDER-COLOR: var(--ACCENT-SECONDARY-COLOR);
    --LIST-FREESTYLE-ITEM-BORDER-COLOR-HOVER: var(--ACCENT-PRIMARY-COLOR);

    /* Form styling */
    --TEXT-FIELD-FG-COLOR: var(--FG-COLOR);
    --TEXT-FIELD-FG-COLOR-HOVER: var(--FG-COLOR);
    --TEXT-FIELD-FG-COLOR-ACTIVE: var(--FG-COLOR);
    --TEXT-FIELD-BG-COLOR: white;
    --TEXT-FIELD-BG-COLOR-HOVER: white;
    --TEXT-FIELD-BG-COLOR-ACTIVE: white;
    --TEXT-FIELD-BORDER-COLOR: var(--HR-BORDER-COLOR);
    --TEXT-FIELD-BORDER-COLOR-HOVER: var(--ACCENT-PRIMARY-COLOR);
    --TEXT-FIELD-BORDER-COLOR-ACTIVE: var(--FG-COLOR);
    --TEXT-FIELD-BORDER-COLOR-FOCUS: var(--FG-COLOR);

    /* Card styling */
    --CARD-BORDER-COLOR: var(--HR-BORDER-COLOR);
    --CARD-BOX-SHADOW: 0px 0px 4px rgba(0,0,0,0.125);
    --CARD-IMG-BORDER-COLOR: var(--HR-BORDER-COLOR);

    --CARD-LIST-ITEM-FG-COLOR: var(--FG-COLOR);
    --CARD-LIST-ITEM-FG-COLOR-HOVER: var(--FG-COLOR);
    --CARD-LIST-ITEM-BG-COLOR: none;
    --CARD-LIST-ITEM-BG-COLOR-HOVER: rgba(0,0,0,0.0625);
}