nav.page-nav-sidebar {
  margin: 0;
  padding: 0.5rem 0rem;

  display: inline-flex;
  flex-flow: column;
  align-items: stretch;
  justify-content: flex-start;

  background: var(--bg-color);
  border: 1px solid var(--bg-color-3);
  border-radius: 5px;

  font-family: var(--font-family-widget);
  font-size: 90%;
}
nav.page-nav-sidebar :is(a, span.page-nav-sidebar-item) {
  width: 100%;
  margin: 0;
  padding: 0.25rem 1rem;
  color: var(--fg-color-9);
  white-space: nowrap;
  text-overflow: ellipsis;
}
nav.page-nav-sidebar :is(a, span.page-nav-sidebar-item):hover {
  color: var(--primary-color);
  background: var(--primary-color-3);
  text-decoration: none;
}
nav.page-nav-sidebar :is(a, span.page-nav-sidebar-item):active {
  color: var(--bg-color);
  background: var(--primary-color);
  text-decoration: none;
}
