.nav-menu-button {
  display: none;
  visibility: hidden;
  width: 0;
  height: 0;
}

@media only screen and (max-width: 720px) {
  .only-desktop {
      display: none;
      visibility: hidden;
      width: 0;
      height: 0;
  }

  .nav-menu-button {
    display: inline-flex;
    visibility: visible;
    width: auto;
    height: auto;
  }
}
