img.not-found {
  width: 180px;
  height: 180px;
  margin: 2rem 0;
  display: block;
  border-radius: 50%;
  filter: grayscale(0.1);
  user-select: none;
  -webkit-user-drag: none;
}

.button.not-found-redirect {
  margin-top: 1rem;
}
