/* Zen Kaku Gothic Antique */
@font-face {
	font-family: 'Zen Kaku Gothic Antique';
	src: url('./zen-kaku-gothic-antique/ZenKakuGothicAntique-Light.ttf');
	font-weight: 300;
  font-style: normal;
}
@font-face {
	font-family: 'Zen Kaku Gothic Antique';
	src: url('./zen-kaku-gothic-antique/ZenKakuGothicAntique-Regular.ttf');
	font-weight: 400;
  font-style: normal;
}
@font-face {
	font-family: 'Zen Kaku Gothic Antique';
	src: url('./zen-kaku-gothic-antique/ZenKakuGothicAntique-Medium.ttf');
	font-weight: 500;
  font-style: normal;
}
@font-face {
	font-family: 'Zen Kaku Gothic Antique';
	src: url('./zen-kaku-gothic-antique/ZenKakuGothicAntique-Bold.ttf');
	font-weight: 700;
  font-style: normal;
}
@font-face {
	font-family: 'Zen Kaku Gothic Antique';
	src: url('./zen-kaku-gothic-antique/ZenKakuGothicAntique-Black.ttf');
	font-weight: 900;
  font-style: normal;
}