article.project {
  & .project-header {
    width: 100%;
    margin: 0;
    padding-block: 1rem;
    display: inline-flex;
    flex-flow: column;
    align-items: flex-start;
    justify-content: center;
    gap: 0.5rem;
    border-bottom: 1px solid var(--border-color);

    h2 {
      padding: 0rem;
      align-self: flex-start;
      color: var(--fg);
      text-shadow: none;
      font-size: 2.25rem;
      font-weight: 900;
      text-align: left;
      letter-spacing: 0;
      line-height: 1;
      text-transform: none;
    }
  
    p.subtitle {
      padding: 0;
      color: var(--fg-secondary);
      font-size: 1.1rem;
      text-align: left;
    }

    sub.timestamp {
      color: var(--fg-secondary);
    }
  }

  .project-body {
    padding-block: 2rem;
  }
}