.toolbar {
  width: 100%;
  margin: 0;
  padding: 0.25rem 1rem;

  display: inline-flex;
  flex-flow: row;
  align-items: center;
  justify-content: space-between;

  position: sticky;
  top: 0;
  z-index: 90;

  color: var(--fg-color);
  background: rgba(255, 255, 255, 0.75);
  backdrop-filter: blur(6px);
  border-bottom: 1px solid var(--border-color);
  box-shadow: 0px 2px 4px var(--shadow-4);

  font-family: var(--font-family-widget);
}
