.home {
  width: 100%;
  padding: 0;
  display: inline-flex;
  flex-flow: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 1.5rem;

  a:has(.latest) {
    width: 100%;
    text-decoration: none;
  }

  .home-intro {
    width: 100%;
    margin-block: 0.5rem;
    padding: 0;
    display: inline-flex;
    flex-flow: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 0.25rem;
    font-family: inherit;
    font-size: 1.25rem;
    font-weight: 400;
  }
}

@media (max-width: 640px) {
  .home {
    .home-intro {
      padding: 1.25rem;
      font-size: 1.5rem;
    }
  }
}
