.home {
  width: 100%;
  padding: 0;
  display: inline-flex;
  flex-flow: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 1.5rem;

  a:has(.latest) {
    width: 100%;
    text-decoration: none;
  }

  .latest {
    width: 100%;
    margin: 0;
    padding: 0.5rem;
    display: inline-flex;
    flex-flow: row;
    align-items: center;
    justify-content: center;
    gap: 0.25rem;
    color: var(--fg);
    background: rgba(var(--bg-rgb), 0.5);
    border: 1px solid var(--border-color);
    box-shadow: var(--3d-shadow);
    border-radius: var(--border-radius-1);
    text-align: center;
    text-decoration: none;
    transition: var(--transition);

    &:hover {
      background: rgba(var(--bg-rgb), 0.75);
    }

    .section-title {
      margin: 0;
      padding: 0.75rem 1rem;
      color: white;
      background: linear-gradient(to bottom right, steelblue, indigo);
      box-shadow: var(--3d-shadow);
      text-shadow: 2px 2px 1px indigo;
      border: 1px solid indigo;
      border-radius: var(--border-radius);
      text-transform: uppercase;
      font-size: 75%;
      font-weight: bold;
      letter-spacing: 6px;
      user-select: none;
      transition: var(--transition);

      &:hover {
        box-shadow:
          0px 2px 8px rgba(255, 255, 255, 0.5) inset,
          var(--3d-shadow),
          0px 2px 8px rgba(0, 0, 0, 0.5);
      }
    }

    .article-title {
      width: 100%;
      margin: 0;
      padding-inline: 1rem;
      color: var(--fg);
      font-family: var(--header-font);
      font-size: 125%;
      font-weight: bold;
      text-align: left;
    }

    h2 {
      margin: 0;
      padding: 0;
    }

    a {
      font-weight: bold;
    }
  }

  .home-intro {
    width: 100%;
    margin-block: 0.5rem;
    padding: 2rem;
    display: inline-flex;
    flex-flow: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 0.25rem;
    background: rgba(var(--bg-rgb), 0.5);
    box-shadow: var(--3d-shadow);
    border: 1px solid var(--border-color);
    border-radius: var(--border-radius-1);
    font-family: inherit;
    font-size: 1.25rem;
    font-weight: 400;
  }
}

@media (max-width: 640px) {
  .home {
    .home-intro {
      padding: 1.25rem;
      font-size: 1.5rem;
    }
  }
}
