.home {
  width: 100%;
  padding-block: 1rem;
  display: inline-flex;
  flex-flow: column;
  align-items: flex-start;
  justify-content: flex-start;

  a:has(.latest) {
    margin-block: 0rem 2.5rem;
    width: 100%;
    text-decoration: none;
  }

  .latest {
    width: 100%;
    padding: 1rem;
    display: inline-flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    color: var(--fg);
    background: var(--bg-secondary);
    border-radius: var(--border-radius);
    text-align: center;
    text-decoration: none;
    transition: var(--transition);

    span {
      color: var(--fg);
      text-transform: uppercase;
      font-size: 80%;
      font-weight: 500;
      user-select: none;
    }

    h2 {
      margin: 0;
      padding: 0;
    }

    &:hover {
      color: var(--bg);
      background: var(--fg);
      transition: var(--transition);

      span {
        color: var(--bg-secondary);
        transition: var(--transition);
      }
    }
  }

  .home-intro {
    width: 100%;
    padding: 0;
    display: inline-flex;
    flex-flow: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 0.25rem;
    font-size: 2.5rem;
    font-weight: 100;
    letter-spacing: -0.06125rem;
    line-height: 1.33;
  }
}

@media (max-width: 640px) {
  .home {
    padding: 1rem 0.5rem;

    .home-intro {
      font-size: 2rem;
    }
  }
}
