.postsList {
  width: 100%;
  display: inline-flex;
  flex-flow: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.postsList ul {
  width: 100%;
  list-style: none;
  display: inline-flex;
  flex-flow: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 1rem;
}
.postsList ul li {
  width: 100%;
  padding: 1.5rem;
  display: inline-flex;
  flex-flow: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 0.5rem;
  background: var(--bg-color);
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);
  box-shadow: var(--preset-shadow-component);
  transition: var(--transition);
}
.postsList ul li:hover {
  border-color: var(--primary-color);
  box-shadow: var(--preset-shadow-component-hover);
}
.postsList ul li p {
  padding-block: 0.5rem;
}

.postsListEntryHeader {
  width: 100%;
  display: inline-flex;
  flex-flow: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: 0.5rem;
}
.postsListEntryHeader h3 {
  font-size: 1.25rem;
}
.postsListEntryHeader sub {
  color: var(--fg-color-5);
  font-size: 1rem;
}

@media (max-width: 1023px) {
  .postsListEntryHeader {
    flex-flow: column;
    justify-content: flex-start;
  }
}
