/* Roboto Flex */
@font-face {
	font-family: 'Roboto Flex';
	src: url('./roboto-flex/RobotoFlex-VariableFont_GRAD\,XTRA\,YOPQ\,YTAS\,YTDE\,YTFI\,YTLC\,YTUC\,opsz\,slnt\,wdth\,wght.ttf');
	font-weight: 100 1000;
  font-style: normal;
	font-stretch: 25% 151%;
}
@font-face {
	font-family: 'Roboto Flex';
	src: url('./roboto-flex/RobotoFlex-VariableFont_GRAD\,XTRA\,YOPQ\,YTAS\,YTDE\,YTFI\,YTLC\,YTUC\,opsz\,slnt\,wdth\,wght.ttf');
	font-weight: 100 1000;
  font-style: italic;
	font-stretch: 25% 151%;
}