.pageBlog ul.postList {
  width: 100%;
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: inline-flex;
  flex-flow: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 1rem;
}

.pageBlog ul.postList li {
  width: 100%;
  margin: 0;
  padding: 0;
  display: inline-flex;
  flex-flow: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 0rem;
}
.pageBlog ul.postList li a {
  text-decoration: underline;
}
.pageBlog ul.postList li a:hover {
  text-decoration: none;
}

.pageBlog ul.postList li sub {
  color: var(--fg-color-9);
  font-size: 75%;
  font-family: var(--font-family-widget);
}

.pageBlogPost .navigationViewNav {
  max-width: 320px;
  width: 100%;
}

.pageBlogPost .navigationSidebar .navigationSidebarItem :is(a, span) {
  width: 100%;
  margin: 0;
  padding: 0.75rem 1rem;
  word-wrap: break-word;
  white-space: pre-wrap;
}

:is(.pageBlog, .pageBlogPost) .navigationSidebarItem :is(a, span) {
  width: 100%;
  margin: 0;
  display: inline-flex;
  flex-flow: column;
  align-items: flex-start;
  justify-content: flex-start;
}
:is(.pageBlog, .pageBlogPost) .navigationSidebarItem :is(a, span) .title {
  width: 100%;
  padding: 0rem 0rem 0.25rem 0rem !important;
}
:is(.pageBlog, .pageBlogPost) .navigationSidebarItem :is(a, span) .timestamp {
  width: 100%;
  font-size: 75%;
}

.pageBlogPost .pageBlogPostHeader {
  margin: 0rem 0rem 1.5rem 0rem;
  padding: 0rem 0rem 1rem 0rem;
  border-bottom: 1px solidvar(--border-color);
  text-align: center;
}
.pageBlogPost .pageBlogPostHeader h2 {
  margin: 0rem 0rem 1rem 0rem;
  padding: 0;
  color: var(--fg-color);
  border: none;
  font-size: 3rem;
  font-weight: 900;
  line-height: 1;
}
.pageBlogPost .pageBlogPostHeader sub {
  color: var(--fg-color-5);
  font-size: 1.5rem;
  font-weight: 600;
}
.pageBlogPost .pageBlogPostHeader p.timestamp {
  color: var(--fg-color-9);
  font-weight: 600;
}

.pageBlogPost .pageBlogPostContent {
  line-height: 1.5;
}
