/* Public Sans */
@font-face {
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 100;
    src: url('public_sans/PublicSans-Thin.ttf');
}
@font-face {
    font-family: 'Public Sans';
    font-style: italic;
    font-weight: 100;
    src: url('public_sans/PublicSans-ThinItalic.ttf');
}
@font-face {
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 200;
    src: url('public_sans/PublicSans-ExtraLight.ttf');
}
@font-face {
    font-family: 'Public Sans';
    font-style: italic;
    font-weight: 200;
    src: url('public_sans/PublicSans-ExtraLightItalic.ttf');
}
@font-face {
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 300;
    src: url('public_sans/PublicSans-Light.ttf');
}
@font-face {
    font-family: 'Public Sans';
    font-style: italic;
    font-weight: 300;
    src: url('public_sans/PublicSans-LightItalic.ttf');
}
@font-face {
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 400;
    src: url('public_sans/PublicSans-Regular.ttf');
}
@font-face {
    font-family: 'Public Sans';
    font-style: italic;
    font-weight: 400;
    src: url('public_sans/PublicSans-Italic.ttf');
}
@font-face {
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 500;
    src: url('public_sans/PublicSans-Medium.ttf');
}
@font-face {
    font-family: 'Public Sans';
    font-style: italic;
    font-weight: 500;
    src: url('public_sans/PublicSans-MediumItalic.ttf');
}
@font-face {
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 600;
    src: url('public_sans/PublicSans-SemiBold.ttf');
}
@font-face {
    font-family: 'Public Sans';
    font-style: italic;
    font-weight: 600;
    src: url('public_sans/PublicSans-SemiBoldItalic.ttf');
}
@font-face {
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 700;
    src: url('public_sans/PublicSans-Bold.ttf');
}
@font-face {
    font-family: 'Public Sans';
    font-style: italic;
    font-weight: 700;
    src: url('public_sans/PublicSans-BoldItalic.ttf');
}
@font-face {
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 800;
    src: url('public_sans/PublicSans-ExtraBold.ttf');
}
@font-face {
    font-family: 'Public Sans';
    font-style: italic;
    font-weight: 800;
    src: url('public_sans/PublicSans-ExtraBoldItalic.ttf');
}
@font-face {
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 900;
    src: url('public_sans/PublicSans-Black.ttf');
}
@font-face {
    font-family: 'Public Sans';
    font-style: italic;
    font-weight: 900;
    src: url('public_sans/PublicSans-BlackItalic.ttf');
}


/* Brisa Sans */
@font-face {
    font-family: 'Brisa Sans';
    font-style: normal;
    font-weight: 100;
    src: url('brisa_sans/BrisaSans-Thin.otf');
}
@font-face {
    font-family: 'Brisa Sans';
    font-style: italic;
    font-weight: 100;
    src: url('brisa_sans/BrisaSans-ThinItalic.otf');
}
@font-face {
    font-family: 'Brisa Sans';
    font-style: normal;
    font-weight: 300;
    src: url('brisa_sans/BrisaSans-Light.otf');
}
@font-face {
    font-family: 'Brisa Sans';
    font-style: italic;
    font-weight: 300;
    src: url('brisa_sans/BrisaSans-LightItalic.otf');
}
@font-face {
    font-family: 'Brisa Sans';
    font-style: normal;
    font-weight: 400;
    src: url('brisa_sans/BrisaSans-Regular.otf');
}
@font-face {
    font-family: 'Brisa Sans';
    font-style: italic;
    font-weight: 400;
    src: url('brisa_sans/BrisaSans-Italic.otf');
}
@font-face {
    font-family: 'Brisa Sans';
    font-style: normal;
    font-weight: 500;
    src: url('brisa_sans/BrisaSans-Medium.otf');
}
@font-face {
    font-family: 'Brisa Sans';
    font-style: italic;
    font-weight: 500;
    src: url('brisa_sans/BrisaSans-MediumItalic.otf');
}
@font-face {
    font-family: 'Brisa Sans';
    font-style: normal;
    font-weight: 700;
    src: url('brisa_sans/BrisaSans-Bold.otf');
}
@font-face {
    font-family: 'Brisa Sans';
    font-style: italic;
    font-weight: 700;
    src: url('brisa_sans/BrisaSans-BoldItalic.otf');
}

/* Bitter */
@font-face {
    font-family: 'Bitter';
    font-style: normal;
    font-weight: 300;
    font-variation-settings: 'wght' 300;
    src: url('bitter/Bitter-VariableFont_wght.ttf');
}
@font-face {
    font-family: 'Bitter';
    font-style: normal;
    font-weight: 400;
    font-variation-settings: 'wght' 400;
    src: url('bitter/Bitter-VariableFont_wght.ttf');
}
@font-face {
    font-family: 'Bitter';
    font-style: normal;
    font-weight: 700;
    font-variation-settings: 'wght' 700;
    src: url('bitter/Bitter-VariableFont_wght.ttf');
}
@font-face {
    font-family: 'Bitter';
    font-style: normal;
    font-weight: 800;
    font-variation-settings: 'wght' 800;
    src: url('bitter/Bitter-VariableFont_wght.ttf');
}
@font-face {
    font-family: 'Bitter';
    font-style: normal;
    font-weight: 900;
    font-variation-settings: 'wght' 900;
    src: url('bitter/Bitter-VariableFont_wght.ttf');
}
@font-face {
    font-family: 'Bitter';
    font-style: italic;
    font-weight: 300;
    font-variation-settings: 'wght' 300;
    src: url('bitter/Bitter-Italic-VariableFont_wght.ttf');
}
@font-face {
    font-family: 'Bitter';
    font-style: italic;
    font-weight: 400;
    font-variation-settings: 'wght' 400;
    src: url('bitter/Bitter-Italic-VariableFont_wght.ttf');
}
@font-face {
    font-family: 'Bitter';
    font-style: italic;
    font-weight: 700;
    font-variation-settings: 'wght' 700;
    src: url('bitter/Bitter-Italic-VariableFont_wght.ttf');
}
@font-face {
    font-family: 'Bitter';
    font-style: italic;
    font-weight: 800;
    font-variation-settings: 'wght' 800;
    src: url('bitter/Bitter-Italic-VariableFont_wght.ttf');
}
@font-face {
    font-family: 'Bitter';
    font-style: italic;
    font-weight: 900;
    font-variation-settings: 'wght' 900;
    src: url('bitter/Bitter-Italic-VariableFont_wght.ttf');
}

/* JetBrains Mono */
@font-face {
    font-family: 'JetBrains Mono';
    font-style: normal;
    font-weight: 300;
    font-variation-settings: 'wght' 300;
    src: url('jetbrains_mono/JetBrainsMono-VariableFont_wght.ttf');
}
@font-face {
    font-family: 'JetBrains Mono';
    font-style: normal;
    font-weight: 400;
    font-variation-settings: 'wght' 400;
    src: url('jetbrains_mono/JetBrainsMono-VariableFont_wght.ttf');
}
@font-face {
    font-family: 'JetBrains Mono';
    font-style: normal;
    font-weight: 700;
    font-variation-settings: 'wght' 700;
    src: url('jetbrains_mono/JetBrainsMono-VariableFont_wght.ttf');
}
@font-face {
    font-family: 'JetBrains Mono';
    font-style: normal;
    font-weight: 800;
    font-variation-settings: 'wght' 800;
    src: url('jetbrains_mono/JetBrainsMono-VariableFont_wght.ttf');
}
@font-face {
    font-family: 'JetBrains Mono';
    font-style: normal;
    font-weight: 900;
    font-variation-settings: 'wght' 900;
    src: url('jetbrains_mono/JetBrainsMono-VariableFont_wght.ttf');
}
@font-face {
    font-family: 'JetBrains Mono';
    font-style: italic;
    font-weight: 300;
    font-variation-settings: 'wght' 300;
    src: url('jetbrains_mono/JetBrainsMono-Italic-VariableFont_wght.ttf');
}
@font-face {
    font-family: 'JetBrains Mono';
    font-style: italic;
    font-weight: 400;
    font-variation-settings: 'wght' 400;
    src: url('jetbrains_mono/JetBrainsMono-Italic-VariableFont_wght.ttf');
}
@font-face {
    font-family: 'JetBrains Mono';
    font-style: italic;
    font-weight: 700;
    font-variation-settings: 'wght' 700;
    src: url('jetbrains_mono/JetBrainsMono-Italic-VariableFont_wght.ttf');
}
@font-face {
    font-family: 'JetBrains Mono';
    font-style: italic;
    font-weight: 800;
    font-variation-settings: 'wght' 800;
    src: url('jetbrains_mono/JetBrainsMono-Italic-VariableFont_wght.ttf');
}
@font-face {
    font-family: 'JetBrains Mono';
    font-style: italic;
    font-weight: 900;
    font-variation-settings: 'wght' 900;
    src: url('jetbrains_mono/JetBrainsMono-Italic-VariableFont_wght.ttf');
}
