/* Public Sans */
@font-face {
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 100;
    src: url('public_sans/PublicSans-Thin.ttf');
}
@font-face {
    font-family: 'Public Sans';
    font-style: italic;
    font-weight: 100;
    src: url('public_sans/PublicSans-ThinItalic.ttf');
}
@font-face {
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 200;
    src: url('public_sans/PublicSans-ExtraLight.ttf');
}
@font-face {
    font-family: 'Public Sans';
    font-style: italic;
    font-weight: 200;
    src: url('public_sans/PublicSans-ExtraLightItalic.ttf');
}
@font-face {
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 300;
    src: url('public_sans/PublicSans-Light.ttf');
}
@font-face {
    font-family: 'Public Sans';
    font-style: italic;
    font-weight: 300;
    src: url('public_sans/PublicSans-LightItalic.ttf');
}
@font-face {
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 400;
    src: url('public_sans/PublicSans-Regular.ttf');
}
@font-face {
    font-family: 'Public Sans';
    font-style: italic;
    font-weight: 400;
    src: url('public_sans/PublicSans-Italic.ttf');
}
@font-face {
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 500;
    src: url('public_sans/PublicSans-Medium.ttf');
}
@font-face {
    font-family: 'Public Sans';
    font-style: italic;
    font-weight: 500;
    src: url('public_sans/PublicSans-MediumItalic.ttf');
}
@font-face {
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 600;
    src: url('public_sans/PublicSans-SemiBold.ttf');
}
@font-face {
    font-family: 'Public Sans';
    font-style: italic;
    font-weight: 600;
    src: url('public_sans/PublicSans-SemiBoldItalic.ttf');
}
@font-face {
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 700;
    src: url('public_sans/PublicSans-Bold.ttf');
}
@font-face {
    font-family: 'Public Sans';
    font-style: italic;
    font-weight: 700;
    src: url('public_sans/PublicSans-BoldItalic.ttf');
}
@font-face {
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 800;
    src: url('public_sans/PublicSans-ExtraBold.ttf');
}
@font-face {
    font-family: 'Public Sans';
    font-style: italic;
    font-weight: 800;
    src: url('public_sans/PublicSans-ExtraBoldItalic.ttf');
}
@font-face {
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 900;
    src: url('public_sans/PublicSans-Black.ttf');
}
@font-face {
    font-family: 'Public Sans';
    font-style: italic;
    font-weight: 900;
    src: url('public_sans/PublicSans-BlackItalic.ttf');
}


/* Brisa Sans */
@font-face {
    font-family: 'Brisa Sans';
    font-style: normal;
    font-weight: 100;
    src: url('brisa_sans/BrisaSans-Thin.otf');
}
@font-face {
    font-family: 'Brisa Sans';
    font-style: italic;
    font-weight: 100;
    src: url('brisa_sans/BrisaSans-ThinItalic.otf');
}
@font-face {
    font-family: 'Brisa Sans';
    font-style: normal;
    font-weight: 300;
    src: url('brisa_sans/BrisaSans-Light.otf');
}
@font-face {
    font-family: 'Brisa Sans';
    font-style: italic;
    font-weight: 300;
    src: url('brisa_sans/BrisaSans-LightItalic.otf');
}
@font-face {
    font-family: 'Brisa Sans';
    font-style: normal;
    font-weight: 400;
    src: url('brisa_sans/BrisaSans-Regular.otf');
}
@font-face {
    font-family: 'Brisa Sans';
    font-style: italic;
    font-weight: 400;
    src: url('brisa_sans/BrisaSans-Italic.otf');
}
@font-face {
    font-family: 'Brisa Sans';
    font-style: normal;
    font-weight: 500;
    src: url('brisa_sans/BrisaSans-Medium.otf');
}
@font-face {
    font-family: 'Brisa Sans';
    font-style: italic;
    font-weight: 500;
    src: url('brisa_sans/BrisaSans-MediumItalic.otf');
}
@font-face {
    font-family: 'Brisa Sans';
    font-style: normal;
    font-weight: 700;
    src: url('brisa_sans/BrisaSans-Bold.otf');
}
@font-face {
    font-family: 'Brisa Sans';
    font-style: italic;
    font-weight: 700;
    src: url('brisa_sans/BrisaSans-BoldItalic.otf');
}

/* Bitter */
@font-face {
    font-family: 'Bitter';
    font-style: normal;
    font-weight: 300;
    font-variation-settings: 'wght' 300;
    src: url('bitter/Bitter-VariableFont_wght.ttf');
}
@font-face {
    font-family: 'Bitter';
    font-style: normal;
    font-weight: 400;
    font-variation-settings: 'wght' 400;
    src: url('bitter/Bitter-VariableFont_wght.ttf');
}
@font-face {
    font-family: 'Bitter';
    font-style: normal;
    font-weight: 500;
    font-variation-settings: 'wght' 500;
    src: url('bitter/Bitter-VariableFont_wght.ttf');
}
@font-face {
    font-family: 'Bitter';
    font-style: normal;
    font-weight: 600;
    font-variation-settings: 'wght' 600;
    src: url('bitter/Bitter-VariableFont_wght.ttf');
}
@font-face {
    font-family: 'Bitter';
    font-style: normal;
    font-weight: 700;
    font-variation-settings: 'wght' 700;
    src: url('bitter/Bitter-VariableFont_wght.ttf');
}
@font-face {
    font-family: 'Bitter';
    font-style: normal;
    font-weight: 800;
    font-variation-settings: 'wght' 800;
    src: url('bitter/Bitter-VariableFont_wght.ttf');
}
@font-face {
    font-family: 'Bitter';
    font-style: normal;
    font-weight: 900;
    font-variation-settings: 'wght' 900;
    src: url('bitter/Bitter-VariableFont_wght.ttf');
}
@font-face {
    font-family: 'Bitter';
    font-style: italic;
    font-weight: 300;
    font-variation-settings: 'wght' 300;
    src: url('bitter/Bitter-Italic-VariableFont_wght.ttf');
}
@font-face {
    font-family: 'Bitter';
    font-style: italic;
    font-weight: 400;
    font-variation-settings: 'wght' 400;
    src: url('bitter/Bitter-Italic-VariableFont_wght.ttf');
}
@font-face {
    font-family: 'Bitter';
    font-style: italic;
    font-weight: 500;
    font-variation-settings: 'wght' 500;
    src: url('bitter/Bitter-Italic-VariableFont_wght.ttf');
}
@font-face {
    font-family: 'Bitter';
    font-style: italic;
    font-weight: 600;
    font-variation-settings: 'wght' 600;
    src: url('bitter/Bitter-Italic-VariableFont_wght.ttf');
}
@font-face {
    font-family: 'Bitter';
    font-style: italic;
    font-weight: 700;
    font-variation-settings: 'wght' 700;
    src: url('bitter/Bitter-Italic-VariableFont_wght.ttf');
}
@font-face {
    font-family: 'Bitter';
    font-style: italic;
    font-weight: 800;
    font-variation-settings: 'wght' 800;
    src: url('bitter/Bitter-Italic-VariableFont_wght.ttf');
}
@font-face {
    font-family: 'Bitter';
    font-style: italic;
    font-weight: 900;
    font-variation-settings: 'wght' 900;
    src: url('bitter/Bitter-Italic-VariableFont_wght.ttf');
}

/* JetBrains Mono */
@font-face {
    font-family: 'JetBrains Mono';
    font-style: normal;
    font-weight: 300;
    font-variation-settings: 'wght' 300;
    src: url('jetbrains_mono/JetBrainsMono-VariableFont_wght.ttf');
}
@font-face {
    font-family: 'JetBrains Mono';
    font-style: normal;
    font-weight: 400;
    font-variation-settings: 'wght' 400;
    src: url('jetbrains_mono/JetBrainsMono-VariableFont_wght.ttf');
}
@font-face {
    font-family: 'JetBrains Mono';
    font-style: normal;
    font-weight: 500;
    font-variation-settings: 'wght' 500;
    src: url('jetbrains_mono/JetBrainsMono-VariableFont_wght.ttf');
}
@font-face {
    font-family: 'JetBrains Mono';
    font-style: normal;
    font-weight: 600;
    font-variation-settings: 'wght' 600;
    src: url('jetbrains_mono/JetBrainsMono-VariableFont_wght.ttf');
}
@font-face {
    font-family: 'JetBrains Mono';
    font-style: normal;
    font-weight: 700;
    font-variation-settings: 'wght' 700;
    src: url('jetbrains_mono/JetBrainsMono-VariableFont_wght.ttf');
}
@font-face {
    font-family: 'JetBrains Mono';
    font-style: normal;
    font-weight: 800;
    font-variation-settings: 'wght' 800;
    src: url('jetbrains_mono/JetBrainsMono-VariableFont_wght.ttf');
}
@font-face {
    font-family: 'JetBrains Mono';
    font-style: normal;
    font-weight: 900;
    font-variation-settings: 'wght' 900;
    src: url('jetbrains_mono/JetBrainsMono-VariableFont_wght.ttf');
}
@font-face {
    font-family: 'JetBrains Mono';
    font-style: italic;
    font-weight: 300;
    font-variation-settings: 'wght' 300;
    src: url('jetbrains_mono/JetBrainsMono-Italic-VariableFont_wght.ttf');
}
@font-face {
    font-family: 'JetBrains Mono';
    font-style: italic;
    font-weight: 400;
    font-variation-settings: 'wght' 400;
    src: url('jetbrains_mono/JetBrainsMono-Italic-VariableFont_wght.ttf');
}
@font-face {
    font-family: 'JetBrains Mono';
    font-style: italic;
    font-weight: 500;
    font-variation-settings: 'wght' 500;
    src: url('jetbrains_mono/JetBrainsMono-Italic-VariableFont_wght.ttf');
}
@font-face {
    font-family: 'JetBrains Mono';
    font-style: italic;
    font-weight: 600;
    font-variation-settings: 'wght' 600;
    src: url('jetbrains_mono/JetBrainsMono-Italic-VariableFont_wght.ttf');
}
@font-face {
    font-family: 'JetBrains Mono';
    font-style: italic;
    font-weight: 700;
    font-variation-settings: 'wght' 700;
    src: url('jetbrains_mono/JetBrainsMono-Italic-VariableFont_wght.ttf');
}
@font-face {
    font-family: 'JetBrains Mono';
    font-style: italic;
    font-weight: 800;
    font-variation-settings: 'wght' 800;
    src: url('jetbrains_mono/JetBrainsMono-Italic-VariableFont_wght.ttf');
}
@font-face {
    font-family: 'JetBrains Mono';
    font-style: italic;
    font-weight: 900;
    font-variation-settings: 'wght' 900;
    src: url('jetbrains_mono/JetBrainsMono-Italic-VariableFont_wght.ttf');
}

/* Orbitron */
@font-face {
    font-family: 'Orbitron';
    font-style: normal;
    font-weight: 300;
    font-variation-settings: 'wght' 300;
    src: url('orbitron/Orbitron-VariableFont_wght.ttf');
}
@font-face {
    font-family: 'Orbitron';
    font-style: normal;
    font-weight: 400;
    font-variation-settings: 'wght' 400;
    src: url('orbitron/Orbitron-VariableFont_wght.ttf');
}
@font-face {
    font-family: 'Orbitron';
    font-style: normal;
    font-weight: 500;
    font-variation-settings: 'wght' 500;
    src: url('orbitron/Orbitron-VariableFont_wght.ttf');
}
@font-face {
    font-family: 'Orbitron';
    font-style: normal;
    font-weight: 600;
    font-variation-settings: 'wght' 600;
    src: url('orbitron/Orbitron-VariableFont_wght.ttf');
}
@font-face {
    font-family: 'Orbitron';
    font-style: normal;
    font-weight: 700;
    font-variation-settings: 'wght' 700;
    src: url('orbitron/Orbitron-VariableFont_wght.ttf');
}
@font-face {
    font-family: 'Orbitron';
    font-style: normal;
    font-weight: 800;
    font-variation-settings: 'wght' 800;
    src: url('orbitron/Orbitron-VariableFont_wght.ttf');
}
@font-face {
    font-family: 'Orbitron';
    font-style: normal;
    font-weight: 900;
    font-variation-settings: 'wght' 900;
    src: url('orbitron/Orbitron-VariableFont_wght.ttf');
}

/* iA Writer Quattro */
@font-face {
    font-family: 'iA Writer Quattro';
    font-style: normal;
    font-weight: 300;
    font-variation-settings: 'wght' 300;
    src: url('ia_writer_quattro/iAWriterQuattroV.ttf');
}
@font-face {
    font-family: 'iA Writer Quattro';
    font-style: normal;
    font-weight: 400;
    font-variation-settings: 'wght' 400;
    src: url('ia_writer_quattro/iAWriterQuattroV.ttf');
}
@font-face {
    font-family: 'iA Writer Quattro';
    font-style: normal;
    font-weight: 500;
    font-variation-settings: 'wght' 500;
    src: url('ia_writer_quattro/iAWriterQuattroV.ttf');
}
@font-face {
    font-family: 'iA Writer Quattro';
    font-style: normal;
    font-weight: 600;
    font-variation-settings: 'wght' 600;
    src: url('ia_writer_quattro/iAWriterQuattroV.ttf');
}
@font-face {
    font-family: 'iA Writer Quattro';
    font-style: normal;
    font-weight: 700;
    font-variation-settings: 'wght' 700;
    src: url('ia_writer_quattro/iAWriterQuattroV.ttf');
}
@font-face {
    font-family: 'iA Writer Quattro';
    font-style: normal;
    font-weight: 800;
    font-variation-settings: 'wght' 800;
    src: url('ia_writer_quattro/iAWriterQuattroV.ttf');
}
@font-face {
    font-family: 'iA Writer Quattro';
    font-style: normal;
    font-weight: 900;
    font-variation-settings: 'wght' 900;
    src: url('ia_writer_quattro/iAWriterQuattroV.ttf');
}
@font-face {
    font-family: 'iA Writer Quattro';
    font-style: italic;
    font-weight: 300;
    font-variation-settings: 'wght' 300;
    src: url('ia_writer_quattro/iAWriterQuattroV-Italic.ttf');
}
@font-face {
    font-family: 'iA Writer Quattro';
    font-style: italic;
    font-weight: 400;
    font-variation-settings: 'wght' 400;
    src: url('ia_writer_quattro/iAWriterQuattroV-Italic.ttf');
}
@font-face {
    font-family: 'iA Writer Quattro';
    font-style: italic;
    font-weight: 500;
    font-variation-settings: 'wght' 500;
    src: url('ia_writer_quattro/iAWriterQuattroV-Italic.ttf');
}
@font-face {
    font-family: 'iA Writer Quattro';
    font-style: italic;
    font-weight: 600;
    font-variation-settings: 'wght' 600;
    src: url('ia_writer_quattro/iAWriterQuattroV-Italic.ttf');
}
@font-face {
    font-family: 'iA Writer Quattro';
    font-style: italic;
    font-weight: 700;
    font-variation-settings: 'wght' 700;
    src: url('ia_writer_quattro/iAWriterQuattroV-Italic.ttf');
}
@font-face {
    font-family: 'iA Writer Quattro';
    font-style: italic;
    font-weight: 800;
    font-variation-settings: 'wght' 800;
    src: url('ia_writer_quattro/iAWriterQuattroV-Italic.ttf');
}
@font-face {
    font-family: 'iA Writer Quattro';
    font-style: italic;
    font-weight: 900;
    font-variation-settings: 'wght' 900;
    src: url('ia_writer_quattro/iAWriterQuattroV-Italic.ttf');
}

/* iA Writer Duo */
@font-face {
    font-family: 'iA Writer Duo';
    font-style: normal;
    font-weight: 300;
    font-variation-settings: 'wght' 300;
    src: url('ia_writer_duo/iAWriterDuoV.ttf');
}
@font-face {
    font-family: 'iA Writer Duo';
    font-style: normal;
    font-weight: 400;
    font-variation-settings: 'wght' 400;
    src: url('ia_writer_duo/iAWriterDuoV.ttf');
}
@font-face {
    font-family: 'iA Writer Duo';
    font-style: normal;
    font-weight: 500;
    font-variation-settings: 'wght' 500;
    src: url('ia_writer_duo/iAWriterDuoV.ttf');
}
@font-face {
    font-family: 'iA Writer Duo';
    font-style: normal;
    font-weight: 600;
    font-variation-settings: 'wght' 600;
    src: url('ia_writer_duo/iAWriterDuoV.ttf');
}
@font-face {
    font-family: 'iA Writer Duo';
    font-style: normal;
    font-weight: 700;
    font-variation-settings: 'wght' 700;
    src: url('ia_writer_duo/iAWriterDuoV.ttf');
}
@font-face {
    font-family: 'iA Writer Duo';
    font-style: normal;
    font-weight: 800;
    font-variation-settings: 'wght' 800;
    src: url('ia_writer_duo/iAWriterDuoV.ttf');
}
@font-face {
    font-family: 'iA Writer Duo';
    font-style: normal;
    font-weight: 900;
    font-variation-settings: 'wght' 900;
    src: url('ia_writer_duo/iAWriterDuoV.ttf');
}
@font-face {
    font-family: 'iA Writer Duo';
    font-style: italic;
    font-weight: 300;
    font-variation-settings: 'wght' 300;
    src: url('ia_writer_duo/iAWriterDuoV-Italic.ttf');
}
@font-face {
    font-family: 'iA Writer Duo';
    font-style: italic;
    font-weight: 400;
    font-variation-settings: 'wght' 400;
    src: url('ia_writer_duo/iAWriterDuoV-Italic.ttf');
}
@font-face {
    font-family: 'iA Writer Duo';
    font-style: italic;
    font-weight: 500;
    font-variation-settings: 'wght' 500;
    src: url('ia_writer_duo/iAWriterDuoV-Italic.ttf');
}
@font-face {
    font-family: 'iA Writer Duo';
    font-style: italic;
    font-weight: 600;
    font-variation-settings: 'wght' 600;
    src: url('ia_writer_duo/iAWriterDuoV-Italic.ttf');
}
@font-face {
    font-family: 'iA Writer Duo';
    font-style: italic;
    font-weight: 700;
    font-variation-settings: 'wght' 700;
    src: url('ia_writer_duo/iAWriterDuoV-Italic.ttf');
}
@font-face {
    font-family: 'iA Writer Duo';
    font-style: italic;
    font-weight: 800;
    font-variation-settings: 'wght' 800;
    src: url('ia_writer_duo/iAWriterDuoV-Italic.ttf');
}
@font-face {
    font-family: 'iA Writer Duo';
    font-style: italic;
    font-weight: 900;
    font-variation-settings: 'wght' 900;
    src: url('ia_writer_duo/iAWriterDuoV-Italic.ttf');
}

/* Encode Sans */
@font-face {
    font-family: 'Encode Sans';
    font-style: normal;
    font-weight: 300;
    font-variation-settings: 'wght' 300;
    src: url('encode_sans/EncodeSans-VariableFont_wdth\,wght.ttf');
}
@font-face {
    font-family: 'Encode Sans';
    font-style: normal;
    font-weight: 400;
    font-variation-settings: 'wght' 400;
    src: url('encode_sans/EncodeSans-VariableFont_wdth\,wght.ttf');
}
@font-face {
    font-family: 'Encode Sans';
    font-style: normal;
    font-weight: 500;
    font-variation-settings: 'wght' 500;
    src: url('encode_sans/EncodeSans-VariableFont_wdth\,wght.ttf');
}
@font-face {
    font-family: 'Encode Sans';
    font-style: normal;
    font-weight: 600;
    font-variation-settings: 'wght' 600;
    src: url('encode_sans/EncodeSans-VariableFont_wdth\,wght.ttf');
}
@font-face {
    font-family: 'Encode Sans';
    font-style: normal;
    font-weight: 700;
    font-variation-settings: 'wght' 700;
    src: url('encode_sans/EncodeSans-VariableFont_wdth\,wght.ttf');
}
@font-face {
    font-family: 'Encode Sans';
    font-style: normal;
    font-weight: 800;
    font-variation-settings: 'wght' 800;
    src: url('encode_sans/EncodeSans-VariableFont_wdth\,wght.ttf');
}
@font-face {
    font-family: 'Encode Sans';
    font-style: normal;
    font-weight: 900;
    font-variation-settings: 'wght' 900;
    src: url('encode_sans/EncodeSans-VariableFont_wdth\,wght.ttf');
}

/* Encode Sans Condensed */
@font-face {
    font-family: 'Encode Sans Condensed';
    font-style: normal;
    font-weight: 300;
    font-stretch: 75%;
    font-variation-settings: 'wght' 300 'wdth' 75;
    src: url('encode_sans/EncodeSans-VariableFont_wdth\,wght.ttf');
}
@font-face {
    font-family: 'Encode Sans Condensed';
    font-style: normal;
    font-weight: 400;
    font-stretch: 75%;
    font-variation-settings: 'wght' 400 'wdth' 75;
    src: url('encode_sans/EncodeSans-VariableFont_wdth\,wght.ttf');
}
@font-face {
    font-family: 'Encode Sans Condensed';
    font-style: normal;
    font-weight: 500;
    font-stretch: 75%;
    font-variation-settings: 'wght' 500 'wdth' 75;
    src: url('encode_sans/EncodeSans-VariableFont_wdth\,wght.ttf');
}
@font-face {
    font-family: 'Encode Sans Condensed';
    font-style: normal;
    font-weight: 600;
    font-stretch: 75%;
    font-variation-settings: 'wght' 600 'wdth' 75;
    src: url('encode_sans/EncodeSans-VariableFont_wdth\,wght.ttf');
}
@font-face {
    font-family: 'Encode Sans Condensed';
    font-style: normal;
    font-weight: 700;
    font-stretch: 75%;
    font-variation-settings: 'wght' 700 'wdth' 75;
    src: url('encode_sans/EncodeSans-VariableFont_wdth\,wght.ttf');
}
@font-face {
    font-family: 'Encode Sans Condensed';
    font-style: normal;
    font-weight: 800;
    font-stretch: 75%;
    font-variation-settings: 'wght' 800 'wdth' 75;
    src: url('encode_sans/EncodeSans-VariableFont_wdth\,wght.ttf');
}
@font-face {
    font-family: 'Encode Sans Condensed';
    font-style: normal;
    font-weight: 900;
    font-stretch: 75%;
    font-variation-settings: 'wght' 900 'wdth' 75;
    src: url('encode_sans/EncodeSans-VariableFont_wdth\,wght.ttf');
}

/* Fira Sans */
@font-face {
    font-family: 'Fira Sans';
    font-style: normal;
    font-weight: 100;
    src: url('fira_sans/FiraSans-Thin.ttf');
}
@font-face {
    font-family: 'Fira Sans';
    font-style: italic;
    font-weight: 100;
    src: url('fira_sans/FiraSans-ThinItalic.ttf');
}
@font-face {
    font-family: 'Fira Sans';
    font-style: normal;
    font-weight: 200;
    src: url('fira_sans/FiraSans-ExtraLight.ttf');
}
@font-face {
    font-family: 'Fira Sans';
    font-style: italic;
    font-weight: 200;
    src: url('fira_sans/FiraSans-ExtraLightItalic.ttf');
}
@font-face {
    font-family: 'Fira Sans';
    font-style: normal;
    font-weight: 300;
    src: url('fira_sans/FiraSans-Light.ttf');
}
@font-face {
    font-family: 'Fira Sans';
    font-style: italic;
    font-weight: 300;
    src: url('fira_sans/FiraSans-LightItalic.ttf');
}
@font-face {
    font-family: 'Fira Sans';
    font-style: normal;
    font-weight: 400;
    src: url('fira_sans/FiraSans-Regular.ttf');
}
@font-face {
    font-family: 'Fira Sans';
    font-style: italic;
    font-weight: 400;
    src: url('fira_sans/FiraSans-Italic.ttf');
}
@font-face {
    font-family: 'Fira Sans';
    font-style: normal;
    font-weight: 500;
    src: url('fira_sans/FiraSans-Medium.ttf');
}
@font-face {
    font-family: 'Fira Sans';
    font-style: italic;
    font-weight: 500;
    src: url('fira_sans/FiraSans-MediumItalic.ttf');
}
@font-face {
    font-family: 'Fira Sans';
    font-style: normal;
    font-weight: 600;
    src: url('fira_sans/FiraSans-SemiBold.ttf');
}
@font-face {
    font-family: 'Fira Sans';
    font-style: italic;
    font-weight: 600;
    src: url('fira_sans/FiraSans-SemiBoldItalic.ttf');
}
@font-face {
    font-family: 'Fira Sans';
    font-style: normal;
    font-weight: 700;
    src: url('fira_sans/FiraSans-Bold.ttf');
}
@font-face {
    font-family: 'Fira Sans';
    font-style: italic;
    font-weight: 700;
    src: url('fira_sans/FiraSans-BoldItalic.ttf');
}
@font-face {
    font-family: 'Fira Sans';
    font-style: normal;
    font-weight: 800;
    src: url('fira_sans/FiraSans-ExtraBold.ttf');
}
@font-face {
    font-family: 'Fira Sans';
    font-style: italic;
    font-weight: 800;
    src: url('fira_sans/FiraSans-ExtraBoldItalic.ttf');
}
@font-face {
    font-family: 'Fira Sans';
    font-style: normal;
    font-weight: 900;
    src: url('fira_sans/FiraSans-Black.ttf');
}
@font-face {
    font-family: 'Fira Sans';
    font-style: italic;
    font-weight: 900;
    src: url('fira_sans/FiraSans-BlackItalic.ttf');
}

/* Newsreader */
@font-face {
    font-family: 'Newsreader';
    font-style: normal;
    font-weight: 100;
    font-variation-settings: 'wght' 100;
    src: url('newsreader/Newsreader-VariableFont_opsz\,wght.ttf');
}
@font-face {
    font-family: 'Newsreader';
    font-style: normal;
    font-weight: 200;
    font-variation-settings: 'wght' 200;
    src: url('newsreader/Newsreader-VariableFont_opsz\,wght.ttf');
}
@font-face {
    font-family: 'Newsreader';
    font-style: normal;
    font-weight: 300;
    font-variation-settings: 'wght' 300;
    src: url('newsreader/Newsreader-VariableFont_opsz\,wght.ttf');
}
@font-face {
    font-family: 'Newsreader';
    font-style: normal;
    font-weight: 400;
    font-variation-settings: 'wght' 400;
    src: url('newsreader/Newsreader-VariableFont_opsz\,wght.ttf');
}
@font-face {
    font-family: 'Newsreader';
    font-style: normal;
    font-weight: 500;
    font-variation-settings: 'wght' 500;
    src: url('newsreader/Newsreader-VariableFont_opsz\,wght.ttf');
}
@font-face {
    font-family: 'Newsreader';
    font-style: normal;
    font-weight: 600;
    font-variation-settings: 'wght' 600;
    src: url('newsreader/Newsreader-VariableFont_opsz\,wght.ttf');
}
@font-face {
    font-family: 'Newsreader';
    font-style: normal;
    font-weight: 700;
    font-variation-settings: 'wght' 700;
    src: url('newsreader/Newsreader-VariableFont_opsz\,wght.ttf');
}
@font-face {
    font-family: 'Newsreader';
    font-style: normal;
    font-weight: 800;
    font-variation-settings: 'wght' 800;
    src: url('newsreader/Newsreader-VariableFont_opsz\,wght.ttf');
}
@font-face {
    font-family: 'Newsreader';
    font-style: normal;
    font-weight: 900;
    font-variation-settings: 'wght' 900;
    src: url('newsreader/Newsreader-VariableFont_opsz\,wght.ttf');
}
@font-face {
    font-family: 'Newsreader';
    font-style: italic;
    font-weight: 100;
    font-variation-settings: 'wght' 100;
    src: url('newsreader/Newsreader-Italic-VariableFont_opsz\,wght.ttf');
}
@font-face {
    font-family: 'Newsreader';
    font-style: italic;
    font-weight: 200;
    font-variation-settings: 'wght' 200;
    src: url('newsreader/Newsreader-Italic-VariableFont_opsz\,wght.ttf');
}
@font-face {
    font-family: 'Newsreader';
    font-style: italic;
    font-weight: 300;
    font-variation-settings: 'wght' 300;
    src: url('newsreader/Newsreader-Italic-VariableFont_opsz\,wght.ttf');
}
@font-face {
    font-family: 'Newsreader';
    font-style: italic;
    font-weight: 400;
    font-variation-settings: 'wght' 400;
    src: url('newsreader/Newsreader-Italic-VariableFont_opsz\,wght.ttf');
}
@font-face {
    font-family: 'Newsreader';
    font-style: italic;
    font-weight: 500;
    font-variation-settings: 'wght' 500;
    src: url('newsreader/Newsreader-Italic-VariableFont_opsz\,wght.ttf');
}
@font-face {
    font-family: 'Newsreader';
    font-style: italic;
    font-weight: 600;
    font-variation-settings: 'wght' 600;
    src: url('newsreader/Newsreader-Italic-VariableFont_opsz\,wght.ttf');
}
@font-face {
    font-family: 'Newsreader';
    font-style: italic;
    font-weight: 700;
    font-variation-settings: 'wght' 700;
    src: url('newsreader/Newsreader-Italic-VariableFont_opsz\,wght.ttf');
}
@font-face {
    font-family: 'Newsreader';
    font-style: italic;
    font-weight: 800;
    font-variation-settings: 'wght' 800;
    src: url('newsreader/Newsreader-Italic-VariableFont_opsz\,wght.ttf');
}
@font-face {
    font-family: 'Newsreader';
    font-style: italic;
    font-weight: 900;
    font-variation-settings: 'wght' 900;
    src: url('newsreader/Newsreader-Italic-VariableFont_opsz\,wght.ttf');
}