/* OSWALD */
@font-face {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 100 900;
    src: url('oswald/Oswald-VariableFont_wght.ttf');
}

/* MANUALE */
@font-face {
    font-family: 'Manuale';
    font-style: normal;
    font-weight: 100 900;
    src: url('manuale/Manuale-VariableFont_wght.ttf');
}
@font-face {
    font-family: 'Manuale';
    font-style: italic;
    font-weight: 100 900;
    src: url('manuale/Manuale-Italic-VariableFont_wght.ttf');
}
