.paper-list {
  width: 100%;
  margin: 0;
  padding: 0;
  display: inline-flex;
  flex-flow: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 0;
  filter: drop-shadow(var(--preset-shadow-component));
}

.paper-list .paper-list-item {
  width: 100%;
  margin: 0;
  padding: 1.25rem;
  display: inline-flex;
  flex-flow: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 0.5rem;
  background: var(--bg-color);
  border: 1px solid var(--border-color);
  border-top-width: 0px;
  border-radius: 0;
}
.paper-list .paper-list-item:first-child {
  border-top-width: 1px;
  border-top-left-radius: var(--border-radius);
  border-top-right-radius: var(--border-radius);
}
.paper-list .paper-list-item:last-child {
  border-bottom-left-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);
}
.paper-list .paper-list-item.paper-list-item-link {
  transition: var(--transition);
  user-select: none;
  cursor: pointer;
}
.paper-list .paper-list-item.paper-list-item-link:hover {
  background: var(--bg-color-2);
  transition: var(--transition);
}
.paper-list .paper-list-item.paper-list-item-link:active {
  background: var(--bg-color-5);
  transition: var(--transition);
}

.paper-list .paper-list-item :is(h3, h4) > a {
  font-weight: bold;
}

.paper-list .paper-list-item h3 {
  font-size: 28px;
}
.paper-list .paper-list-item h4 {
  font-size: 26px;
}
