section.feed-posts-list {
  width: 100%;

  ul {
    list-style: none;
    width: 100%;
    margin: 0;
    padding: 0;
    display: inline-flex;
    flex-flow: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 1.5rem;

    li {
      width: 100%;
      margin: 0;
      padding: 1.75rem 1rem;
      background: rgba(var(--bg-rgb), 0.75);
      box-shadow: var(--3d-shadow);
      border: 1px solid var(--border-color);
      border-radius: var(--border-radius);

      a {
        line-break: anywhere;
      }

      sub.timestamp {
        display: inline-block;

        & a {
          padding: 0.25rem 0.5rem;
          color: var(--fg-secondary);
          background: var(--bg-secondary);
          border: 1px solid var(--fg-secondary);
          border-radius: 64px;
          font-weight: normal;
          text-decoration: none;
          transition: 0.5s;

          &:hover {
            color: var(--fg);
            box-shadow: var(--3d-shadow);
            border: 1px solid var(--border-color);
            transition: 0.5s;
          }
        }
      }

      .carousel {
        padding-block: 1rem;

        .image-group {
          img {
            width: 100%;
          }

          span {
            margin: 0;
            padding: 0;
            display: inline-block;
            color: var(--fg-secondary);
            font-size: 0.75rem;
            font-style: italic;
          }
        }
      }
    }
  }
}

@media (max-width: 640px) {
  .carousel .image-group img {
    max-width: 320px;
  }
}
