.app-page.playlists .card-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

@media (max-width: 767px) {
  .app-page.playlists .card-list {
    grid-template-columns: repeat(1, 1fr);
  }
}
