:root {
  --alert-fg-color: #555555;
  --alert-fg-color-warning: darkgoldenrod;
  --alert-fg-color-error: firebrick;
  --alert-fg-color-success: seagreen;

  --alert-bg-color: #eeeeee;
  --alert-bg-color-warning: lightyellow;
  --alert-bg-color-error: mistyrose;
  --alert-bg-color-success: mintcream;

  --alert-border-color: #555555;
  --alert-border-color-warning: darkgoldenrod;
  --alert-border-color-error: firebrick;
  --alert-border-color-success: seagreen;
}

.alert {
  width: 100%;
  margin: 0;
  padding: 0.5rem 0.75rem;

  display: inline-flex;
  flex-flow: row;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;

  color: var(--alert-fg-color);
  background: var(--alert-bg-color);
  border-width: 1px;
  border-style: solid;
  border-color: var(--alert-border-color);
  border-radius: 9px;

  font-size: 1rem;
  font-family: var(--font-family-widget);
}

.alert .icon {
  width: 1.5rem;
  height: 1.5rem;
  padding: 0;
}
.alert .icon svg {
  width: 100%;
  height: 100%;
  padding: 0;
}

.alert .message {
  display: inline-flex;
  flex-flow: row;
  align-items: center;
  justify-content: flex-start;
  gap: 0.5rem;
}

.alert.plain {
  color: var(--alert-fg-color);
  background: var(--alert-bg-color);
  border-color: var(--alert-border-color);
}
.alert.warning {
  color: var(--alert-fg-color-warning);
  background: var(--alert-bg-color-warning);
  border-color: var(--alert-border-color-warning);
}
.alert.error {
  color: var(--alert-fg-color-error);
  background: var(--alert-bg-color-error);
  border-color: var(--alert-border-color-error);
}
.alert.success {
  color: var(--alert-fg-color-success);
  background: var(--alert-bg-color-success);
  border-color: var(--alert-border-color-success);
}

.alert .dismiss {
  width: 1.25rem;
  height: 1.25rem;
  padding: 0;
  border: none;
}
.alert .dismiss svg {
  width: 100%;
  height: 100%;
  padding: 0;
}
