.main {
  max-width: var(--content-page-max-width);
  width: 100%;
  margin-inline: auto;
  padding: 2rem;
  display: inline-flex;
  flex-flow: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 3rem;
}
.main > div {
  width: 100%;
}

.notFoundMain {
  max-width: 480px;
  width: 100%;
  margin-block: 2rem;
  margin-inline: auto;
  padding: 3rem;
  color: var(--bg-color);
  background: var(--fg-color);
  text-align: center;
}

.notFoundMain h2 {
  text-transform: uppercase;
}
