.main {
  max-width: 800px;
  width: 100%;
  margin-inline: auto;
  padding: 2rem;
}

.main ul {
  margin-inline: 1.5rem 0rem;
}
.main ul li {
  padding-inline: 0.75rem 0rem;
}

.header {
  width: 100%;
  padding-block: 0rem 1rem;
  display: inline-flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  gap: 0.25rem;
  border-bottom: 3px solid var(--border-color);
  text-align: center;
}

.header h2 {
  font-size: 3rem;
  font-weight: bold;
}
.header .subtitle {
  color: var(--fg-color-3);
  font-size: 1.25rem;
  font-weight: bold;
  font-style: italic;
}
.header sub {
  color: var(--fg-color-5);
  font-size: 1rem;
}

.content {
  padding-block: 1rem;
  display: inline-grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 1rem;
  line-height: 1.625;
}
