header {
  z-index: 100;
  width: 100%;
  margin: 0 auto;
  top: 1rem;
  padding: 0.5rem 0.75rem;
  position: sticky;
  display: inline-flex;
  flex-flow: row;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;
  background: rgba(var(--bg-rgb), 0.5);
  backdrop-filter: blur(4px);
  border: 1px solid var(--border-color);
  border-radius: 64px;
  box-shadow:
    0px 1px 1px rgba(255, 255, 255, 0.75) inset,
    0px -1px 1px rgba(255, 255, 255, 0.75) inset,
    0px -1px 2px rgba(0, 0, 0, 0.25) inset,
    0px 1px 2px rgba(0, 0, 0, 0.125),
    0px 2px 4px rgba(0, 0, 0, 0.025),
    0px 2px 16px rgba(0, 0, 0, 0.05);
  transition: 0.5s;
  
  &:hover {
    background: rgba(var(--bg-rgb), 0.75);
    transition: 0.5s;
  }

  .site-title {
    width: max-content;
    padding: 0;
    display: inline-flex;
    flex-flow: column;
    align-items: flex-start;
    justify-content: center;
    user-select: none;
    -webkit-user-drag: none;

    a {
      display: inline-flex;
      flex-flow: row;
      align-items: center;
      justify-content: center;
      gap: 0.75rem;
      color: var(--fg);
      font-size: 2rem;
      font-weight: 500;
      line-height: 1.2;
      text-align: center;
      text-decoration: none;

      img {
        z-index: 101;
        width: 42px;
        height: 42px;
        margin: 0;
        padding: 0;
        border: 5px solid rgba(255, 255, 255, 0.8);
        border-radius: 100%;
        box-shadow:
          0px 0px 6px rgba(255, 255, 255, 0.75),
          0px 0px 12px rgba(255, 255, 255, 0.5),
          0px 0px 18px rgba(255, 255, 255, 0.25);
        user-select: none;
        -webkit-user-drag: none;
        transition: 0.5s;

        &:hover {
          border: 5px solid rgba(255, 255, 255, 0.9);
          box-shadow:
            0px 0px 6px rgba(255, 255, 255, 0.9),
            0px 0px 12px rgba(255, 255, 255, 0.8),
            0px 0px 18px rgba(255, 255, 255, 0.75);
          transform: scale(1.1);
          transition: 0.5s;
        }

        &:active {
          border: 5px solid rgba(var(--accent-rgb), 0.5);
          transform: scale(0.95);
          transition: 0.5s;
        }
      }

      @media (max-width: 640px) {
        img {
          width: 32px;
          height: 32px;
        }
      }

      &:before {
        content: '';
        width: 42px;
        height: 42px;
        margin: 0;
        position: absolute;
        background-image: url('/profile.jpg');
        background-size: cover;
        background-position: top;
        border-radius: 100%;
        filter: blur(8px) brightness(1.25) saturate(1.5);
        animation: 10s ProfilePictureShadowTransition infinite linear;
      }
    }
  }

  nav {
    width: max-content;
    margin: 0;
    padding: 0;
    white-space: nowrap;
  
    ul {
      list-style: none;
      width: max-content;
      margin: 0;
      padding: 0;
      display: inline-flex;
      flex-flow: row;
      align-items: center;
      justify-content: flex-start;
      gap: 0.5rem;
      font-family: var(--header-font);
  
      li {
        --nav-link-shadow:
          0px 1px 2px rgba(0, 0, 0, 0.125),
          0px 2px 4px rgba(0, 0, 0, 0.06125),
          0px 2px 4px rgba(255, 255, 255, 0.75) inset,
          0px 4px 8px rgba(255, 255, 255, 0.5) inset,
          0px -2px 2px rgba(255, 255, 255, 0.8) inset,
          0px -2px 8px rgba(0, 0, 0, 0.125) inset;
        --nav-link-shadow-hover:
          0px 2px 4px rgba(0, 0, 0, 0.25),
          0px 4px 8px rgba(0, 0, 0, 0.125),
          0px 2px 4px rgba(255, 255, 255, 0.75) inset,
          0px 4px 8px rgba(255, 255, 255, 0.5) inset,
          0px -2px 2px rgba(255, 255, 255, 0.8) inset,
          0px -2px 8px rgba(0, 0, 0, 0.125) inset;
        --nav-link-shadow-active:
          0px 1px 2px rgba(0, 0, 0, 0.25) inset,
          0px 2px 4px rgba(0, 0, 0, 0.125) inset,
          0px 2px 4px rgba(255, 255, 255, 0.75) inset,
          0px 4px 8px rgba(255, 255, 255, 0.5) inset,
          0px -2px 2px rgba(255, 255, 255, 0.8) inset,
          0px -2px 8px rgba(0, 0, 0, 0.125) inset;
        --nav-link-shadow-current:
          0px 2px 4px rgba(0, 0, 0, 0.25),
          0px 4px 8px rgba(0, 0, 0, 0.125);

        width: max-content;
        margin: 0;
        padding: 0;
        display: inline-block;

        a {
          width: max-content;
          padding: 0.25rem 1rem;
          display: inline-block;
          color: var(--fg);
          background: var(--bg);
          border: 1px solid var(--border-color);
          border-radius: 64px;
          box-shadow: var(--nav-link-shadow);
          font-weight: 300;
          text-decoration: none;
          text-align: center;

          &:hover {
            color: var(--fg);
            background: var(--bg);
            box-shadow: var(--nav-link-shadow-hover);
            text-decoration: none;
            transition: var(--transition);
          }

          &:active {
            box-shadow: var(--nav-link-shadow-active);
          }

          &.active {
            color: var(--bg);
            background: var(--fg);
            border-color: var(--fg);
            box-shadow: var(--nav-link-shadow-current);
            text-decoration: none;

            &:hover {
              animation: unset;
              filter: brightness(1.1);
            }

            &:active {
              filter: brightness(0.9);
            }
          }
        }
      }
    }
  }

  @media (max-width: 640px) {
    nav {
      font-size: 0.8rem;

      ul {
        li {
          a {
            padding: 0.125rem 0.5rem;
          }
        }
      }
    }
  }
}

@keyframes ProfilePictureShadowTransition {
  0% {
    filter: blur(8px) brightness(1.25) saturate(1.5) hue-rotate(0deg);
    transform: rotate(0deg);
  }
  50% {
    filter: blur(16px) brightness(1.5) saturate(2) hue-rotate(360deg);
    transform: rotate(180deg);
  }
  100% {
    filter: blur(8px) brightness(1.25) saturate(1.5) hue-rotate(0deg);
    transform: rotate(360deg);
  }
}
