header {
  max-width: 640px;
  width: 100%;
  margin: 0 auto;
  padding: 0;
  display: inline-flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  gap: 0;

  h1 {
    --header-fg: rgba(var(--bg-rgb), 0.25);

    padding: 2rem 0rem;
    font-size: 2.5rem;
    text-transform: uppercase;
    white-space: nowrap;

    a {
      color: var(--header-fg);
      text-shadow:
        1px 1px 2px rgba(255, 255, 255, 0.75),
        -1px -1px 2px rgba(0, 0, 0, 0.5);
      font-weight: 900;
      text-decoration: none;
      letter-spacing: 4px;

      &:hover {
        color: var(--header-fg);
      }

      &:active {
        color: var(--header-fg);
      }
    }
  }

  nav {
    width: 100%;
    margin: 0;
    padding: 0;
    white-space: nowrap;
  
    ul {
      list-style: none;
      width: 100%;
      margin: 0;
      padding-block: 0.5rem 0rem;
      padding-inline: 0.5rem;
      display: inline-flex;
      flex-flow: row;
      align-items: center;
      justify-content: flex-start;
      gap: 0.25rem;
      background: rgba(0, 0, 0, 0.06);
      border: 1px solid var(--border-color);
      border-bottom: none;
      border-radius: var(--border-radius) var(--border-radius) 0 0;
      box-shadow:
        0px 4px 8px rgba(0, 0, 0, 0.5),
        0px 2px 4px rgba(255, 255, 255, 0.75) inset,
        0px -2px 8px rgba(0, 0, 0, 0.3) inset;
      font-family: var(--header-font);

      @media (max-width: 640px) {
        & {
          border-width: 1px 0 0 0;
          border-radius: 0;
        }
      }
  
      li {
        --nav-link-shadow: var(--skeumorphic-shadow);

        width: 100%;
        margin: 0;
        padding: 0;
        display: inline-block;

        a {
          width: 100%;
          padding: 0.75rem 1rem;
          display: inline-block;
          color: var(--fg);
          border: 1px solid transparent;
          border-bottom: none;
          border-radius: var(--border-radius) var(--border-radius) 0 0;
          text-shadow: var(--skeumorphic-text-shadow);
          text-decoration: none;
          text-align: center;

          &:hover {
            color: var(--fg);
            background: rgba(var(--fg-rgb), 0.25);
            border-color: var(--accent-border-color);
            box-shadow: var(--nav-link-shadow);
            text-decoration: none;
            animation: 0.5s NavLinkHoverGlow infinite alternate;
            transition: var(--transition);
          }

          &.active {
            color: var(--fg);
            background: var(--accent);
            border-color: var(--accent-border-color);
            box-shadow: var(--nav-link-shadow);
            text-decoration: none;

            &:hover {
              animation: unset;
              filter: brightness(1.1);
            }

            &:active {
              filter: brightness(0.9);
            }
          }
        }
      }
    }
  }
}

@keyframes NavLinkHoverGlow {
  0% {
    background: rgba(var(--fg-secondary-rgb), 0.25);
  }
  100% {
    background: rgba(var(--accent-rgb), 0.75);
  }
}
