.header {
  --navbar-header-fg: var(--fg-color);
  --navbar-header-bg: rgba(var(--bg-color-rgb), 0.75);
  --navbar-nav-fg: var(--fg-color-6);
  --navbar-nav-fg-hover: var(--fg-color);
  --navbar-nav-fg-active: var(--fg-color);
  --navbar-nav-bg: none;
  --navbar-nav-bg-hover: var(--bg-color-1);
  --navbar-nav-bg-active: var(--bg-color-3);

  width: 100%;
  margin: 0 auto;
  top: 0;
  padding: 0.5rem 0.75rem;
  position: sticky;
  z-index: 100;
  display: inline-flex;
  flex-flow: row;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  color: var(--navbar-header-fg);
  background: var(--navbar-header-bg);
  border: 1px solid var(--border-color);
  border-top: none;
  box-shadow: var(--preset-shadow-component);
  backdrop-filter: blur(4px);
}

@media (min-width: 768px) {
  .header {
    width: 90%;
    max-width: 1024px;
    border-bottom-left-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
  }
}
@media (min-width: 1024px) {
  .header {
    max-width: 768px;
    margin-block: 0rem 1rem;
  }
}
@media (min-width: 1280px) {
  .header {
    max-width: 960px;
  }
}

.siteTitleBar {
  display: inline-flex;
  flex-flow: row;
  align-items: center;
  justify-content: center;
}
.siteTitleBar h1 {
  margin: 0;
  padding: 0;
  font-size: 1.75rem;
  font-weight: 900;
  text-transform: uppercase;
}
@media (max-width: 768px) {
  .siteTitleBar h1 {
    display: none;
  }
}
.siteTitleBar a {
  display: inline-flex;
  flex-flow: row;
  align-items: center;
  justify-content: center;
  gap: 0.75rem;
  color: var(--navbar-header-fg);
  text-decoration: none;
}
.siteTitleBar img {
  width: 36px;
  height: 36px;
  border-radius: var(--border-radius);
  -webkit-user-drag: none;
}

.nav {
  width: max-content;
  margin: 0;
  padding: 0;
  display: inline-flex;
  flex-flow: row;
  align-items: center;
  justify-content: flex-end;
  gap: 0;
}

.nav ul {
  list-style: none;
  width: max-content;
  margin: 0;
  padding: 0;
  display: inline-flex;
  flex-flow: row;
  align-items: center;
  justify-content: flex-end;
  gap: 0.25rem;
}

.nav ul li {
  margin: 0;
  padding: 0;
  display: inline-flex;
  flex-flow: row;
  align-items: center;
  justify-content: center;
  gap: 0;
}

.nav ul li a {
  margin: 0;
  padding: 0.25rem 0.75rem;
  display: inline-flex;
  flex-flow: row;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  color: var(--navbar-nav-fg);
  background: var(--navbar-nav-bg);
  border-radius: var(--border-radius);
  text-decoration: none;
  transition: var(--transition);
}

.nav ul li a:hover {
  color: var(--navbar-nav-fg-hover);
  background: var(--navbar-nav-bg-hover);
}

.nav ul li a.active {
  color: var(--navbar-nav-fg-active);
  background: var(--navbar-nav-bg-active);
}

@media (max-height: 667px) {
  .header {
    position: unset;
  }
}

@media (max-width: 768px) {
  .header {
    padding: 1rem 1.75rem;
    border-width: 0px 0px 1px 0px;
  }

  .siteTitleBar h1 {
    display: none;
  }
  .siteTitleBar img {
    width: 32px;
    height: 32px;
  }

  .nav ul {
    gap: 0;
  }
  .nav ul li {
    margin-left: -0.5rem;
    padding: 0;
  }
  .nav ul li a {
    padding: 0.25rem 0.5rem;
    font-size: 85%;
    letter-spacing: 1px;
    transform: rotate(-33deg);
  }
}
