header {
  z-index: 100;
  width: 100%;
  margin: 0;
  top: 0;
  padding: 0;
  position: sticky;
  display: inline-flex;
  flex-flow: row;
  align-items: center;
  justify-content: space-between;
  gap: 0;
  background: rgba(var(--bg-rgb), 0.75);
  backdrop-filter: blur(4px);
  border-bottom: 1px solid var(--border-color);

  .header-content {
    max-width: 640px;
    width: 100%;
    margin: 0 auto;
    padding: 0.5rem 0rem;
    display: inline-flex;
    flex-flow: row;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
  }

  .site-title {
    width: max-content;
    padding: 0;
    display: inline-flex;
    flex-flow: column;
    align-items: flex-start;
    justify-content: center;
    user-select: none;
    -webkit-user-drag: none;

    a {
      display: inline-flex;
      flex-flow: row;
      align-items: center;
      justify-content: center;
      gap: 0.75rem;
      color: var(--fg);
      font-size: 2rem;
      font-weight: 700;
      line-height: 1.2;
      text-align: center;
      text-decoration: none;

      img {
        z-index: 101;
        width: 42px;
        height: 42px;
        margin: 0;
        padding: 0;
        border: 5px solid rgba(255, 255, 255, 0.8);
        border-radius: 100%;
        box-shadow:
          0px 0px 6px rgba(255, 255, 255, 0.75),
          0px 0px 12px rgba(255, 255, 255, 0.5),
          0px 0px 18px rgba(255, 255, 255, 0.25);
        user-select: none;
        -webkit-user-drag: none;
        transition: 0.75s;

        &:hover {
          border: 5px solid rgba(255, 255, 255, 0.9);
          box-shadow:
            0px 0px 6px rgba(255, 255, 255, 0.9),
            0px 0px 12px rgba(255, 255, 255, 0.8),
            0px 0px 18px rgba(255, 255, 255, 0.75);
          transform: scale(1.25);
          transition: 0.25s;
        }

        &:active {
          border: 5px solid rgba(var(--accent-rgb), 0.5);
          transform: scale(1.1);
          transition: 0.5s;
        }
      }

      @media (max-width: 640px) {
        img {
          width: 32px;
          height: 32px;
        }
      }

      &:before {
        content: '';
        width: 36px;
        height: 36px;
        margin: 0;
        position: absolute;
        background-image: url('/profile.jpg');
        background-size: cover;
        background-position: top;
        border-radius: 100%;
        filter: blur(8px) brightness(1.25) saturate(1.5);
      }

      @media (max-width: 640px) {
        &:before {
          animation: none;
          filter: blur(4px) brightness(2) saturate(1.25);
          transform: none;
        }
      }
    }
  }

  nav {
    width: max-content;
    height: 100%;
    margin: 0;
    padding: 0;
    white-space: nowrap;

    ul {
      list-style: none;
      width: max-content;
      height: 100%;
      margin: 0;
      padding: 0;
      display: inline-flex;
      flex-flow: row;
      align-items: center;
      justify-content: flex-start;
      gap: 0.25rem;
      font-family: var(--header-font);

      li {
        width: max-content;
        height: 100%;
        margin: 0;
        padding: 0;
        display: inline-block;

        a {
          width: max-content;
          height: 100%;
          padding: 0.25rem 0.75rem;
          display: inline-flex;
          flex-flow: row;
          align-items: center;
          justify-content: center;
          color: var(--fg-secondary);
          border-radius: 64px;
          font-weight: 500;
          text-decoration: none;
          text-align: center;
          transition: var(--transition);

          &:hover {
            color: var(--fg);
            background: rgba(230, 230, 230, 0.5);
            text-decoration: none;
          }

          &.active {
            color: var(--fg);
            background: rgba(200, 200, 200, 0.5);
          }

          &:active {
            color: var(--bg);
            background: var(--fg);
          }
        }
      }
    }
  }
}

@media (max-width: 640px) {
  header {
    padding: 0.5rem;

    .header-content {
      padding: 0.25rem;
    }

    nav {
      font-size: 0.8rem;

      ul {
        li {
          a {
            padding: 0.5rem 0.75rem;
          }
        }
      }
    }
  }
}
