.post-editor > .question > textarea {
  width: 100%;
  margin: 0;
  padding: 1rem;
  display: inline-block;
  color: var(--fg-color);
  background: var(--bg-color);
  border: var(--border-width) solid var(--border-color);
  border-radius: var(--border-radius);
  box-shadow: var(--preset-shadow-textfield);
  font-family: var(--font-family-monospace);
  font-size: 0.8rem;
  font-weight: normal;
  text-align: left;
  white-space: pre-wrap;
}
.post-editor > .input-group > pre:hover {
  border-color: var(--bg-color-5);
}
.post-editor > .input-group > pre:focus {
  border-color: var(--primary-color);
  outline: none;
}


.post-editor > .question > textarea {
  height: 480px;
  resize: vertical;
  overflow: auto;
}

.post-editor > .question > textarea::-webkit-scrollbar,
.post-editor > .question > textarea::-webkit-scrollbar-track {
  border-radius: 0 var(--border-radius) var(--border-radius) 0;
}

.post-editor > .question > textarea::-webkit-scrollbar-thumb {
  border-radius: 0 var(--border-radius) var(--border-radius) 0;
}