ul.tags-list,
ul.tags-result-list {
  list-style: none;
  width: 100%;
  margin: 0;
  padding: 0;
  display: inline-flex;
  flex-flow: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 0;
}

ul.tags-list li,
ul.tags-result-list li {
  width: 100%;
  margin: 0;
  padding: 0.75rem;
  display: inline-flex;
  gap: 0.5rem;
  border-bottom: 1px solid var(--border-color);
}
ul.tags-list li:last-child,
ul.tags-result-list li:last-child {
  border-bottom: none;
}

ul.tags-list li {
  flex-flow: row;
  align-items: center;
  justify-content: space-between;
}
ul.tags-result-list li {
  flex-flow: column;
  align-items: flex-start;
  justify-content: flex-start;
}

ul.tags-list li h3,
ul.tags-result-list li h3 {
  padding: 0;
}
ul.tags-list li sub,
ul.tags-result-list li sub {
  padding: 0.125rem 0.35rem;
  color: var(--bg-color);
  background: var(--primary-color);
  border-radius: var(--border-radius);
  font-size: 14px;
  font-weight: bold;
}