.post-list-entry a {
  display: inline-flex;
  flex-flow: column;
  align-items: flex-start;
  justify-content: center;
  gap: 0.125rem;
}

.post-list-entry span.timestamp {
  padding-block: 0rem 0.25rem;
  color: var(--fg-color-3);
  font-size: 0.8rem;
  font-weight: 500;
}

.post-list-entry a h3 {
  grid-column: unset;
}
