.posts-list-page .paper.link-list > ul > li > a {
  display: inline-flex;
  flex-flow: column;
  align-items: flex-start;
  justify-content: center;
  gap: 0.125rem;
}

.posts-list-page .paper.link-list > ul > li > a > span.timestamp {
  padding-block: 0rem 0.25rem;
  font-size: 0.8rem;
}

.posts-list-page .paper.link-list > ul > li > a > h3 {
  grid-column: unset;
}
