.breadcrumbs {
  width: 100%;
  margin: 0;
  top: 0;
  padding: 0.5rem 1rem;
  display: inline-flex;
  flex-flow: row;
  align-items: center;
  justify-content: flex-start;
  color: var(--fg-color-1);
}

.breadcrumbs ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: inline-flex;
  flex-flow: row;
  align-items: center;
  justify-content: flex-start;
  gap: 0.25rem;
}

.breadcrumbs ul li {
  margin: 0;
  padding: 0;
  display: inline-flex;
  flex-flow: row;
  align-items: center;
  justify-content: flex-start;
}
.breadcrumbs ul li::after {
  content: '>';
  margin-inline: 0.5rem 0.25rem;
  color: var(--fg-color-8);
}
.breadcrumbs ul li:last-of-type::after {
  content: none;
}

.breadcrumbs ul li span {
  font-weight: bold;
}

.breadcrumbs ul li a {
  color: var(--fg-color-1);
  font-weight: normal;
}

.breadcrumbs-back-btn {
  display: none !important;
}

@media (max-width: 767px) {
  .breadcrumbs-back-btn {
    display: inline-flex !important;
    border-radius: 100% !important;
  }

  .breadcrumbs {
    padding: 1rem;
    color: var(--fg-color);
    background: none;
  }

  .breadcrumbs ul {
    display: none;
  }
}
