header {
  width: 100%;
  margin: 0;
  padding: 0.25rem 1rem;

  display: inline-flex;
  flex-flow: row;
  align-items: center;
  justify-content: space-between;

  color: var(--fg-color);
  background: none;
}

nav a {
  padding: 0.25rem 1rem;
  font-weight: bold;
  text-decoration: none;
  color: var(--fg-color);

}
nav a:hover {
  text-decoration: none;
  color: var(--fg-color-6);
}
nav a:active {
  text-decoration: none;
  color: var(--fg-color-3);
}
nav a.active {
  color: var(--primary-color);
}
