:root {
  --ANIMATION-SPEED: 0.325s;
}

.animation-delay-1s { animation-delay: 1s !important }
.animation-delay-2s { animation-delay: 2s !important }
.animation-delay-3s { animation-delay: 3s !important }

@keyframes fade-transition {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes pop-transition {
  from {
    opacity: 0;
    transform: scale(0.98);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes pop-bounce-transition {
  0% {
    opacity: 0;
    transform: scale(0.5);
  }
  75% {
    transform: scale(1.1);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes left-transition {
  0% {
    opacity: 0;
    transform: translateX(-5%);
  }
  100% {
    opacity: 1;
    transform: translateX(0%);
  }
}

@keyframes right-transition {
  0% {
    opacity: 0;
    transform: translateX(5%);
  }
  100% {
    opacity: 1;
    transform: translateX(0%);
  }
}

@keyframes up-transition {
  0% {
    opacity: 0;
    transform: translateY(10%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}

@keyframes down-transition {
  0% {
    opacity: 0;
    transform: translateY(-10%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}

@keyframes grow-height-down-transition {
  0% {
    opacity: 0;
    transform: scaleY(0.25) translateY(-100%);
  }
  100% {
    opacity: 1;
    transform: scaleY(1) translateY(0%);
  }
}

@keyframes grow-height-up-transition {
  from {
    opacity: 0;
    transform: scaleY(0.25) translateY(100%);
  }
  to {
    opacity: 1;
    transform: scaleY(1) translateY(0%);
  }
}

.transition-enter-fade {
  animation: fade-transition ease-out var(--ANIMATION-SPEED);
}
.transition-enter-pop {
  animation: pop-transition ease-out var(--ANIMATION-SPEED);
}
.transition-enter-pop-bounce {
  animation: pop-bounce-transition ease-out var(--ANIMATION-SPEED);
}
.transition-enter-left {
  animation: left-transition ease-out var(--ANIMATION-SPEED);
}
.transition-enter-right {
  animation: right-transition ease-out var(--ANIMATION-SPEED);
}
.transition-enter-up {
  animation: up-transition ease-out var(--ANIMATION-SPEED);
}
.transition-enter-down {
  animation: down-transition ease-out var(--ANIMATION-SPEED);
}
.transition-enter-grow-height-down {
  animation: grow-height-down-transition ease-out var(--ANIMATION-SPEED);
}
.transition-enter-grow-height-up {
  animation: grow-height-up-transition ease-out var(--ANIMATION-SPEED);
}

@keyframes bounce {
  0% {
    transform: translateX(200%) scale(2) rotate(0deg);
    filter: blur(0px) hue-rotate(0deg);
  }
  25% {
    transform: translateX(0%) scale(0) rotate(-90deg);
    filter: blur(5px) hue-rotate(180deg);
  }
  50% {
    transform: translateX(-200%) scale(3) rotate(180deg);
    filter: blur(0px) hue-rotate(270deg);
  }
  25% {
    transform: translateX(0%) scale(0) rotate(-270deg);
    filter: blur(5px) hue-rotate(180deg);
  }
  100% {
    transform: translateX(200%) scale(2) rotate(360deg);
    filter: blur(0px) hue-rotate(0deg);
  }
}

@media (prefers-reduced-motion: reduce) {
  :is(
    .transition-enter-fade,
    .transition-enter-pop,
    .transition-enter-pop-bounce,
    .transition-enter-left,
    .transition-enter-right,
    .transition-enter-up,
    .transition-enter-down
  ) {
    animation: none !important;
  }
  
  @keyframes fade-transition {
    100% {
      opacity: 1;
    }
  }
  
  @keyframes pop-transition {
    100% {
      opacity: 1;
      transform: scale(1);
    }
  }
  
  @keyframes pop-bounce-transition {
    100% {
      opacity: 1;
      transform: scale(1);
    }
  }
  
  @keyframes left-transition {
    100% {
      opacity: 1;
      transform: translateX(0%);
    }
  }
  
  @keyframes right-transition {
    100% {
      opacity: 1;
      transform: translateX(0%);
    }
  }
  
  @keyframes up-transition {
    100% {
      opacity: 1;
      transform: translateY(0%);
    }
  }
  
  @keyframes down-transition {
    100% {
      opacity: 1;
      transform: translateY(0%);
    }
  }
}