:root {
  --BORDER-RADIUS: 8px;
  --BUTTON-BORDER-RADIUS: 32px;
  --BASE-FONT-FAMILY: 'Public Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  --HEADER-FONT-FAMILY: var(--BASE-FONT-FAMILY);
}

* {
  box-sizing: border-box;
}

html, body, #root, #App {
  color: var(--FG-COLOR);
  background: var(--BG-COLOR-SECONDARY);
  font-family: var(--BASE-FONT-FAMILY);
  font-size: 1rem;
  font-weight: 400;
  font-display: swap;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  width: 100%;
  height: 100%;
  margin: 0;
  top: 0;
  bottom: 0;
  padding: 0;
  display: inline-flex;
  flex-flow: column;
  align-items: stretch;
  justify-content: stretch;
}

main {
  z-index: 5;
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0;
  top: 0;
  bottom: 0;
  padding: 0;
  display: inline-flex;
  flex-flow: column;
  align-items: stretch;
  justify-content: space-between;
}

h1, h2, h3, h4, h5 {
  font-family: var(--HEADER-FONT-FAMILY);
  margin: 0;
  padding: 0;
}

hr {
  border: none;
  border-bottom: 1px solid var(--BORDER-COLOR);
  width: 100%;
}

p {
  margin: 0;
  padding: 0;
  padding-top: 0.25rem;
  padding-bottom: 0.75rem;
}

a:focus, button:focus, .button:focus, input:focus {
  outline: none !important;
}

a {
  color: var(--PRIMARY-COLOR);
  text-decoration: none;
  transition: var(--TRANSITION);
}
a:hover {
  text-decoration: underline;
  transition: var(--TRANSITION);
}
a:active {
  color: var(--SECONDARY-COLOR);
  transition: var(--TRANSITION);
}

button,
.button,
input[type=submit] {
  color: var(--BUTTON-FG-COLOR);
  background: var(--BUTTON-BG-COLOR);
  border-width: 2px;
  border-style: solid;
  border-color: var(--BUTTON-BG-COLOR);
  border-radius: var(--BUTTON-BORDER-RADIUS);
  font-size: inherit;
  font-family: inherit;
  font-weight: 600;
  text-decoration: none;
  white-space: nowrap;
  cursor: pointer;
  display: inline-flex;
  flex-flow: row;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0.25rem;
  padding-left: 1rem;
  padding-right: 1rem;
  transition: var(--TRANSITION);
}
:is(button, .button, input[type=submit]):hover {
  color: var(--BUTTON-FG-COLOR);
  background: var(--BUTTON-BG-COLOR-HOVER);
  border-color: var(--BUTTON-BG-COLOR-HOVER);
  text-decoration: none;
  transition: var(--TRANSITION);
}
:is(button, .button, input[type=submit]):hover:active {
  background: var(--BUTTON-BG-COLOR-ACTIVE);
  border-color: var(--BUTTON-BG-COLOR-ACTIVE);
  transform: scale(0.98);
  transition: var(--TRANSITION);
}
:is(button, .button, input[type=submit]):disabled :is(.disabled) {
  color: var(--BUTTON-FG-COLOR-DISABLED);
  background: var(--BUTTON-BG-COLOR-DISABLED);
  border-color: var(--BUTTON-BG-COLOR-DISABLED);
  cursor: default;
  transform: none !important;
  transition: var(--TRANSITION);
}

.button-selected,
.button-selected:hover {
  color: var(--BG-COLOR) !important;
  background: var(--PRIMARY-COLOR) !important;
  border-color: var(--PRIMARY-COLOR) !important;
}

.button-primary {
  color: var(--BG-COLOR) !important;
  background: var(--PRIMARY-COLOR) !important;
  border-color: var(--PRIMARY-COLOR) !important;
}
.button-primary:hover {
  color: var(--BG-COLOR) !important;
  background: var(--SECONDARY-COLOR) !important;
  border-color: var(--SECONDARY-COLOR) !important;
}
.button-primary:active {
  color: var(--BG-COLOR) !important;
  background: var(--FG-COLOR) !important;
  border-color: var(--FG-COLOR) !important;
}

.button-icon-only {
  color: var(--FG-COLOR);
  background: none !important;
  border: none !important;
  padding: none !important;
  box-shadow: none !important;
}
.button-icon-only:hover {
  color: var(--SECONDARY-COLOR);
}
.button-icon-only:active {
  color: var(--PRIMARY-COLOR);
}

input[type=text],
input[type=email],
select {
  color: var(--INPUT-FG-COLOR);
  background: var(--INPUT-BG-COLOR);
  border-width: 1px;
  border-style: solid;
  border-color: var(--BORDER-COLOR);
  border-radius: var(--BORDER-RADIUS);
  font-size: inherit;
  font-family: inherit;
  margin: 0;
  padding: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  transition: var(--TRANSITION);
}
input[type=text]:hover,
input[type=email]:hover,
select:hover {
  background: var(--INPUT-BG-COLOR-HOVER);
  border-color: var(--BORDER-COLOR-HOVER);
  transition: var(--TRANSITION);
}
input[type=text]:focus,
input[type=email]:focus,
select:focus {
  background: var(--INPUT-BG-COLOR-ACTIVE);
  border-color: var(--PRIMARY-COLOR);
  transition: var(--TRANSITION);
}

.toolbar {
  color: var(--HEADER-FG-COLOR);
  background: var(--HEADER-BG-COLOR);
  border-bottom: 0px solid var(--BORDER-COLOR);
  box-shadow: 0px 2px 8px rgba(0,0,0,0.125);
  z-index: 20;
  display: inline-flex;
  flex-flow: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

header {
  color: var(--HEADER-FG-COLOR);
  background: var(--HEADER-BG-COLOR);
  border-bottom: 0px solid var(--BORDER-COLOR);
  box-shadow: 0px 2px 8px rgba(0,0,0,0.125);
  z-index: 20;
  position: sticky;
  display: inline-flex;
  flex-flow: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin: 0;
  top: 0;
  padding: 0rem;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}
header .title {
  color: var(--HEADER-FG-COLOR);
  padding-top: 1rem;
  padding-bottom: 1rem;
  display: inline-flex;
  flex-flow: row;
  align-items: center;
  justify-content: flex-start;
  transition: var(--TRANSITION);
}
header .title:hover {
  text-decoration: none;
  transition: var(--TRANSITION);
}
header .title:active {
  transform: scale(0.98);
  transition: var(--TRANSITION);
}
:is(header) :is(.title) :is(h1, h2, h3) {
  font-weight: 900;
  line-height: 1;
}
header .title h1 {
  font-size: 2.125rem;
}
header .title :is(a, a:hover) {
  color: var(--HEADER-FG-COLOR);
  text-decoration: none;
}
header .title img {
  max-width: 2.5rem;
  max-height: 2.5rem;
  border-radius: 100%;
}
header .links ul {
  list-style: none;
  display: inline-flex;
  flex-flow: row;
  align-items: center;
  justify-content: flex-end;
  height: 100%;
  margin: 0;
  padding: 0;
}
header .links li {
  display: inline-flex;
  flex-flow: row;
  align-items: center;
  justify-content: center;
  height: 100%;
  margin: 0;
  padding: 0;
}
header .links a {
  color: var(--HEADER-FG-COLOR);
  border-bottom-width: 3px;
  border-bottom-style: solid;
  border-bottom-color: transparent;
  height: 100%;
  margin: 0;
  padding: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  display: inline-flex;
  flex-flow: row;
  align-items: center;
  justify-content: center;
  transition: var(--TRANSITION);
}
header .links a:hover {
  color: var(--FG-COLOR);
  border-bottom-color: var(--FG-COLOR);
  text-decoration: none;
  transition: var(--TRANSITION);
}
header .links a:active {
  color: var(--SECONDARY-COLOR);
  border-bottom-color: var(--SECONDARY-COLOR);
  transition: var(--TRANSITION);
}
header .links .active {
  color: var(--PRIMARY-COLOR);
  border-bottom-color: var(--PRIMARY-COLOR);
  font-weight: 700;
  transition: var(--TRANSITION);
}
header .links .active:hover {
  color: var(--SECONDARY-COLOR);
  border-bottom-color: var(--SECONDARY-COLOR);
}
@media (prefers-color-scheme: dark) {
  header .links a:hover {
    color: var(--BG-COLOR);
    background: var(--SECONDARY-COLOR);
    border-bottom-color: var(--BG-COLOR);
  }
  :is(header) :is(.links) :is(.active, .active:hover) {
    color: var(--BG-COLOR);
    border-bottom-color: var(--BG-COLOR);
  }
}

header .button-icon-only {
  color: var(--HEADER-FG-COLOR) !important;
}

#navMenuButton {
  display: none;
}

.menu-dropdown {
  color: var(--FG-COLOR);
  background: var(--BG-COLOR);
  box-shadow: 0px 0px 8px rgba(0,0,0,0.125);
  border-radius: var(--BORDER-RADIUS);
  font-family: var(--HEADER-FONT-FAMILY);
  text-align: right;
  z-index: 100;
  position: fixed;
  width: auto;
  min-width: 240px;
  height: auto;
  margin: 0;
  margin-top: -0.5rem;
  margin-left: auto;
  margin-right: 1.5rem;
  right: 0;
  padding: 0rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  animation: enter-down-transition ease 0.25s !important;
}

.card .body:has() > .list-selectable {
  padding-top: 0;
}
.list-selectable {
  width: 100%;
  height: 100%;
  display: inline-flex;
  flex-flow: column;
  align-items: stretch;
  justify-content: flex-start;
  padding: 0.5rem;
}
.list-selectable :is(a, .item) {
  color: var(--NAV-MENU-FG-COLOR);
  background: var(--NAV-MENU-BG-COLOR);
  border-radius: var(--BORDER-RADIUS);
  cursor: pointer;
  width: 100%;
  padding: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  transition: var(--TRANSITION);
}
.list-selectable :is(a:hover, .item:hover) {
  background: var(--NAV-MENU-BG-COLOR-HOVER);
  transition: var(--TRANSITION);
}
.list-selectable :is(a:hover, .item:hover, .active, .active:hover, .item.active, .item.active:hover) {
  text-decoration: none;
  text-transform: none;
  transition: var(--TRANSITION);
}
.list-selectable :is(a:active, .item:active) {
  background: var(--NAV-MENU-BG-COLOR-ACTIVE);
  transform: scale(0.99);
  transition: var(--TRANSITION);
}
.list-selectable :is(.active, .item.active) {
  color: var(--PRIMARY-COLOR);
  background: var(--TERTIARY-COLOR);
  font-weight: 700;
}
.list-selectable :is(h1, h2, h3, h4, h5) {
  margin: 0;
  padding: 0;
  padding-top: 0.125rem !important;
  padding-bottom: 0.25rem !important;
}

@media (prefers-color-scheme: dark) {
  .list-selectable a:hover,
  .list-selectable .active,
  .list-selectable .active:hover {
    color: var(--PRIMARY-COLOR);
    background: var(--BG-COLOR);
  }
}

.tab-bar {
  color: var(--BUTTON-FG-COLOR);
  background: var(--BG-COLOR-SECONDARY);
  box-shadow: 0px 2px 8px rgba(0,0,0,0.125) inset;
  border-radius: var(--BUTTON-BORDER-RADIUS);
  font-weight: 600;
  display: grid;
  grid-auto-flow: column;
  gap: 0.125rem;
  align-items: center;
  margin: 0;
  padding: 0.25rem;
}
.tab-bar :is(a, .item) {
  color: var(--BUTTON-FG-COLOR) !important;
  background: none;
  border-radius: var(--BUTTON-BORDER-RADIUS);
  text-decoration: none !important;
  margin: 0;
  padding: 0.25rem;
  padding-left: 1rem;
  padding-right: 1rem;
  transition: var(--TRANSITION);
}
.tab-bar :is(a:hover, .item:hover) {
  background: var(--BUTTON-BG-COLOR-HOVER);
  transition: var(--TRANSITION);
}
.tab-bar :is(a:active, .item:active) {
  background: var(--BUTTON-BG-COLOR-ACTIVE);
  transform: scale(0.98);
  transition: var(--TRANSITION);
}
.tab-bar :is(a.active, .item.active, a.active:hover, .item.active:hover) {
  color: var(--BG-COLOR) !important;
  background: var(--PRIMARY-COLOR);
  box-shadow: 0px 2px 8px rgba(0,0,0,0.125);
  transition: var(--TRANSITION);
}

@media only screen and (max-width: 600px) {
  #navMenuButton {
    display: inline-flex;
  }
  .nav-tab-bar {
    display: none;
  }
}

@media only screen and (max-width: 480px) {
  .menu-dropdown {
    box-shadow: none;
    border-radius: 0;
    font-size: 2rem;
    text-align: center;
    width: 100%;
    min-width: none;
    height: 100%;
    margin: 0rem;
    left: 0;
    overflow-y: auto;
    animation: enter-pop-transition ease 0.25s !important;
  }
  .list-selectable {
    height: auto;
    margin: auto;
  }
}

footer {
  color: var(--FOOTER-FG-COLOR);
  background: var(--FOOTER-BG-COLOR);
  font-size: 0.9rem;
  text-align: center;
  display: inline-flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
  margin: 0;
  margin-top: 1rem;
  bottom: 0 !important;
  padding: 1.5rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.page-title {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  display: inline-flex;
  flex-flow: row;
  align-items: center;
  justify-content: center;
}
.page-title-main {
  width: 100%;
  height: auto;
  display: inline-flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  padding: 0;
  padding-top: 2rem;
  padding-bottom: 1rem;
}
.page-title-section {
  color: var(--FG-COLOR-TERTIARY);
  padding-top: 4rem;
  padding-bottom: 1rem;
}
.page-title-section:first-child {
  padding-top: 1rem;
}
.page-title h2 {
  font-size: 5rem;
  font-weight: 900;
}
.page-title h3 {
  font-size: 3rem;
  font-weight: 300;
}

.card-border-radius {
  border-radius: var(--BORDER-RADIUS) !important;
}
.card-border-top-left-radius {
  border-top-left-radius: var(--BORDER-RADIUS) !important;
}
.card-border-top-right-radius {
  border-top-right-radius: var(--BORDER-RADIUS) !important;
}
.card-border-bottom-left-radius {
  border-bottom-left-radius: var(--BORDER-RADIUS) !important;
}
.card-border-bottom-right-radius {
  border-bottom-right-radius: var(--BORDER-RADIUS) !important;
}
.card-border-top-radius {
  border-top-left-radius: var(--BORDER-RADIUS) !important;
  border-top-right-radius: var(--BORDER-RADIUS) !important;
}
.card-border-bottom-radius {
  border-bottom-left-radius: var(--BORDER-RADIUS) !important;
  border-bottom-right-radius: var(--BORDER-RADIUS) !important;
}

.card {
  color: var(--FG-COLOR);
  background: var(--BG-COLOR);
  border: none;
  border-radius: var(--BORDER-RADIUS);
  box-shadow: 0px 1px 8px rgba(0,0,0,0.25);
  width: 100%;
  margin: 0;
  padding: 0;
}

.card .title {
  background: var(--BG-COLOR);
  border-bottom: 1px solid var(--BORDER-COLOR);
  border-top-left-radius: var(--BORDER-RADIUS);
  border-top-right-radius: var(--BORDER-RADIUS);
  display: inline-flex;
  flex-flow: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin: 0;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}
.card .title h1,
.card .title h2,
.card .title h3,
.card .title h4,
.card .title h5 {
  margin: 0;
  padding: 0;
  padding-top: 0.0625rem !important;
  padding-bottom: 0.125rem !important;
}
.card .title h2 {
  font-size: 1.5rem;
  font-weight: 700;
}
.card .title sub {
  color: var(--FG-COLOR-SECONDARY);
  font-size: 0.9rem;
  font-weight: 400;
}

.card .body {
  margin: 0;
  padding: 1.25rem;
}
.card .body h1,
.card .body h2,
.card .body h3,
.card .body h4,
.card .body h5 {
  color: var(--FG-COLOR-SECONDARY);
  padding-top: 0.25rem;
  padding-bottom: 1rem;
}

.tag-list {
  width: 100%;
  margin: 0;
  margin-top: 0.5rem;
  margin-bottom: 1.5rem;
  padding: 0;
}
.tag-list-sub {
  border: 1px solid var(--BORDER-COLOR);
  border-radius: var(--BORDER-RADIUS);
  display: inline-flex;
  flex-flow: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 1rem;
}
:is(.tag-list-sub) :is(h1, h2, h3, h4, h5) {
  color: var(--FG-COLOR-SECONDARY) !important;
  font-size: 0.8rem;
  font-weight: 400;
  letter-spacing: 0.125rem;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
}
.tag-list ul {
  list-style: none;
  display: inline-flex;
  flex-flow: row wrap;
  align-items: flex-start;
  justify-content: flex-start;
  margin: 0;
  padding: 0;
}
.tag-list li {
  color: var(--FG-COLOR-SECONDARY);
  background: var(--BUTTON-BG-COLOR);
  border-radius: var(--BORDER-RADIUS);
  font-weight: 600;
  cursor: default;
  display: inline-flex;
  flex-flow: row;
  align-items: center;
  justify-content: center;
  margin: 0.125rem;
  padding: 0.25rem;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  transition: var(--TRANSITION);
}
.tag-list li:last {
  margin-right: 0;
}
.tag-list li:hover {
  color: var(--BG-COLOR);
  background: var(--PRIMARY-COLOR);
  box-shadow: 0px 2px 8px var(--PRIMARY-COLOR);
  z-index: 100;
  transition: var(--TRANSITION);
}

.modal-container {
  background: rgba(0,0,0,0.5);
  backdrop-filter: blur(16px);
  z-index: 1000;
  position: fixed;
  width: 100%;
  height: 100%;
  margin: 0;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.bordered-img {
  border: 1px solid var(--BORDER-COLOR);
  border-radius: 5px;
  box-shadow: 0px 2px 8px rgba(0,0,0,0.125);
}

.border-all,
.border-top,
.border-bottom,
.border-left,
.border-right {
  border-style: solid;
  border-color: var(--BORDER-COLOR);
}
.border-all { border-width: 1px; }
.border-top { border-width: 1px 0px 0px 0px; }
.border-bottom { border-width: 0px 0px 1px 0px; }
.border-left { border-width: 0px 0px 0px 1px; }
.border-right { border-width: 0px 1px 0px 0px; }

code {
  font-family: 'Roboto Mono', monospace;
  font-weight: 700;
}

article {
  font-family: 'Newsreader', var(--BASE-FONT-FAMILY);
  font-size: 1.325rem;
  padding-top: 0.5rem;
}
article code {
  color: var(--FG-COLOR);
  background: var(--BG-COLOR-SECONDARY);
  border-radius: var(--BORDER-RADIUS);
  font-size: 1.03125rem;
  padding: 0.125rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.blog-post-preview-body {
  position: relative;
}
.blog-post-preview-body::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: linear-gradient(to bottom, transparent 0%,var(--BG-COLOR) 120%);
}

.status-tag {
  color: var(--FG-COLOR-SECONDARY);
  background: var(--BG-COLOR-SECONDARY);
  border: 1px solid var(--BORDER-COLOR);
  border-radius: var(--BUTTON-BORDER-RADIUS);
  font-size: 0.8rem;
  font-weight: 600;
  padding: 0.125rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
.status-tag-active {
  color: green;
  background: #afecaf;
  border-color: green;
}
.status-tag-hiatus {
  color: #694e0b;
  background: gold;
  border-color: #694e0b;
}
.status-tag-discontinued {
  color: firebrick;
  background: pink;
  border-color: firebrick;
}

.note {
  color: #694e0b;
  background: #ffffd0;
  border-color: #c7a651;
  border-width: 1px;
  border-style: solid;
  font-size: 0.9rem;
}

label {
  color: var(--FG-COLOR-SECONDARY);
  font-weight: 500;
}

@media only screen and (max-width: 1024px) {
  html, body {
    font-size: 1rem;
    max-width: 100%;
  }

  main {
    margin: 0;
  }

  header {
    padding: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
  }
  header .title {
    padding: 0;
    display: inline-flex;
    flex-flow: row;
    align-items: center;
    justify-content: center;
  }
  header .title img {
    margin: auto;
  }
  header .title h1 {
    display: none;
  }

  .page-title {
    word-wrap: break-word;
    word-break: break-all;
  }
  .page-title h2 {
    font-size: 3.5rem;
    letter-spacing: -2px;
  }
  .page-title h3 {
    font-size: 2rem;
  }

  .card {
    width: 100%;
    max-width: auto;
  }
}
