:root {
  --MAX-WIDTH: 800px;
}

.container {
  max-width: var(--MAX-WIDTH);
  width: 100%;
  margin: auto;
  padding: 0;
}

/* https://stackoverflow.com/a/4407335 */
.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.nodrag,
.nodrag img,
.thumbnail img {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
}

.img-respect-bounds img {
  width: 100%;
}

.position-absolute { position: absolute !important; }
.position-relative { position: relative !important; }
.position-sticky { position: sticky !important; }
.position-fixed { position: fixed !important; }

.position-top { top: 0 !important; }
.position-bottom { bottom: 0 !important; }

.width-auto { width: auto !important; }
.width-full { width: 100% !important; }
.width-zero { width: 0 !important; }
.width-content-min { width: min-content !important; }
.width-content-max { width: max-content !important; }

.width-fixed-s { width: 1rem !important; }
.width-fixed-m { width: 2rem !important; }
.width-fixed-l { width: 3rem !important; }
.width-fixed-xl { width: 4rem !important; }

.width-fixed-256 {
  max-width: 256px !important;
  min-width: 256px !important;
  width: 100%;
}
.width-fixed-320 {
  max-width: 320px !important;
  min-width: 320px !important;
  width: 100%;
}
.width-fixed-480 {
  max-width: 480px !important;
  min-width: 480px !important;
  width: 100%;
}

.width-max-128 { max-width: 128px !important; }
.width-max-200 { max-width: 200px !important; }
.width-max-240 { max-width: 240px !important; }
.width-max-256 { max-width: 256px !important; }
.width-max-300 { max-width: 300px !important; }
.width-max-320 { max-width: 320px !important; }
.width-max-380 { max-width: 380px !important; }
.width-max-420 { max-width: 420px !important; }
.width-max-480 { max-width: 480px !important; }
.width-max-600 { max-width: 600px !important; }
.width-max-640 { max-width: 640px !important; }
.width-max-720 { max-width: 720px !important; }
.width-max-780 { max-width: 720px !important; }
.width-max-800 { max-width: 800px !important; }
.width-max-960 { max-width: 960px !important; }
.width-max-1024 { max-width: 1024px !important; }
.width-max-1280 { max-width: 1280px !important; }
.width-max-1680 { max-width: 1680px !important; }

.width-min-256 { min-width: 256px !important; }
.width-min-320 { min-width: 320px !important; }
.width-min-380 { min-width: 380px !important; }
.width-min-420 { min-width: 420px !important; }
.width-min-480 { min-width: 480px !important; }
.width-min-640 { min-width: 640px !important; }
.width-min-720 { min-width: 720px !important; }
.width-min-780 { min-width: 720px !important; }
.width-min-800 { min-width: 800px !important; }
.width-min-960 { min-width: 960px !important; }
.width-min-1024 { min-width: 1024px !important; }
.width-min-1280 { min-width: 1280px !important; }
.width-min-1680 { min-width: 1680px !important; }

.height-auto { height: auto !important; }
.height-full { height: 100% !important; }

.height-max-128 { max-height: 128px !important; }
.height-max-200 { max-height: 200px !important; }
.height-max-240 { max-height: 240px !important; }
.height-max-256 { max-height: 256px !important; }
.height-max-300 { max-height: 300px !important; }
.height-max-320 { max-height: 320px !important; }
.height-max-380 { max-height: 380px !important; }
.height-max-420 { max-height: 420px !important; }
.height-max-480 { max-height: 480px !important; }
.height-max-600 { max-height: 600px !important; }
.height-max-640 { max-height: 640px !important; }
.height-max-720 { max-height: 720px !important; }
.height-max-780 { max-height: 720px !important; }
.height-max-800 { max-height: 800px !important; }
.height-max-960 { max-height: 960px !important; }
.height-max-1024 { max-height: 1024px !important; }
.height-max-1280 { max-height: 1280px !important; }
.height-max-1680 { max-height: 1680px !important; }

.height-min-256 { min-height: 256px !important; }
.height-min-320 { min-height: 320px !important; }
.height-min-380 { min-height: 380px !important; }
.height-min-420 { min-height: 420px !important; }
.height-min-480 { min-height: 480px !important; }
.height-min-640 { min-height: 640px !important; }
.height-min-720 { min-height: 720px !important; }
.height-min-780 { min-height: 720px !important; }
.height-min-800 { min-height: 800px !important; }
.height-min-960 { min-height: 960px !important; }
.height-min-1024 { min-height: 1024px !important; }
.height-min-1280 { min-height: 1280px !important; }
.height-min-1680 { min-height: 1680px !important; }

.flex-inline { display: inline-flex !important; }
.flex-flow-row { flex-flow: row !important; }
.flex-flow-row-wrap { flex-flow: row wrap !important; }
.flex-flow-row-wrap-reverse { flex-flow: row !important; }
.flex-flow-column { flex-flow: column !important; }
.align-start { align-items: flex-start !important; }
.align-center { align-items: center !important; }
.align-end { align-items: flex-end !important; }
.align-stretch { align-items: stretch !important; }
.align-space-between { align-items: space-between !important; }
.justify-start { justify-content: flex-start !important; }
.justify-center { justify-content: center !important; }
.justify-end { justify-content: flex-end !important; }
.justify-stretch { justify-content: stretch !important; }
.justify-space-between { justify-content: space-between !important; }

.responsive-row {
  display: inline-flex !important;
  flex-flow: row !important;
  align-items: flex-start !important;
  justify-content: stretch !important;
}

@media only screen and (max-width: 768px) {
  .responsive-row {
    display: inline-flex !important;
    flex-flow: column !important;
    align-items: stretch !important;
    justify-content: flex-start !important;
  }
}

.grid { display: grid !important; }

.grid-auto-flow-dense { grid-auto-flow: dense !important; }
.grid-auto-flow-row { grid-auto-flow: row !important; }
.grid-auto-flow-column { grid-auto-flow: column !important; }

.grid-col-auto-fill-128 { grid-template-columns: repeat(auto-fill, minmax(128px, 1fr)) !important; }
.grid-col-auto-fill-256 { grid-template-columns: repeat(auto-fill, minmax(256px, 1fr)) !important; }
.grid-col-auto-fill-320 { grid-template-columns: repeat(auto-fill, minmax(320px, 1fr)) !important; }
.grid-col-auto-fill-480 { grid-template-columns: repeat(auto-fill, minmax(480px, 1fr)) !important; }
.grid-col-auto-fill-640 { grid-template-columns: repeat(auto-fill, minmax(640px, 1fr)) !important; }

.grid-col-auto-fit-128 { grid-template-columns: repeat(auto-fit, minmax(128px, 1fr)) !important; }
.grid-col-auto-fit-256 { grid-template-columns: repeat(auto-fit, minmax(256px, 1fr)) !important; }
.grid-col-auto-fit-320 { grid-template-columns: repeat(auto-fit, minmax(320px, 1fr)) !important; }
.grid-col-auto-fit-480 { grid-template-columns: repeat(auto-fit, minmax(480px, 1fr)) !important; }
.grid-col-auto-fit-640 { grid-template-columns: repeat(auto-fit, minmax(640px, 1fr)) !important; }

.grid-col-1 { grid-template-columns: repeat(1, 1fr) !important; }
.grid-col-2 { grid-template-columns: repeat(2, 1fr) !important; }
.grid-col-3 { grid-template-columns: repeat(3, 1fr) !important; }
.grid-col-5 { grid-template-columns: repeat(5, 1fr) !important; }
.grid-col-9 { grid-template-columns: repeat(9, 1fr) !important; }

.grid-row-auto { grid-template-rows: auto !important; }
.grid-row-1fr { grid-template-rows: 1fr !important; }
.grid-row-max-content { grid-template-rows: max-content !important; }

.grid-gap-s { gap: 0.5em !important; }
.grid-gap-m { gap: 0.75em !important; }
.grid-gap-l { gap: 1rem !important; }
.grid-gap-xl { gap: 1.5rem !important; }
.grid-gap-xxl { gap: 2rem !important; }

.grid-item {
  align-self: stretch;
  justify-self: stretch;
}

.font-weight-300 { font-weight: 300 !important; }
.font-weight-400 { font-weight: 400 !important; }
.font-weight-500 { font-weight: 500 !important; }
.font-weight-600 { font-weight: 600 !important; }
.font-weight-700 { font-weight: 700 !important; }
.font-weight-800 { font-weight: 800 !important; }
.font-weight-900 { font-weight: 900 !important; }

.font-scale-xxs { font-size: 75% !important; }
.font-scale-xs { font-size: 80% !important; }
.font-scale-s { font-size: 90% !important; }
.font-scale-m { font-size: 100% !important; }
.font-scale-l { font-size: 120% !important; }
.font-scale-xl { font-size: 150% !important; }
.font-scale-xxl { font-size: 200% !important; }
.font-scale-xxxl { font-size: 300% !important; }

.font-style-normal { font-style: normal !important; }
.font-style-italic { font-style: italic !important; }

.line-height-0 { line-height: 0 !important; }
.line-height-1 { line-height: 1 !important; }

.anchor-top { top: 0 !important; }
.anchor-bottom { bottom: 0 !important; }
.anchor-left { left: 0 !important; }
.anchor-right { right: 0 !important; }

.margin-auto { margin: auto !important; }
.margin-auto-left { margin-left: auto !important; }
.margin-auto-right { margin-right: auto !important; }
.margin-auto-top { margin-top: auto !important; }
.margin-auto-bottom { margin-bottom: auto !important; }

.margin-auto-horizontal {
  margin-left: auto !important;
  margin-right: auto !important;
}

.margin-xxs { margin: 0.25rem !important; }
.margin-xs { margin: 0.5rem !important; }
.margin-s { margin: 1rem !important; }
.margin-m { margin: 1.5rem !important; }
.margin-l { margin: 2rem !important; }
.margin-xl { margin: 2.5rem !important; }
.margin-xxl { margin: 3rem !important; }

.margin-xxs-top { margin-top: 0.25rem !important; }
.margin-xs-top { margin-top: 0.5rem !important; }
.margin-s-top { margin-top: 1rem !important; }
.margin-m-top { margin-top: 1.5rem !important; }
.margin-l-top { margin-top: 2rem !important; }
.margin-xl-top { margin-top: 2.5rem !important; }
.margin-xxl-top { margin-top: 3rem !important; }

.margin-xxs-bottom { margin-bottom: 0.25rem !important; }
.margin-xs-bottom { margin-bottom: 0.5rem !important; }
.margin-s-bottom { margin-bottom: 1rem !important; }
.margin-m-bottom { margin-bottom: 1.5rem !important; }
.margin-l-bottom { margin-bottom: 2rem !important; }
.margin-xl-bottom { margin-bottom: 2.5rem !important; }
.margin-xxl-bottom { margin-bottom: 3rem !important; }

.margin-xxs-left { margin-left: 0.25rem !important; }
.margin-xs-left { margin-left: 0.5rem !important; }
.margin-s-left { margin-left: 1rem !important; }
.margin-m-left { margin-left: 1.5rem !important; }
.margin-l-left { margin-left: 2rem !important; }
.margin-xl-left { margin-left: 2.5rem !important; }
.margin-xxl-left { margin-left: 3rem !important; }

.margin-xxs-right { margin-right: 0.25rem !important; }
.margin-xs-right { margin-right: 0.5rem !important; }
.margin-s-right { margin-right: 1rem !important; }
.margin-m-right { margin-right: 1.5rem !important; }
.margin-l-right { margin-right: 2rem !important; }
.margin-xl-right { margin-right: 2.5rem !important; }
.margin-xxl-right { margin-right: 3rem !important; }

.margin-none { margin: 0 !important; }
.margin-none-left { margin-left: 0 !important; }
.margin-none-right { margin-right: 0 !important; }
.margin-none-top { margin-top: 0 !important; }
.margin-none-bottom { margin-bottom: 0 !important; }

.padding-xxs { padding: 0.25rem !important; }
.padding-xs { padding: 0.5rem !important; }
.padding-s { padding: 1rem !important; }
.padding-m { padding: 1.5rem !important; }
.padding-l { padding: 2rem !important; }
.padding-xl { padding: 2.5rem !important; }
.padding-xxl { padding: 3rem !important; }

.padding-xs-top { padding-top: 0.5rem !important; }
.padding-s-top { padding-top: 1rem !important; }
.padding-m-top { padding-top: 1.5rem !important; }
.padding-l-top { padding-top: 2rem !important; }
.padding-xl-top { padding-top: 2.5rem !important; }
.padding-xxl-top { padding-top: 3rem !important; }

.padding-xs-bottom { padding-bottom: 0.5rem !important; }
.padding-s-bottom { padding-bottom: 1rem !important; }
.padding-m-bottom { padding-bottom: 1.5rem !important; }
.padding-l-bottom { padding-bottom: 2rem !important; }
.padding-xl-bottom { padding-bottom: 2.5rem !important; }
.padding-xxl-bottom { padding-bottom: 3rem !important; }

.padding-xs-left { padding-left: 0.5rem !important; }
.padding-s-left { padding-left: 1rem !important; }
.padding-m-left { padding-left: 1.5rem !important; }
.padding-l-left { padding-left: 2rem !important; }
.padding-xl-left { padding-left: 2.5rem !important; }
.padding-xxl-left { padding-left: 3rem !important; }

.padding-xs-right { padding-right: 0.5rem !important; }
.padding-s-right { padding-right: 1rem !important; }
.padding-m-right { padding-right: 1.5rem !important; }
.padding-l-right { padding-right: 2rem !important; }
.padding-xl-right { padding-right: 2.5rem !important; }
.padding-xxl-right { padding-right: 3rem !important; }

.padding-none { padding: 0 !important; }
.padding-none-top { padding-top: 0 !important; }
.padding-none-bottom { padding-bottom: 0 !important; }
.padding-none-left { padding-left: 0 !important; }
.padding-none-right { padding-right: 0 !important; }

.text-align-left { text-align: left !important; }
.text-align-center { text-align: center !important; }
.text-align-right { text-align: right !important; }

.text-line-height-1 { line-height: 1 !important; }

.text-uppercase { text-transform: uppercase !important; }
.text-lowercase { text-transform: lowercase !important; }

.overflow-auto { overflow: auto !important; }
.overflow-x-auto { overflow-x: auto !important; }
.overflow-y-auto { overflow-y: auto !important; }
.overflow-hidden { overflow: hidden !important; }
.overflow-x-hidden { overflow-x: hidden !important; }
.overflow-y-hidden { overflow-y: hidden !important; }

.hstack {
  display: inline-flex;
  flex-flow: row;
  justify-content: stretch;
  width: 100%;
  margin: 0;
  padding: 0;
}
.hstack-end {
  justify-content: flex-end;
}
.hstack-justify-center {
  justify-content: center;
}
.hstack-align-center {
  align-items: center;
}
.hstack-space-between {
  align-items: center;
  justify-content: space-between;
}
.hstack-margin-top {
  margin-top: 8px;
}
.hstack-margin-bottom {
  margin-bottom: 8px;
}
.hstack-height-full {
  flex: 1 1 auto;
  display: inline-flex;
  overflow-x: hidden;
  overflow-y: auto;
  height: 100%;
}
.hstack-responsive {
  flex-flow: row wrap;
}
.hstack-column {
  display: inline-flex;
  flex-flow: column;
  align-items: flex-start;
  justify-content: flex-start;
  overflow: auto;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}
.hstack-column-third {
  flex: 1 1 auto;
  max-width: 22vw;
  min-width: 320px;
  width: 100%;
}
.hstack-column-fill {
  flex: 2 1 auto;
}

.vstack {
  display: inline-flex;
  flex-flow: column;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
}
.vstack-margin-bottom {
  margin-bottom: 8px;
}
.vstack-height-full {
  max-height: 100vh;
  height: 100%;
}
.vstack-space-between {
  align-items: center;
  justify-content: space-between;
}

.list-no-style {
  list-style: none;
  margin: 0;
  padding: 0;
}

.vstack-item {
  margin-bottom: 1rem;
}
.vstack-item:last-child {
  margin-bottom: 0;
}

.border-radius-0pct {
  border-radius: 0% !important;
}
.border-radius-100pct {
  border-radius: 100% !important;
}

.word-break {
hyphens: auto !important;
word-break: break-word !important;
}

.text-color-accent, .text-color-accent-primary { color: var(--PRIMARY-COLOR) !important; }
.text-color-accent-secondary { color: var(--SECONDARY-COLOR) !important; }
.text-color, .text-color-primary { color: var(--FG-COLOR) !important; }
.text-color-secondary { color: var(--FG-COLOR-SECONDARY) !important; }
.text-color-tertiary { color: var(--FG-COLOR-TERTIARY) !important; }
.bg-color, .bg-color-primary { background: var(--BG-COLOR) !important; }
.bg-color-secondary { background: var(--BG-COLOR-SECONDARY) !important; }

.bg-color-acryllic {
  background: rgba(255,255,255,0.8);
  backdrop-filter: blur(8px);
}

@media (prefers-color-scheme: dark) {
  .bg-color-acryllic {
    background: rgba(30,30,30,0.8);
  }
}

.bg-color-none {
  background: none !important;
  box-shadow: none !important;
  transition: 0.2s;
}

.base-font-family { font-family: var(--BASE-FONT-FAMILY); }
.header-font-family { font-family: var(--HEADER-FONT-FAMILY); }

.invert {
  filter: invert(0) !important;
  -webkit-filter: invert(0) !important;
}
.dark-mode .invert {
  filter: invert(1) !important;
  -webkit-filter: invert(1) !important;
}
@media (prefers-color-scheme: dark) {
  .invert-auto {
      filter: invert(1) !important;
      -webkit-filter: invert(1) !important;
  }
}

.opacity-25 { opacity: 25% !important; }
.opacity-50 { opacity: 50% !important; }
.opacity-75 { opacity: 75% !important; }

.hidden {
  visibility: hidden !important;
  display: none !important;
}
.visible {
  visibility: visible !important;
}

.z-index-50 { z-index: 50 !important; }
.z-index-100 { z-index: 100 !important; }
.z-index-200 { z-index: 200 !important; }
.z-index-500 { z-index: 500 !important; }
.z-index-1000 { z-index: 1000 !important; }
.z-index-2000 { z-index: 2000 !important; }

.link-no-decoration {
  text-decoration: none !important;
}

.cursor-pointer {
  cursor: pointer;
}

.cursor-move:hover {
  cursor: grab;
}
.cursor-move:active {
  cursor: grabbing;
}

.pointer-events-none {
  pointer-events: none !important;
}

.shadow-none {
  box-shadow: none !important;
}

.border-radius-3 { border-radius: 3px !important; }
.border-radius-5 { border-radius: 5px !important; }
.border-radius-8 { border-radius: 8px !important; }
.border-radius-11 { border-radius: 11px !important; }
.border-radius-16 { border-radius: 16px !important; }
.border-radius-32 { border-radius: 32px !important; }
.border-radius-64 { border-radius: 64px !important; }
.border-radius-full { border-radius: 100% !important; }

/* From: https://stackoverflow.com/a/16771693 */
.animate-rotate {
  -webkit-animation: spin 2s linear infinite;
  -moz-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

.hug-bottom {
    border-bottom: none !important;
    border-bottom-left-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}
.hug-top {
    border-top: none !important;
    border-top-left-radius: 0 !important;
    border-top-right-radius: 0 !important;
}
.hug-left {
    border-left: none !important;
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
}
.hug-right {
    border-right: none !important;
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}

/* From: https://stackoverflow.com/a/16771693 */
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

@media only screen and (max-width: 720px) {
  .only-desktop {
      display: none;
      visibility: hidden;
      height: 0;
  }

  .padding-xs {
      padding: 0.325rem;
      padding-left: 0.25rem !important;
      padding-right: 0.25rem !important;
  }
  .padding-s {
      padding: 0.875rem;
      padding-left: 0.75rem !important;
      padding-right: 0.75rem !important;
  }
  .padding-m {
      padding: 1.125rem;
      padding-left: 1rem !important;
      padding-right: 1rem !important;
  }
  .padding-l {
      padding: 1.375rem;
      padding-left: 1.25rem !important;
      padding-right: 1.25rem !important;
  }
  .padding-xl {
      padding: 1.625rem;
      padding-left: 1.5rem !important;
      padding-right: 1.5rem !important;
  }
  .padding-xxl {
      padding: 1.875rem;
      padding-left: 1.75rem !important;
      padding-right: 1.75rem !important;
  }

  .flex-flow-row-wrap-reverse {
      flex-flow: column-reverse !important;
  }

  .grid-col-responsive {
    grid-template-columns: repeat(1, 1fr) !important;
  }

  .grid-col-auto-fill-128,
  .grid-col-auto-fill-256,
  .grid-col-auto-fill-320,
  .grid-col-auto-fill-480,
  .grid-col-auto-fill-640 {
      grid-template-columns: repeat(1, 1fr) !important;
  }
  .grid-col-auto-fit-128,
  .grid-col-auto-fit-256,
  .grid-col-auto-fit-320,
  .grid-col-auto-fit-480,
  .grid-col-auto-fit-640 {
      grid-template-columns: repeat(1, 1fr) !important;
  }

  .hstack-column-third {
      flex: auto !important;
      max-width: auto !important;
      min-width: auto !important;
      width: 100% !important;
  }
  .hstack-responsive {
      flex-flow: column;
  }
}