---
const links = [
  {
    title: "LinkedIn",
    url: "https://linkedin.com/in/clarencesiew"
  },
  {
    title: "GitHub",
    url: "https://github.com/csiew"
  },
  {
    title: "Mastodon",
    url: "https://mastodon.online/@csiew"
  },
  {
    title: "Bluesky",
    url: "https://bsky.app/profile/csiew.bsky.social"
  },
  {
    title: "Threads",
    url: "https://threads.net/@clarence_siew"
  },
  {
    title: "Instagram",
    url: "https://instagram.com/clarence_siew"
  }
];
---

<div class="link-grid">
  <ul>
    {links.map((link) => (
      <li>
        <a href={link.url} target="_blank" rel="noreferrer">
          <span>{link.title}</span>
        </a>
      </li>
    ))}
  </ul>
</div>
