section.link-list {
  width: 100%;
  margin: 0;
  padding: 0;
  display: inline-flex;
  flex-flow: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 0;
  background: rgba(var(--bg-rgb), 0.5);
  box-shadow: var(--3d-shadow);
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);

  article {
    width: 100%;
    margin: 0;
    padding: 1.25rem 1.5rem;
    display: inline-flex;
    flex-flow: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 0.5rem;
    border-bottom: 1px solid var(--border-color);
    transition: var(--transition);

    &:first-child {
      padding-top: 2.25rem;
      border-radius: var(--border-radius) var(--border-radius) 0 0;
    }

    &:last-child {
      padding-bottom: 2.25rem;
      border-bottom: none;
      border-radius: 0 0 var(--border-radius) var(--border-radius);
    }

    h3 {
      padding: 0;
      font-size: 1.75rem;

      a {
        font-weight: 700;
      }
    }

    p.subtitle {
      padding: 0;
      color: var(--fg-secondary);
    }

    sub.timestamp {
      color: var(--fg-secondary);
    }
  }
}
