section.link-list {
  width: 100%;
  margin: 0;
  padding: 0;
  display: inline-flex;
  flex-flow: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 0;

  article {
    width: 100%;
    margin: 0;
    padding: 1.75rem 1rem;
    display: inline-flex;
    flex-flow: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 0.5rem;
    border-bottom: 1px solid var(--border-color);

    &:last-child {
      border-bottom: none;
    }

    h3 {
      padding: 0;
      font-size: 1.75rem;

      a {
        font-weight: 700;
      }
    }

    p.subtitle {
      padding: 0;
      color: var(--fg-secondary);
    }

    sub.timestamp {
      color: var(--fg-secondary);
    }
  }
}
