a.playlistCard,
a.playlistCard:hover {
  text-decoration: none;
}
.playlistCard {
  width: 100%;
  padding: 1rem 0.5rem;

  display: inline-flex;
  flex-flow: column;
  align-items: center;
  justify-content: flex-start;

  color: var(--fg-color);
  border-radius: var(--border-radius);

  cursor: pointer;
}
.playlistCard:is(:hover, :focus) {
  background: var(--bg-color-1);
}
.playlistCard:active {
  background: var(--bg-color-2);
}

.playlistCard h3 {
  margin: 0rem;
  font-size: 2rem;
  font-weight: 900;
  transition: 0.2s;
}
.playlistCard:hover h3 {
  text-shadow: 0px 2px 4px var(--shadow-4);
  scale: 1.125;
  transition: 0.2s;
}
