---
import { getCollection } from "astro:content";
import BaseLayout from "../../layouts/BaseLayout.astro";
import ProjectList from "../../components/ProjectList.astro";
import { SITE } from "../../lib/site";

const projects = (await getCollection("projects"))
  .sort((a, b) => b.data.duration.start.localeCompare(a.data.duration.start));
---

<BaseLayout
  title={`Projects | ${SITE.name}`}
  description={`Projects by ${SITE.name}`}
  pathname="/projects"
>
  <h2>Projects</h2>
  <ProjectList projects={projects} />
</BaseLayout>
