.contactForm {
  width: 100%;
  margin: 2rem 0rem 0rem 0rem;
}

.contactForm h3 {
  margin-bottom: 0.5rem;
}

.contactForm .formControls {
  width: 100%;
  margin: 0;
  padding: 0;

  display: inline-flex;
  flex-flow: row;
  align-items: center;
  justify-content: flex-end;
  gap: 0.5rem;

  font-size: inherit;
}
