.breadcrumbs {
  width: 100%;
  max-width: var(--content-page-max-width);
  margin: 1rem auto;
  top: 0;
  padding: 0.5rem 1rem;
  /* position: sticky; */
  display: inline-flex;
  flex-flow: row;
  align-items: center;
  justify-content: flex-start;
  color: var(--bg-color);
  background: var(--primary-color);
  backdrop-filter: blur(8px);
  border-radius: var(--border-radius);
  transition: var(--transition);
}

.breadcrumbs a {
  color: var(--bg-color);
}

.breadcrumbs ul {
  list-style: none;
  width: 100%;
  margin: 0 !important;
  padding: 0;
  display: inline-flex;
  flex-flow: row;
  align-items: center;
  justify-content: flex-start;
  gap: 0.25rem;
}

.breadcrumbs ul li {
  margin: 0 !important;
  padding: 0 !important;
  display: inline-flex;
  flex-flow: row;
  align-items: center;
  justify-content: flex-start;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.breadcrumbs ul li::after {
  content: '/';
  margin-inline: 0.5rem 0.25rem;
  color: var(--bg-color-9);
  font-weight: bolder;
}
.breadcrumbs ul li:last-of-type::after {
  content: none;
}

.breadcrumbs ul li span {
  width: 100%;
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.breadcrumbsBackBtn {
  padding: 0.5rem;
  display: none;
  color: var(--fg-color);
  background: none;
  border: 3px solid var(--bg-color-5);
  border-radius: 100% !important;
}
.breadcrumbsBackBtn:hover {
  color: var(--fg-color);
  background: var(--bg-color);
  border-color: var(--bg-color);
}
.breadcrumbsBackBtn:active {
  color: var(--bg-color);
  background: var(--fg-color);
  border-color: var(--fg-color);
}

.breadcrumbsBackBtn svg {
  width: 16px;
  height: 16px;
}

/* @media (max-width: 1023px) {
  .breadcrumbsBackBtn {
    display: inline-flex;
  }

  .breadcrumbs ul {
    display: none;
  }
} */

@media (max-width: 768px) {
  .breadcrumbs {
    margin: 0;
    top: 0;
    padding: 0.5rem 1rem;
    border-radius: 0;
  }
}
