/* Murecho */
@font-face {
	font-family: 'Murecho';
	src: url('./Murecho-VariableFont_wght.ttf');
	font-weight: 100 1000;
  font-style: normal;
	font-stretch: 25% 151%;
}
@font-face {
	font-family: 'Murecho';
	src: url('./Murecho-VariableFont_wght.ttf');
	font-weight: 100 1000;
  font-style: italic;
	font-stretch: 25% 151%;
}