@import url('./colors.css');
@import url('../assets/satoshi/index.css');
@import url('../assets/fira-code/index.css');

:root {
  --font-family-system: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  --font-family-base: Satoshi, var(--font-family-system);
  --font-family-article: var(--font-family-base);
  --font-family-quote: var(--font-family-base);
  --font-family-header: var(--font-family-base);
  --font-family-widget: var(--font-family-base);
  --font-family-monospace: 'Fira Code', Monaco, Menlo, 'Cascadia Mono', 'Cascadia Code', 'Ubuntu Mono', 'Noto Mono', 'Courier New', Courier, monospace;

  --border-width: 1px;
  --border-radius: 8px;
  --transition: 0.25s;
}

* {
  box-sizing: border-box;
}
*:focus {
  outline-color: var(--primary-color);
}

.no-select {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
}

html, body, #__next {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  display: inline-flex;
  flex-flow: column;
  align-items: flex-start;
  justify-content: flex-start;
}

@media (max-width: 767px) {
  html, body, #__next {
    flex-flow: column;
  }
}

html {
  color-scheme: light;
  color: var(--fg-color);
  background: var(--bg-color-1);
  font-family: var(--font-family-base);
  font-size: 1.3rem;
  font-weight: 400;
  font-synthesis: none;
  font-display: fallback;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  line-height: 1.5;
}

hr {
  width: 100%;
  border: none;
  border-bottom: 1px solid var(--border-color);
}

a {
  color: var(--primary-color);
  font-weight: 800;
  text-decoration: underline dotted 2px var(--fg-color-7);
  text-underline-offset: 3px;
}
a:hover {
  color: var(--primary-color-1);
  text-decoration: underline solid 2px var(--primary-color-1);
}
a:active {
  color: var(--fg-color);
}
a.disabled {
  color: var(--fg-color-3);
  opacity: 0.5;
  pointer-events: none;
  cursor: not-allowed;
}

h1, h2, h3, h4, h5 {
  font-family: var(--font-family-header);
}

h1 {
  margin: 0;
  padding: 0.5rem 0rem;
}
h2 {
  margin: 0;
  padding: 0.325rem 0rem;
}
h3, h4, h5 {
  margin: 0;
  padding: 0.25rem 0rem;
}

p {
  margin: 0;
  padding: 0.5rem 0rem;
}

code, pre {
  margin: 0;
  padding: 0.125rem 0.25rem;
  background: var(--bg-color-5);
  border-radius:  var(--border-radius);
  font-size: 0.8rem;
  font-weight: 500;
  font-family: var(--font-family-monospace);
}

html, body {
  overflow: hidden;
}
#__next {
  overflow: auto;
}

main {
  width: 100%;
  margin: 0rem auto auto auto;
  padding: 0;
  display: inline-flex;
  flex-flow: column;
  align-items: flex-start;
  justify-content: flex-start;
}

article {
  display: inline-flex;
  flex-flow: column;
  align-items: stretch;
  justify-content: flex-start;
  gap: 0.5rem;
  font-family: var(--font-family-article);
}

article:is(.app-page, .content-page) {
  max-width: 768px;
  width: 100%;
  margin: 0 auto;
}

article.app-page h2 {
  width: 100%;
  height: max-content;
  margin: 0rem 0rem 2rem 0rem;
  padding: 0rem 0rem 0.25rem 0rem;
  color: var(--fg-color);
  font-size: 2.75rem;
  font-weight: 900;
  text-align: center;
}

@media (max-width: 1023px) {
  article.app-page h2 {
    margin-block: 1.5rem 2rem;
    margin-inline: 0rem;
  }
}
@media (max-width: 767px) {
  article.app-page h2 {
    text-align: center;
  }
}

article.content-page {
  margin-block: 3rem;
}

article.content-page > .header {
  max-width: 600px;
  width: 100%;
  margin-block: 0rem 1.5rem;
  margin-inline: auto;
  padding: 0rem 0rem 1rem 0rem;
  display: inline-flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  border-bottom: 1px solidvar(--border-color);
  text-align: center;
}
article.content-page > .header > h2 {
  margin: 0;
  padding: 0;
  display: inline-block;
  color: var(--fg-color);
  border: none;
  font-size: 3rem;
  font-weight: 900;
  line-height: 1;
}
article.content-page > .header > .subtitle {
  margin: 0;
  padding: 0;
  display: inline-block;
  color: var(--fg-color-6);
  font-size: 1.5rem;
  font-weight: normal;
  font-style: italic;
}
article.content-page > .header > .timestamp {
  margin: 0;
  padding: 0;
  display: inline-block;
  color: var(--fg-color-3);
  font-family: var(--font-family-widget);
  font-weight: 600;
}
article.content-page > .content {
  line-height: 1.5;
}

@media (max-width: 767px) {
  article.content-page > .header {
    margin-block: 0;
  }
  article.content-page > .header > h2 {
    font-size: 2rem;
  }
  article.content-page > .header > .subtitle {
    font-size: 1.25rem;
  }
  article.content-page > .header > .timestamp {
    margin-top: 1rem;
    font-size: 0.9rem;
  }
}

article .card-list {
  width: 100%;
  margin: 0;
  padding: 0;

  display: inline-flex;
  flex-flow: column;
  align-items: stretch;
  justify-content: flex-start;
  gap: 1rem;
}

article .card-list .paper {
  width: 100%;
}

form {
  width: 100%;
  display: inline-flex;
  flex-flow: column;
  align-items: flex-start;
  justify-content: stretch;
  gap: 1rem;
}

select {
  margin: 0;
  padding: 0.25rem;
  color: var(--fg-color);
  background: var(--bg-color);
  box-shadow: var(--preset-shadow-widget);
  border: var(--border-width) solid var(--border-color);
  border-radius: var(--border-radius);
  font-size: inherit;
  font-family: var(--font-family-widget);
  cursor: pointer;
}
select:hover {
  background: var(--bg-color-1);
}
select:active {
  background: var(--bg-color-2);
  box-shadow: var(--preset-shadow-widget-inset);
}
select:is(:disabled, .disabled) {
  outline: none;
  opacity: 0.5;
  filter: saturate(0);
  cursor: default;
  pointer-events: none;
}

:is(.note, blockquote) {
  width: 100%;
  margin: 1rem 0rem;
  padding: 1rem;
  color: var(--fg-color-3);
  background: var(--bg-color-3);
  border-left: 5px solid var(--primary-color);
  font-family: var(--font-family-quote);
}
.note :is(h1, h2, h3, h4, h5) {
  color: var(--primary-color);
  font-family: var(--font-family-quote);
  font-style: normal;
  font-size: 0.8rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.125rem;
  user-select: none;
}
blockquote {
  font-style: italic;
}
blockquote::before {
  content: 'Quote';
  color: var(--primary-color);
  font-size: 0.8rem;
  font-style: normal;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.125rem;
}
.blockquotes-as-notes blockquote {
  font-style: normal;
}
.blockquotes-as-notes blockquote::before {
  content: 'Note';
}

.post-list {
  width: 100%;
  display: inline-flex;
  flex-flow: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 1.5rem;
}

.post-list > .post-list-entry {
  width: 100%;
  display: inline-flex;
  flex-flow: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 0.25rem;
}

.post-list > .post-list-entry > .timestamp {
  color: var(--fg-color-6);
  font-size: 0.8rem;
  font-weight: bold;
}

/* Mac OS Platinum style scrollbar */
@media (min-width: 768px) {
  .classic-scrollbar::-webkit-scrollbar,
  .classic-scrollbar::-webkit-scrollbar-track {
    width: 18px;
    background: var(--fg-color-8);
    border-left: 1px solid var(--fg-color);
    border-radius: 0;
    box-shadow:
      0px 2px 2px rgba(0, 0, 0, 0.125) inset,
      2px 0px 2px rgba(0, 0, 0, 0.125) inset,
      0px -2px 2px rgba(255, 255, 255, 0.5) inset,
      -2px 0px 2px rgba(255, 255, 255, 0.5) inset;
  }
  .classic-scrollbar::-webkit-scrollbar-thumb {
    background: var(--primary-color);
    border: 1px solid var(--fg-color);
    border-radius: 0;
    box-shadow:
      0px 2px 0px rgba(255, 255, 255, 0.5) inset,
      0px -2px 0px rgba(0, 0, 0, 0.25) inset,
      2px 0px 0px rgba(255, 255, 255, 0.5) inset,
      -2px 0px 0px rgba(0, 0, 0, 0.25) inset;
  }
  .classic-scrollbar::-webkit-scrollbar-thumb:hover {
    background: var(--primary-color-3);
  }
  .classic-scrollbar::-webkit-scrollbar-thumb:active {
    background: var(--fg-color-3);
  }
}

@import url('../components/ui/Alert/index.module.css');
@import url('../components/ui/Badge/index.module.css');
@import url('../components/ui/Breadcrumbs/index.module.css');
@import url('../components/ui/Button/index.module.css');
@import url('../components/ui/ButtonGroup/index.module.css');
@import url('../components/ui/Form/index.module.css');
@import url('../components/ui/Modal/index.module.css');
@import url('../components/ui/NavigationSidebar/index.module.css');
@import url('../components/ui/NavigationView/index.module.css');
@import url('../components/ui/Paper/index.module.css');
@import url('../components/ui/TextField/index.module.css');
@import url('../components/ui/Toolbar/index.module.css');

@import url('../components/app/BackToTop/index.module.css');
@import url('../components/app/Footer/index.module.css');
@import url('../components/app/NavBar/index.module.css');
@import url('../components/app/NowWatchingShowCard/index.module.css');
@import url('../components/app/PlaylistCard/index.module.css');

@import url('./index.module.css');
@import url('./now/index.module.css');
@import url('./posts/index.module.css');
@import url('./now-watching/index.module.css');
@import url('./playlists/index.module.css');
@import url('./projects/index.module.css');
