:root {
  --font-family-system: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  --font-family-base: var(--font-family-system);
  --font-family-article: var(--font-family-base);
  --font-family-header: var(--font-family-base);
  --font-family-widget: var(--font-family-base);
  --font-family-monospace: Monaco, Menlo, 'Cascadia Mono', 'Cascadia Code', 'Ubuntu Mono', 'Noto Mono', 'Courier New', Courier, monospace;

  --border-radius: 9px;
}

* {
  box-sizing: border-box;
}
*:focus {
  outline-color: var(--primary-color);
}

html, body, #__next {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  display: inline-flex;
  flex-flow: column;
  align-items: flex-start;
  justify-content: flex-start;
}

@media (max-width: 767px) {
  html, body, #__next {
    flex-flow: column;
  }
}

html {
  color-scheme: light dark;
  color: var(--fg-color);
  background: var(--bg-color);
  font-family: var(--font-family-base);
  font-size: 1.25rem;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  line-height: 1.25;
}

hr {
  width: 100%;
  border: none;
  border-bottom: 1px solid var(--border-color);
}

a {
  color: var(--fg-color);
  font-weight: 800;
  text-decoration: underline;
}
a:hover {
  text-decoration: underline;
}
a:active {
  color: var(--fg-color);
}

h1, h2, h3, h4, h5 {
  font-family: var(--font-family-header);
}

h1 {
  margin: 0;
  padding: 0.5rem 0rem;
}
h2 {
  margin: 0;
  padding: 0.325rem 0rem;
}
h3, h4, h5 {
  margin: 0;
  padding: 0.25rem 0rem;
}

p {
  margin: 0;
  padding: 0.5rem 0rem;
}

code, pre {
  font-size: 80%;
  font-weight: 700;
  font-family: var(--font-family-monospace);
}

html, body {
  overflow: hidden;
}
#__next {
  overflow: auto;
}

main {
  width: 100%;
  margin: 0rem auto auto auto;
  padding: 0;

  display: inline-flex;
  flex-flow: column;
  align-items: flex-start;
  justify-content: flex-start;
}

article {
  display: inline-flex;
  flex-flow: column;
  align-items: stretch;
  justify-content: flex-start;
  gap: 0.5rem;
  font-family: var(--font-family-article);
}

article.topLevelPage {
  max-width: 768px;
  width: 100%;
  margin: 0 auto;
}

article.topLevelPage h2 {
  width: 100%;
  height: max-content;
  margin: 0rem 0rem 2rem 0rem;
  padding: 0rem 0rem 0.25rem 0rem;

  color: var(--fg-color);

  font-size: 2rem;
  font-weight: 900;
  letter-spacing: 0.05rem;
  text-align: center;
  text-transform: uppercase;
}

@media (max-width: 767px) {
  article.topLevelPage h2 {
    text-align: center;
  }
}

article .cardList {
  width: 100%;
  margin: 0;
  padding: 0;

  display: inline-flex;
  flex-flow: column;
  align-items: stretch;
  justify-content: flex-start;
  gap: 1rem;
}

article .cardList .paper {
  width: 100%;
}

form {
  width: 100%;
  display: inline-flex;
  flex-flow: column;
  align-items: flex-start;
  justify-content: stretch;
  gap: 1rem;
}

select {
  margin: 0;
  padding: 0.25rem;
  color: var(--fg-color);
  background: var(--bg-color);
  box-shadow: var(--sm-shadow-1);
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);
  font-size: inherit;
  font-family: var(--font-family-widget);
  cursor: pointer;
}
select:hover {
  background: var(--bg-color-1);
}
select:active {
  background: var(--bg-color-2);
  box-shadow: var(--sm-shadow-1-inset);
}
select:is(:disabled, .disabled) {
  outline: none;
  opacity: 0.5;
  filter: saturate(0);
  cursor: default;
  pointer-events: none;
}

@import url('./colors.css');

@import url('../components/ui/Alert/index.module.css');
@import url('../components/ui/Button/index.module.css');
@import url('../components/ui/Form/index.module.css');
@import url('../components/ui/Modal/index.module.css');
@import url('../components/ui/NavigationSidebar/index.module.css');
@import url('../components/ui/NavigationView/index.module.css');
@import url('../components/ui/Paper/index.module.css');
@import url('../components/ui/TextField/index.module.css');
@import url('../components/ui/Toolbar/index.module.css');

@import url('../components/app/BackToHome/index.module.css');
@import url('../components/app/BackToTop/index.module.css');
@import url('../components/app/BlogNavigationView/index.module.css');
@import url('../components/app/Footer/index.module.css');
@import url('../components/app/ContactForm/index.module.css');
@import url('../components/app/MustWatchBadge/index.module.css');
@import url('../components/app/NavBar/index.module.css');
@import url('../components/app/NowWatchingShowCard/index.module.css');
@import url('../components/app/PlaylistCard/index.module.css');
@import url('../components/app/ProjectCard/index.module.css');

@import url('./index.module.css');
@import url('./playlists/index.module.css');
@import url('./now-watching/index.module.css');
