:root {
  --fg-color: rgb(4, 5, 0);
  --fg-color-1: rgb(24, 25, 20);
  --fg-color-2: rgb(44, 45, 40);
  --fg-color-3: rgb(64, 65, 60);
  --fg-color-4: rgb(84, 85, 80);
  --fg-color-5: rgb(104, 105, 100);
  --fg-color-6: rgb(124, 125, 120);
  --fg-color-7: rgb(144, 145, 140);
  --fg-color-8: rgb(164, 165, 160);
  --fg-color-9: rgb(194, 195, 190);

  --bg-color: rgb(255, 255, 255);
  --bg-color-1: rgb(249, 248, 244);
  --bg-color-2: rgb(243, 242, 238);
  --bg-color-3: rgb(237, 236, 232);
  --bg-color-4: rgb(231, 230, 226);
  --bg-color-5: rgb(225, 224, 220);
  --bg-color-6: rgb(219, 218, 214);
  --bg-color-7: rgb(213, 212, 208);
  --bg-color-8: rgb(207, 206, 202);
  --bg-color-9: rgb(201, 200, 196);

  --border-color: rgb(200, 200, 200);

  --primary-color: rgb(185, 85, 45);
  --primary-color-1: rgb(175, 75, 35);
  --primary-color-2: rgb(165, 65, 25);
  --primary-color-3: rgb(155, 55, 15);

  --shadow: none;
  --shadow-1: rgba(0, 0, 0, 0.5);
  --shadow-2: rgba(0, 0, 0, 0.325);
  --shadow-3: rgba(0, 0, 0, 0.25);
  --shadow-4: rgba(0, 0, 0, 0.125);
  --shadow-5: rgba(0, 0, 0, 0.06125);

  --preset-shadow-widget: none;
  --preset-shadow-widget-inset: 0px 2px 4px rgba(0, 0, 0, 0.25) inset;
  --preset-shadow-component: 0px 4px 8px rgba(0, 0, 0, 0.125);
  --preset-shadow-textfield: none;

  --header-text-shadow:
    4px 4px 0px var(--bg-color-9),
    8px 8px 0px var(--bg-color-6),
    12px 12px 0px var(--bg-color-3);
  --header-text-shadow-small:
    2px 2px 0px var(--bg-color-9),
    4px 4px 0px var(--bg-color-6),
    6px 6px 0px var(--bg-color-3);

  color-scheme: light;
}
