:root {
  --fg-color: #000000;
  --fg-color-1: #111111;
  --fg-color-2: #222222;
  --fg-color-3: #333333;
  --fg-color-4: #3a3a3a;
  --fg-color-5: #3c3c3c;
  --fg-color-6: #3e3e3e;
  --fg-color-7: #444444;
  --fg-color-8: #4a4a4a;
  --fg-color-9: #555555;

  --bg-color: #ffffff;
  --bg-color-1: #f5f5f5;
  --bg-color-2: #eeeeee;
  --bg-color-3: #e5e5e5;
  --bg-color-4: #dddddd;
  --bg-color-5: #d5d5d5;
  --bg-color-6: #cccccc;
  --bg-color-7: #c5c5c5;

  --border-color: #cccccc;

  --primary-color: #FF4500;
  --primary-color-1: #FF6520;
  --primary-color-2: #FF8540;
  --primary-color-3: #FFA560;
  --primary-color-4: #FFC580;
  --primary-color-5: #FFE5A0;

  --shadow: none;
  --shadow-1: rgba(0, 0, 0, 0.5);
  --shadow-2: rgba(0, 0, 0, 0.325);
  --shadow-3: rgba(0, 0, 0, 0.25);
  --shadow-4: rgba(0, 0, 0, 0.125);
  --shadow-5: rgba(0, 0, 0, 0.06125);

  --sm-shadow: none;
  --sm-shadow-1: none;
  --sm-shadow-1-inset: none;
  --sm-shadow-2: none;
  --sm-shadow-3: none;
  --sm-shadow-4: none;
}

@media (prefers-color-scheme: dark) {
  :root {
    --fg-color: #eeeeee;
    --fg-color-1: #e0e0e0;
    --fg-color-2: #dddddd;
    --fg-color-3: #d0d0d0;
    --fg-color-4: #cccccc;
    --fg-color-5: #c0c0c0;
    --fg-color-6: #bbbbbb;
    --fg-color-7: #b0b0b0;
    --fg-color-8: #aaaaaa;
    --fg-color-9: #a0a0a0;
  
    --bg-color: #1e1e1e;
    --bg-color-1: #222222;
    --bg-color-2: #2e2e2e;
    --bg-color-3: #333333;
    --bg-color-4: #3e3e3e;
    --bg-color-5: #444444;
    --bg-color-6: #4e4e4e;
    --bg-color-7: #555555;

    --border-color: #555555;
  
    --shadow: none;
    --shadow-1: rgba(0, 0, 0, 0.75);
    --shadow-2: rgba(0, 0, 0, 0.5);
    --shadow-3: rgba(0, 0, 0, 0.325);
    --shadow-4: rgba(0, 0, 0, 0.25);
    --shadow-5: rgba(0, 0, 0, 0.125);
  }
}
