:root {
  --fg-color: rgb(5, 4, 0);
  --fg-color-1: rgb(25, 24, 20);
  --fg-color-2: rgb(45, 44, 40);
  --fg-color-3: rgb(65, 64, 60);
  --fg-color-4: rgb(85, 84, 80);
  --fg-color-5: rgb(105, 104, 100);
  --fg-color-6: rgb(125, 124, 120);
  --fg-color-7: rgb(145, 144, 140);
  --fg-color-8: rgb(165, 164, 160);
  --fg-color-9: rgb(195, 194, 190);

  --bg-color: rgb(255, 255, 255);
  --bg-color-1: rgb(249, 248, 244);
  --bg-color-2: rgb(243, 242, 238);
  --bg-color-3: rgb(237, 236, 232);
  --bg-color-4: rgb(231, 230, 226);
  --bg-color-5: rgb(225, 224, 220);
  --bg-color-6: rgb(219, 218, 214);
  --bg-color-7: rgb(213, 212, 208);
  --bg-color-8: rgb(207, 206, 202);
  --bg-color-9: rgb(201, 200, 196);

  --border-color: rgb(195, 194, 190);

  --primary-color: rgb(188, 155, 52);
  --primary-color-1: rgb(182, 149, 46);
  --primary-color-2: rgb(176, 143, 40);
  --primary-color-3: rgb(170, 137, 34);

  --shadow: none;
  --shadow-1: rgba(0, 0, 0, 0.5);
  --shadow-2: rgba(0, 0, 0, 0.325);
  --shadow-3: rgba(0, 0, 0, 0.25);
  --shadow-4: rgba(0, 0, 0, 0.125);
  --shadow-5: rgba(0, 0, 0, 0.06125);

  --preset-shadow-widget: 2px 2px 0px rgba(0, 0, 0, 0.125);
  --preset-shadow-widget-inset: -2px -2px 0px rgba(0, 0, 0, 0.125);
  --preset-shadow-component: 4px 4px 0px rgba(0, 0, 0, 0.125);
  --preset-shadow-textfield: -2px -2px 0px rgba(0, 0, 0, 0.125);
}
