.pageHome {
  padding: 2rem 0rem;
  font-size: 1.25rem;
}

.pageHome section:first-of-type p:first-of-type {
  max-width: 80%;
  width: 100%;
  margin: 1rem 0rem 2rem 0rem;
  padding: 1.5rem;

  background: var(--primary-color-3);

  font-size: 150%;
  font-style: italic;
  line-height: 1.125;
  letter-spacing: -2px;
}

.pageHome section:first-of-type p:first-of-type .highlight {
  text-decoration: underline solid var(--primary-color-2) 5px;
  cursor: default;
}
@media (min-width: 768px) {
  .pageHome section:first-of-type p:first-of-type .highlight:hover {
    text-decoration-color: var(--primary-color);
    text-shadow: -4px 4px 0px var(--shadow-4);
  }
}
.pageHome section:first-of-type p:first-of-type .highlight.firstName {
  display: inline-block;

  font-size: 120%;
  font-weight: 800;
}

.pageHome section:first-of-type p:first-of-type::first-letter {
  margin: -0.5rem -0.125rem -1rem 0rem;
  float: left;

  text-shadow: -4px 4px 0px var(--shadow-4);

  font-size: 250%;
  font-style: italic;
  font-weight: 600;
  line-height: 1;
}

@media (max-width: 767px) {
  .pageHome section:first-of-type p:first-of-type {
    max-width: none;
    padding: 0;
    background: none;
  }

  .pageHome section:first-of-type p:first-of-type::first-letter {
    margin: 0;
    float: none;
    
    text-shadow: none;
    border: none;

    font-size: 125%;
    font-style: normal;
    font-weight: inherit;
  }
}

.pageHome .profile {
  width: 256px;
  height: 256px;
  margin: -1rem 0rem 1rem 1rem;
  float: right;

  box-shadow: -8px 8px 0px var(--shadow-4);
  shape-outside: square();

  -webkit-user-drag: none;
}

@media (max-width: 768px) {
  .pageHome .profile {
    margin: 0rem auto 2rem auto;

    float: none;
    display: block;

    box-shadow: none;
  }
}
