.pageHome {
  padding: 2rem 0rem;
}

.pageHome .profile {
  width: 128px;
  height: 128px;
  margin: -2rem 2rem 0rem 0rem;
  float: right;
  border-radius: 100%;
  -webkit-user-drag: none;
}

.pageHome section {
  display: inline-flex;
  flex-flow: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 1rem;
}

.pageHome section p:first-of-type {
  font-size: 2rem;
}

@media (max-width: 768px) {
  .pageHome {
    padding: 0rem;
  }

  .pageHome .profile {
    margin: 0rem auto 2rem auto;
    float: none;
    display: block;
    box-shadow: none;
  }
}
