.home-page {
  display: inline-flex;
  flex-flow: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.home-page .profile {
  width: 128px;
  height: 128px;
  margin: -2rem 2rem 0rem 0rem;
  float: right;
  border-radius: 100%;
  -webkit-user-drag: none;
}

.home-page p {
  font-size: 28px;
  line-height: 1.4;
}

@media (max-width: 768px) {
  .home-page {
    padding: 0rem;
  }

  .home-page .profile {
    margin: 0rem auto 2rem auto;
    float: none;
    display: block;
    box-shadow: none;
  }
}
