.main {
  max-width: var(--content-page-max-width);
  width: 100%;
  margin-inline: auto;
  padding: 2rem;
}

.header {
  width: 100%;
  margin-block: 1rem;
  display: inline-flex;
  flex-flow: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: 0.5rem;
}

.header h2 {
  font-size: 2.75rem;
}

.status {
  display: inline-flex;
  flex-flow: column;
  align-items: flex-end;
  justify-content: flex-end;
  gap: 0.5rem;
}
.status sub {
  color: var(--fg-color-5);
  font-size: 1.25rem;
}

.screenshot {
  border-radius: var(--border-radius);
}
.screenshot img {
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);
  -webkit-user-drag: none;
}

.links {
  width: 100%;
}
.links ul {
  list-style: none;
  width: 100%;
  display: inline-grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}
.links ul li {
  width: 100%;
}
.links ul li a {
  width: 100%;
  padding: 1rem;
  display: inline-flex;
  flex-flow: row;
  align-items: center;
  justify-content: center;
  color: var(--bg-color);
  background: var(--primary-color);
  border-radius: var(--border-radius);
  font-weight: bold;
  text-decoration: none;
}
.links ul li a:hover {
  background: var(--primary-color-1);
}
.links ul li a:active {
  background: var(--primary-color-3);
}

.disabled {
  opacity: 0.5;
  pointer-events: none;
}

@media (max-width: 768px) {
  .header, .status {
    flex-flow: column;
    align-items: center;
    justify-content: center;
  }

  .links ul {
    grid-template-columns: repeat(1, 1fr);
  }
}
