.card {
  width: 100%;
  height: max-content;
  padding: 0;
  display: inline-flex;
  flex-flow: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 1rem;
}

.card h2 {
  margin-bottom: 1rem;
  font-size: 2rem;
  font-weight: bold;
  line-height: 1;
}

.header {
  width: 100%;
  display: inline-flex;
  flex-flow: row;
  align-items: flex-start;
  justify-content: space-between;
}
