.navigationView {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  display: inline-flex;
  flex-flow: row;
  align-items: stretch;
  justify-content: flex-start;
}

.navigationView.leftNav {
  flex-flow: row;
}
.navigationView.rightNav {
  flex-flow: row-reverse;
}

.navigationView .navigationViewNav {
  max-width: 200px;
  width: 100%;
  margin: 0;
  padding: 0;
  display: block;
  position: sticky;
  top: 0;
  bottom: 0;
}
@media (max-width: 1279px) {
  .navigationView .navigationViewNav {
    display: none;
  }
}

.navigationView .navigationViewContent {
  width: 100%;
  margin: 0;
  padding: 2rem;
  display: inline-flex;
  flex-flow: column;
  flex-grow: 3;
  align-items: flex-start;
  justify-content: flex-start;
}
@media (max-width: 1023px) {
  .navigationView .navigationViewContent {
    padding: 1rem;
  }
}
