@import '@fontsource/fira-mono';

:root {
	--font-family: Helvetica, Arial, sans-serif;
	--font-heading: var(--font-family);
	--font-mono: 'Fira Mono', monospace;
	font-family: var(--font-family);
	--pure-white: #ffffff;
	--primary-color: #dcdcd6;
	--secondary-color: lightgray;
	--tertiary-color: darkgray;
	--accent-color: sienna;
	--heading-color: #6e6e6e;
	--footer-color: #5e5e5e;
	--text-color: #2e2e26;
	--border-color: #bbbbbb;
	--selection-background: #87ceeb;
	--footer-background: none;
}

* {
	box-sizing: border-box;
}

body, #svelte {
	width: 100%;
	min-height: 100vh;
	margin: 0;
	display: inline-flex;
	flex-flow: column;
	justify-content: flex-start;
	align-items: space-between;
	background: var(--primary-color);
	color: var(--text-color);
	font-size: 1.125rem;
	font-weight: 400;
	line-height: 1.5;
}
	
main {
	display: flex;
	flex-direction: column;
	padding: 1rem;
	width: 100%;
	max-width: 1024px;
	margin: 0 auto;
	box-sizing: border-box;
}

footer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 0;
	padding: 3rem;
	background: var(--footer-background);
	color: var(--footer-color);
}

footer a {
	font-weight: bold;
}

.content {
	margin: 2rem auto;
	width: 100%;
	max-width: 720px;
}
.content .heading h1 {
	margin: 2rem 0;
	color: var(--text-color);
	font-size: 4rem;
	line-height: 1;
	text-align: center;
}

h1, h2, h3, h4, h5 {
	--size: 1;
	margin: 0.5rem 0;
	color: var(--heading-color);
	font-size: calc(--size)rem;
	font-family: var(--font-heading);
	font-weight: bold;
}
h1 {
	font-size: 3rem;
	font-weight: 900;
}
h2 {
	font-size: 2.25rem;
	font-weight: 800;
}
h3 {
	font-size: 1.75rem;
	font-weight: 700;
}
h4 {
	font-size: 1.5rem;
	font-weight: 600;
}
h5 {
	font-size: 1.25rem;
	font-weight: 500;
}

a {
	color: var(--accent-color);
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}

pre {
	font-size: 16px;
	font-family: var(--font-mono);
	background-color: rgba(255, 255, 255, 0.45);
	border-radius: 3px;
	box-shadow: 2px 2px 6px rgb(255 255 255 / 25%);
	padding: 0.5em;
	overflow-x: auto;
	color: var(--text-color);
}

input,
button {
	font-size: inherit;
	font-family: inherit;
}

button, .button {
	margin: 0;
	padding: 0.5rem 1rem;
	background: goldenrod;
	color: #1e1e1e;
	text-shadow: 0px 1px 1px white;
	text-align: center;
	white-space: nowrap;
	border-radius: 9px;
	box-shadow: 0px 2px 1px rgba(0,0,0,0.5), 0px 2px 2px rgba(255,255,255,0.75), 0px -2px 2px rgba(0,0,0,0.5) inset, 0px 2px 2px white inset, 0px 16px 12px rgba(255,255,255,0.5) inset;
	border: none;
	cursor: pointer;
	transition: 0.2s ease-in-out;
}
:is(button, .button):hover {
	background: orange;
	text-decoration: none;
}
:is(button, .button):active,
:is(button, .button):focus:active {
	background: darkgoldenrod;
	box-shadow: 0px -2px 2px rgba(0,0,0,0.25), 0px -2px 2px rgba(255,255,255,0.75), 0px 2px 2px rgba(0,0,0,0.5) inset, 0px 2px 2px white inset, 0px 8px 16px rgba(255,255,255,0.5) inset;
	outline: 3px solid darkgoldenrod;
	animation: none;
}
:is(button, .button):focus {
	outline: none;
	animation: button-throbber 1s alternate-reverse infinite;
}
button:disabled, .button.disabled {
	background: darkgray;
	opacity: 0.5;
	cursor: not-allowed;
	pointer-events: none;
}

@keyframes button-throbber {
	0% {
		background: goldenrod;
		outline: 3px solid var(--tertiary-color);
	}
	100% {
		background: orange;
		outline: 3px solid darkgoldenrod;
	}
}

section {
	display: inline-flex;
	flex-flow: column;
	justify-content: flex-start;
	align-items: stretch;
	margin: 0 auto;
	padding: 0;
	width: 100%;
}

.card, .engrave {
	display: inline-flex;
	flex-flow: column;
	justify-content: flex-start;
	align-items: flex-start;
	margin: 0;
	padding: 1rem;
	width: 100%;
	border-radius: 9px;
}

.card {
	background: rgba(255,255,255,0.5);
	box-shadow: 0px 2px 8px rgba(0,0,0,0.5), 0px 2px 1px white inset, 0px -2px 1px dimgray inset;
}
.card .heading {
	display: inline-flex;
	flex-flow: row wrap;
	justify-content: space-between;
	align-items: center;
	margin: 0 0 1rem 0;
	inset: 0;
	padding: 0.25rem 0.5rem 1rem 0.5rem;
	width: 100%;
	border-bottom: 3px solid var(--border-color);
}
.card .heading .title {
	display: inline-flex;
	flex-flow: column;
	justify-content: center;
	align-items: flex-start;
	margin: 0.25rem 0 0 0;
}
.card .heading .title h2 {
	margin: 0;
	line-height: 1;
}
.card .heading .title sub {
	margin: 0;
	font-size: 1rem;
	font-weight: lighter;
}
.card .heading .accessories {
	display: grid;
	grid-auto-flow: column;
	gap: 0.5rem;
	align-items: center;
}
.card .body {
	padding: 0.25rem 0.5rem 0.5rem 0.5rem;
}

.engrave {
	background: rgba(0,0,0,0.03);
	box-shadow: 0px -2px 2px white inset, 0px 2px 4px dimgray inset;
}

.slide {
	display: inline-flex;
	flex-flow: column;
	justify-content: center;
	align-items: center;
	margin: 1rem 0;
	width: 100%;
}
.slide .heading {
	margin-bottom: 1rem;
	border-bottom: 3px solid var(--tertiary-color);
}
.slide .heading.toggle {
	display: inline-flex;
	flex-flow: row;
	justify-content: space-between;
	align-items: center;
	width: 100%;
}

.showcase {
	display: grid;
	grid-auto-flow: column;
	gap: 3rem;
	align-items: center;
}
.showcase :first-child {
	justify-content: flex-end;
	margin-left: auto;
	margin-right: 0;
}
.showcase :last-child {
	justify-content: flex-end;
	margin-left: 0;
	margin-right: auto;
}
.showcase-left {
	grid-template-columns: 1fr 0fr;
}
.showcase-right {
	grid-template-columns: 0fr 1fr;
}
.showcase-left section {
	text-align: left;
}
.showcase-left section {
	text-align: right;
}

@media (max-width: 720px) {
	body, #svelte {
		flex-flow: column;
		justify-content: center;
		align-items: center;
		width: 100%;
		font-size: 1rem;
	}

	footer {
		padding: 1rem 0;
	}

	.card .heading,
	.card .heading :is(.title, .accessories) {
		flex-flow: column;
		justify-content: center;
		align-items: center;
	}
	.card .heading .title {
		margin: 0 0 1rem 0;
	}
	.card .heading .accessories {
		grid-auto-columns: 1fr;
		justify-content: stretch;
		width: 100%;
	}

	.slide {
		min-height: none;
		margin: 0.5rem 0;
	}

	.showcase {
		display: inline-flex;
		gap: 2.5rem;
		flex-flow: column;
		justify-content: center;
		align-items: center;
		margin: 1rem 0;
	}
	.showcase :first-child, .showcase :last-child {
		justify-content: center;
		margin: auto;
		text-align: left;
	}
	.showcase-left {
		flex-flow: column-reverse;
	}
}
