:root {
	/* FONTS */
	--system-font-family: ui-sans-serif, 'system-ui', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Fira Sans', Helvetica, 'Helvetica Neue', Arial, sans-serif;
	--font-family: 'Spline Sans', var(--system-font-family);
	--font-heading: var(--font-family);
	--font-mono: 'JetBrains Mono', Menlo, Monaco, 'Cascadia Code', Consolas, monospace;
	--font-article: var(--font-family);
	--font-control: var(--font-family);
	font-family: var(--font-family);

	/* MISC */
	--border-width: 1px;
	--border-radius: 12px;
	--button-border-radius: 9px;
	--link-border-radius: var(--button-border-radius);

	--button-hover-transform-x: 0px;
	--button-hover-transform-y: 0px;
	--button-hover-transform-scale: 1;
	--button-active-transform-x: 0px;
	--button-active-transform-y: 0px;
	--button-active-transform-scale: 1;

	/* SHADOWS */
	--global-text-shadow: 0px 1px 0px rgba(255, 255, 255, 1);
	--footer-text-shadow: 0px 1px 0px rgba(255, 255, 255, 1);
	--element-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
	--element-shadow-inverse: 0px 2px 4px rgba(0, 0, 0, 0.125) inset;
	--button-shadow:
		0px 1px 2px rgba(125, 125, 125, 0.5) inset,
		0px 8px 16px rgba(255, 255, 255, 1) inset,
		0px -8px 16px rgba(125, 125, 125, 0.25) inset;
	--button-shadow-hover:
		0px 1px 4px rgba(125, 125, 125, 0.5) inset,
		0px 8px 16px rgba(255, 255, 255, 1) inset,
		0px -8px 16px rgba(125, 125, 125, 0.325) inset;
	--button-shadow-active:
		0px 4px 8px rgba(0, 0, 0, 0.25) inset,
		var(--button-shadow-hover);
	--header-shadow: -2px 0px 8px rgba(0, 0, 0, 0.25) inset;
	--header-shadow-responsve:
		0px 2px 4px rgba(0, 0, 0, 0.25) inset,
		0px 4px 16px rgba(255, 255, 255, 0.75) inset,
		0px -2px 32px rgba(0, 0, 0, 0.25) inset;
	--toast-shadow: var(--element-shadow);

	/* COLORS */

	/* LIGHT THEME */
	--primary-color: var(--material-color-grey-100);
	--secondary-color: var(--pure-white);
	--tertiary-color: var(--material-color-grey-400);

	--accent-color: var(--material-color-teal-700);
	--accent-secondary-color: var(--material-color-teal-600);

	--heading-color: var(--material-color-grey-900);
	--subtitle-color: var(--material-color-grey-600);
	--footer-color: var(--material-color-grey-700);
	--text-color: var(--material-color-grey-900);
	--text-secondary-color: var(--material-color-grey-800);
	--text-tertiary-color: var(--material-color-grey-700);

	--border-color: var(--material-color-grey-400);
	--hr-border: 3px solid var(--material-color-grey-200);

	--button-fg-color: var(--text-color);
	--button-fg-color-hover: var(--text-color);
	--button-fg-color-active: var(--text-color);
	--button-bg-color: var(--material-color-grey-50);
	--button-bg-color-hover: var(--material-color-grey-100);
	--button-bg-color-active: var(--material-color-grey-200);
	--button-border-color: var(--material-color-grey-400);

	--tooltip-fg-color: var(--pure-black);
	--tooltip-bg-color: linear-gradient(to bottom, var(--material-color-yellow-100), var(--material-color-yellow-200));
	--tooltip-border-color: var(--material-color-lime-700);

	--header-fg-color: var(--text-color);
	--header-bg-color: var(--material-color-grey-200);

	--selection-background: var(--material-color-teal);
	--footer-background: none;
}

@media only screen and (prefers-color-scheme: dark) {
	:root {
		/* SHADOWS */
		--global-text-shadow: 0px -2px 0px rgba(0, 0, 0, 0.5);
		--footer-text-shadow: 0px -2px 0px rgba(0, 0, 0, 0.5);
		--element-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
		--element-shadow-inverse: 0px 2px 4px rgba(0, 0, 0, 0.5) inset;
		--button-shadow:
			0px 1px 2px rgba(0, 0, 0, 0.5) inset,
			0px 8px 16px rgba(255, 255, 255, 0.0625) inset,
			0px -8px 16px rgba(0, 0, 0, 0.25) inset;
		--button-shadow-hover:
			0px 1px 4px rgba(0, 0, 0, 0.5) inset,
			0px 8px 16px rgba(255, 255, 255, 0.0625) inset,
			0px -8px 16px rgba(0, 0, 0, 0.325) inset;
		--button-shadow-active:
			0px 4px 8px rgba(0, 0, 0, 0.25) inset,
			var(--button-shadow-hover);
		--header-shadow: -2px 0px 8px rgba(0, 0, 0, 0.25) inset;
		--header-shadow-responsve: var(--element-shadow);

		/* DARK THEME */
		--primary-color: #2a2a2a;
		--secondary-color: var(--material-color-grey-900);
		--tertiary-color: var(--material-color-grey-800);

		--accent-color: var(--material-color-teal-300);
		--accent-secondary-color: var(--material-color-teal-400);

		--heading-color: var(--material-color-grey-200);
		--subtitle-color: var(--material-color-grey-300);
		--footer-color: var(--material-color-grey-400);
		--text-color: var(--material-color-grey-200);
		--text-secondary-color: var(--material-color-grey-300);
		--text-tertiary-color: var(--material-color-grey-400);

		--border-color: var(--pure-black);
		--hr-border: 3px solid var(--material-color-grey-900);

		--button-fg-color: var(--text-color);
		--button-fg-color-hover: var(--text-color);
		--button-fg-color-active: var(--text-color);
		--button-bg-color: var(--material-color-grey-900);
		--button-bg-color-hover: var(--material-color-grey-900);
		--button-bg-color-active: var(--material-color-grey-900);
		--button-border-color: var(--pure-black);
	
		--header-fg-color: var(--text-color);
		--header-bg-color: var(--material-color-grey-900);

		--selection-background: var(--material-color-grey-300);
		--footer-background: none;
	}

	html {
		transition: 5s;
	}

	.wireframe-dynamic-color {
		filter: invert(1);
	}
}

* {
	box-sizing: border-box;
}

body, #svelte {
	margin: 0;
	top: 0;
	width: 100%;
	display: inline-flex;
	flex-flow: row;
	justify-content: flex-start;
	align-items: flex-start;
	background: var(--primary-color);
	color: var(--text-color);
	text-shadow: var(--global-text-shadow);
	font-size: 1.125rem;
	font-weight: 400;
	font-display: fallback;
	letter-spacing: 0;
	text-rendering: geometricPrecision;
	line-height: 1.5;
}
	
main {
	display: flex;
	flex-direction: column;
	margin: 0;
	top: 0;
	width: 100%;
	height: auto;
	box-sizing: border-box;
}

footer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 0;
	padding: 3rem;
	color: var(--footer-color);
	background: var(--footer-background);
	text-shadow: var(--footer-text-shadow);
	font-size: 80%;
	text-align: center;
}

.content,
.content-sidebar .sidebar {
	margin: 1rem auto;
	padding: 1rem;
	width: 100%;
}
.content {
	max-width: 800px;
}
.content .heading {
	margin: 2rem 0 5rem 0;
	text-align: center;
}
.content .heading h1 {
	margin: 1rem 0rem;
	color: var(--heading-color);
	font-size: 6rem;
	font-weight: 700;
	line-height: 1;
	text-align: center;
}
.content-sidebar {
	display: grid;
	grid-template-columns: 2fr minmax(320px, 1fr);
	gap: 1rem;
	width: 100%;
}

hr {
	width: 100%;
	border: none;
	border-bottom: var(--hr-border);
}

h1, h2, h3, h4, h5 {
	--size: 1;
	color: var(--heading-color);
	font-family: var(--font-heading);
}
h1 {
	margin: 0.325rem 0;
	font-size: 3rem;
	font-weight: 800;
}
h2 {
	margin: 0.25rem 0;
	font-size: 2.25rem;
	font-weight: 700;
}
h3 {
	margin: 0.25rem 0;
	font-size: 1.75rem;
	font-weight: 700;
}
h4 {
	margin: 0.125rem 0;
	font-size: 1.5rem;
	font-weight: 600;
}
h5 {
	margin: 0.125rem 0;
	font-size: 1.25rem;
	font-weight: 600;
}
sub {
	color: var(--subtitle-color);
	font-weight: 600;
}

a {
	color: var(--accent-color);
	text-decoration: 1px underline dotted var(--accent-color);
	transition: 0.2s linear;
}
a:hover {
	text-decoration-style: solid;
}

p {
	margin: 0.25rem 0 0.75rem 0;
}
p:last-child {
	margin-bottom: 0.25rem;
}

code, pre {
	color: var(--text-color);
	background: var(--tertiary-color);
	padding: 0.0625rem 0.25rem;
	font-size: 90%;
	font-family: var(--font-mono);
	font-weight: bold;
	overflow-x: auto;
}
pre {
	font-style: normal;
}

input, button, .button {
	font-size: inherit;
	font-family: var(--font-control);
	text-decoration: none;
}

:is(button, .button, input[type="submit"]) {
	margin: 0;
	padding: 0.5rem 1rem;
	color: var(--button-fg-color);
	background: var(--button-bg-color);
	text-align: center;
	font-weight: 700;
	white-space: nowrap;
	border: var(--border-width) solid var(--button-border-color);
	border-radius: var(--button-border-radius);
	box-shadow: var(--button-shadow);
	cursor: pointer;
	transition: 0.2s ease-in-out;
}
:is(button, .button, input[type="submit"]):hover {
	color: var(--button-fg-color-hover);
	background: var(--button-bg-color-hover);
	box-shadow: var(--button-shadow-hover);
	transition: 0.2s;
	transform: translate(var(--button-hover-transform-x), var(--button-hover-transform-y)) scale(var(--button-hover-transform-scale));
}
:is(button, .button, input[type="submit"]):active,
:is(button, .button, input[type="submit"]):focus:active {
	color: var(--button-fg-color-active);
	background: var(--button-bg-color-active);
	box-shadow: var(--button-shadow-active);
	outline: 3px solid var(--tertiary-color);
	animation: none;
	transform: translate(var(--button-active-transform-x), var(--button-active-transform-y)) scale(var(--button-active-transform-scale));
}
:is(button, .button, input[type="submit"]):active .icon svg,
:is(button, .button, input[type="submit"]):focus:active .icon svg {
	color: var(--button-fg-color-active) !important;
}
:is(button, .button, input[type="submit"]):focus {
	outline: none;
	animation: button-throbber 1s alternate-reverse infinite;
}
button:disabled, .button.disabled, input[type="submit"]:disabled {
	filter: saturate(0);
	opacity: 0.5;
	cursor: not-allowed;
	pointer-events: none;
}
small :is(button, .button, input[type="submit"]),
:is(button, .button, input[type="submit"]).button-small {
	padding: 0.25rem 0.75rem;
	font-size: 90%;
}

/* width */
::-webkit-scrollbar {
  width: 1.03125rem;
}

::-webkit-scrollbar-track {
  background: var(--tertiary-color);
}

::-webkit-scrollbar-thumb {
	margin: 0;
	padding: 0;
  background: var(--text-tertiary-color);
}
::-webkit-scrollbar-thumb:hover {
  background: var(--text-secondary-color);
}
::-webkit-scrollbar-thumb:active {
  background: var(--text-color);
}

@keyframes button-throbber {
	0% {
		outline: 3px solid var(--accent-secondary-color);
	}
	100% {
		outline: 3px solid var(--border-color);
	}
}

.icon {
	padding: 0.125rem;
	width: 2rem;
	height: 2rem;
	color: var(--subtitle-color);
}

section {
	display: inline-flex;
	flex-flow: column;
	justify-content: flex-start;
	align-items: stretch;
	margin: 0 auto;
	padding: 0;
	width: 100%;
}

.card, .engrave {
	display: inline-flex;
	flex-flow: column;
	justify-content: flex-start;
	align-items: flex-start;
	margin: 0;
	padding: 1rem;
	width: 100%;
	border-radius: var(--border-radius);
	border: var(--border-width) solid var(--border-color);
	box-shadow: var(--element-shadow-inverse);
}

.card {
	background: var(--secondary-color);
	box-shadow: var(--element-shadow);
}
.card .heading {
	display: inline-flex;
	flex-flow: row wrap;
	justify-content: space-between;
	align-items: center;
	margin: 0 0 1rem 0;
	inset: 0;
	padding: 0.25rem 0.5rem 1rem 0.5rem;
	width: 100%;
	border-bottom: var(--border-width) solid var(--border-color);
}
.card .heading .title {
	display: inline-flex;
	flex-flow: column;
	justify-content: center;
	align-items: flex-start;
	margin: 0.25rem 0 0.25rem 0;
	width: max-content;
}
.card .heading .title :is(h1, h2, h3, h4) {
	margin: 0 !important;
	padding: 0 !important;
	line-height: 1;
}
.card .heading .title sub {
	margin: 0.5rem 0 0 0;
	font-size: 1rem;
}
.card .heading .accessories {
	display: grid;
	grid-auto-flow: column;
	gap: 0.5rem;
	align-items: center;
	width: min-content;
}
.card .body {
	padding: 0.25rem 0.5rem 0.5rem 0.5rem;
	width: 100%;
}

.engrave {
	background: rgba(0,0,0,0.03125);
}

@media only screen and (prefers-color-scheme: dark) {
	.engrave {
		background: rgba(255,255,255,0.03125);
	}
}

.toast-window {
	position: fixed;
	display: inline-flex;
	flex-flow: column-reverse;
	justify-content: flex-start;
	align-items: flex-start;
	margin: auto 0.75rem 0.75rem auto;
	bottom: 0.75rem;
	right: 0.75rem;
	padding: 0;
	width: auto;
	max-height: 75vh;
	color: var(--text-color);
	background: var(--secondary-color);
	font-size: inherit;
	font-family: var(--font-control);
	border: solid var(--accent-color);
	border-width: var(--border-width) var(--border-width) 0px var(--border-width);
	border-radius: var(--border-radius);
	box-shadow: var(--toast-shadow);
	transition: 0.2s;
}
.toast-window-open {
	width: 100%;
	max-width: 240px;
	transition: 0.2s;
}
.toast-window .heading {
	display: inline-flex;
	flex-flow: row;
	justify-content: flex-end;
	align-items: center;
	margin: 0;
	padding: 0 1rem;
	width: 100%;
	color: var(--secondary-color);
	background: var(--accent-color);
	border: solid var(--accent-color);
	border-width: var(--border-width) var(--border-width) 0px var(--border-width);
	border-radius: var(--border-radius);
	transition: 0.2s linear;
	user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
}
.toast-window-open .heading {
	border-radius: 0 0 var(--border-radius) var(--border-radius);
}
.toast-window .heading:hover {
	background: var(--accent-secondary-color);
}
.toast-window .heading:active {
	background: var(--accent-secondary-color);
}
.toast-window .heading .title {
	--padding: 0.75rem;
	padding-top: var(--padding);
	padding-bottom: var(--padding);
	font-weight: bold;
}
.toast-window .heading .accessories {
	--padding: 0.25rem;
	padding-bottom: var(--padding);
}
.toast-window .heading .accessories :is(button, .button) {
	padding: 0.25rem 0.5rem;
	font-size: 0.625rem;
	text-transform: uppercase;
	border-top: none;
	border-color: var(--accent-secondary-color);
	border-radius: 0 0 var(--border-radius) var(--border-radius);
}
.toast-window .body {
	margin: 0;
	padding: 0.25rem;
	width: 100%;
	border-radius: var(--border-radius) var(--border-radius) 0 0;
	overflow-y: auto;
}
.toast-window-open .body {
	width: 100%;
	min-width: 240px !important;
}
.toast-window .body ul {
	display: inline-flex;
	flex-flow: column;
	justify-content: stretch;
	align-items: stretch;
	margin: 0;
	padding: 0;
	width: 100%;
	list-style: none;
}
.toast-window .body li {
	display: inline-flex;
	flex-flow: row;
	justify-content: stretch;
	align-items: center;
	width: 100%;
	text-align: right;
}
.toast-window .body a {
	padding: 0.5rem 0.75rem;
	width: 100%;
	color: var(--text-color);
	text-decoration: none;
	border-radius: var(--border-radius);
	transition: 0.2s linear;
	user-drag: none;
	-webkit-user-drag: none;
}
.toast-window .body a:hover {
	color: var(--secondary-color);
	background: var(--accent-color);
	text-decoration: none;
}
.toast-window .body a:active {
	color: var(--secondary-color);
	background: var(--text-color);
	box-shadow: 0px 2px 2px rgba(0,0,0,0.5) inset;
}
.toast-window .body a:last-child {
	border-bottom: none;
}

.slide {
	display: inline-flex;
	flex-flow: column;
	justify-content: center;
	align-items: center;
	gap: 2rem;
	margin: 1rem 0rem;
	width: 100%;
}

.showcase {
	display: grid;
	grid-auto-flow: column;
	gap: 3rem;
	align-items: center;
}
.showcase:first-child {
	justify-content: flex-end;
	margin-left: auto;
	margin-right: 0;
}
.showcase:last-child {
	justify-content: flex-end;
	margin-left: 0;
	margin-right: auto;
}
.showcase-left {
	grid-template-columns: 1fr 0fr;
}
.showcase-right {
	grid-template-columns: 0fr 1fr;
}

.toolbar {
	position: sticky;
	display: inline-flex;
	flex-flow: row;
	justify-content: space-between;
	align-items: center;
	margin: 0;
	top: 0;
	padding: 0.25rem;
	width: 100%;
	height: 3.5rem;
	background: var(--secondary-color);
	border-bottom: var(--border-width) solid var(--border-color) !important;
}
.toolbar h4 {
	color: var(--subtitle-color);
	user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
}

@media (max-width: 767px) {
	body, #svelte {
		flex-flow: column;
		justify-content: flex-start;
		align-items: center;
		width: 100%;
		height: auto;
		font-size: 1.125rem;
	}

	footer {
		padding: 1rem 0;
	}

	p {
		padding: 0.25rem 0rem 0.5rem 0rem;
	}
	p:last-child {
		padding-bottom: 0rem;
	}

	.content .heading {
		margin: 1rem 0rem;
	}
	.content .heading h1 {
		margin: 0rem;
		font-size: 4rem;
		font-weight: 600;
		line-height: 1;
	}

	.card {
		padding: 0.75rem;
	}
	.card .heading,
	.card .heading :is(.title, .accessories) {
		flex-flow: column;
		justify-content: center;
		align-items: center;
	}
	.card .heading.toggle {
		flex-flow: row;
		justify-content: space-between;
		align-items: center;
	}
	.card .heading .title {
		margin: 0.75rem 0 1.5rem 0;
		width: 100%;
		text-align: center;
	}
	.card .heading .title :is(h1, h2, h3, h4, h5) {
		line-height: 1.325;
	}
	.card .heading .title sub {
		margin: 0.125rem 0 0 0;
	}
	.card .heading .accessories {
		grid-auto-columns: 1fr;
		justify-content: stretch;
		width: 100%;
	}

	.card .heading.toggle :is(.title, .accessories) {
		margin: 0;
		width: min-content;
	}

	.toast-window {
		display: none;
	}

	.slide {
		gap: 1rem;
		min-height: none;
		margin: 0.5rem 0rem 2rem 0rem;
	}

	.showcase {
		display: inline-flex;
		gap: 2.5rem;
		flex-flow: column;
		justify-content: center;
		align-items: center;
		margin: 1rem 0;
	}
	.showcase :first-child, .showcase :last-child {
		justify-content: center;
		margin: auto;
		text-align: left;
	}
	.showcase-left {
		flex-flow: column-reverse;
	}
}
