a.watching-show-card,
a.watching-show-card:hover {
  text-decoration: none;
}
.watching-show-card {
  width: 100%;
  padding: 1rem;
  display: inline-flex;
  flex-flow: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 0.5rem;
  color: var(--fg-color);
  border-radius: var(--border-radius);
  cursor: pointer;
}
.watching-show-card:is(:hover, :focus) {
  background: var(--bg-color-2);
}
.watching-show-card:active {
  background: var(--bg-color-3);
}
@media (prefers-color-scheme: dark) {
  .watching-show-card:is(:hover, :focus) {
    background: var(--bg-color-2);
  }
  .watching-show-card:active {
    background: var(--bg-color);
  }
}

.watching-show-card h3 {
  margin: 0rem 0rem 1rem 0rem;
}

.watching-show-card .poster {
  width: auto;
  height: min-content;
  display: inline-flex;
}
.watching-show-card .poster img {
  height: 108px;
  border: var(--border-width) solid var(--border-color);
  border-radius: var(--border-radius);
  -webkit-user-drag: none;
}
.watching-show-card:is(:hover, :focus) .poster img {
  box-shadow: var(--preset-shadow-component);
}
.watching-show-card:hover .poster img {
  transform: scale(1.02);
  transition: 0.2s;
}
.watching-show-card:active .poster img {
  transform: scale(1);
}

.watching-show-card .metadata {
  width: 100%;
  padding: 0rem 0.5rem;
  display: inline-flex;
  flex-flow: column;
  align-items: flex-start;
  justify-content: center;
  gap: 0;
  text-align: left;
}
@media (max-width: 767px) {
  .watching-show-card .metadata {
    padding: 0;
  }
}

.watching-show-card .metadata h4 {
  width: 100%;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  font-weight: 800;
}

.watching-show-card .metadata sub {
  color: var(--fg-color-3);
  font-family: var(--font-family-widget);
}

.watching-show-card .metadata .badge {
  margin: 0.5rem 0rem 0rem 0rem;
}

.card-list .watching-show-card {
  padding: 0.5rem;
}

.card-list .watching-show-card .poster img {
  width: 64px;
  height: 96px;
}
