.paper {
  margin: 0;
  padding: 1rem 1.25rem;
  display: inline-flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: flex-start;
  color: var(--fg-color);
  background: none;
  box-shadow: var(--preset-shadow-component);
  border: var(--border-width) solid var(--border-color);
  border-radius: var(--border-radius);
}

.paper.disabled {
  opacity: 0.75;
  cursor: default;
  pointer-events: none;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
}

.paper.link-list {
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: var(--font-family-widget);
}

.paper.link-list > ul {
  list-style: none;
  width: 100%;
  margin: 0;
  padding: 0;
  display: inline-flex;
  flex-flow: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 0;
}

.paper.link-list > ul > li {
  list-style: none;
  width: 100%;
  margin: 0;
  padding: 0;
  border-bottom: var(--border-width) solid var(--border-color);
}
.paper.link-list > ul > li:last-of-type {
  border-bottom: none;
}

.paper.link-list > ul > li > a {
  width: 100%;
  margin: 0;
  padding: 0.5rem 1rem;
  display: grid;
  grid-template-columns: 3fr 0fr 0fr;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  color: var(--fg-color);
  background: none;
  text-decoration: none;
  transition: var(--transition);
}
.paper.link-list > ul > li:first-of-type > a {
  border-radius: var(--border-radius) var(--border-radius) 0 0;
}
.paper.link-list > ul > li:last-of-type > a {
  border-radius: 0 0 var(--border-radius) var(--border-radius);
}
.paper.link-list > ul > li > a:hover {
  background: var(--bg-color-2);
  transition: var(--transition);
}
.paper.link-list > ul > li > a:active {
  background: var(--bg-color-3);
  transition: var(--transition);
}

.paper.link-list > ul > li > a > h3 {
  font-size: 1.25rem;
  font-weight: bold;
}
.paper.link-list > ul > li > a > span.timestamp {
  color: var(--fg-color-3);
  font-size: 0.8rem;
  font-weight: normal;
  font-style: italic;
  white-space: nowrap;
}
.paper.link-list > ul > li > a > span:is(.timestamp, .status) {
  display: inline-flex;
  flex-flow: row;
  align-items: center;
  justify-content: flex-end;
}
